<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="home"
            class="com.sg.business.home.view.BulletinBoardView"
            icon="image/bulletin_24.png"
            id="home.bulletinboard"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="home"
            class="com.sg.business.home.view.LastOpened"
            id="home.lastopen"
            name="%view.name.0"
            restorable="true">
      </view>
      <category
            id="home"
            name="主页">
      </category>
      <view
            class="com.sg.business.home.view.MyCalendar"
            id="home.mycalender"
            name="%view.name.1"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="home.bulletinboard"
            tree="home.bulletinboard">
         <searchAction>
            <column
                  column="desc"
                  name="%column.name"
                  type="String">
            </column>
            <column
                  column="publisher"
                  name="%column.name.0"
                  type="String">
            </column>
            <column
                  column="publish_date"
                  name="%column.name.1"
                  type="Date">
            </column>
         </searchAction>
         <filterAction>
            <column
                  column="desc"
                  name="%column.name.2"
                  type="String">
            </column>
            <column
                  column="publisher"
                  name="%column.name.3"
                  type="String">
            </column>
            <column
                  column="publish_date"
                  name="%column.name.4"
                  type="Date">
            </column>
         </filterAction>
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.tree">
      <tree
            autoExpandLevel="-1"
            canCreate="true"
            customItemHeight="70"
            dataSet="com.sg.business.model.dataset.bulletinboard.BulletinBoardDataSet"
            editorId="bulletinboard.editor.create"
            headerVisiable="false"
            id="home.bulletinboard"
            limit="100"
            markupEnabled="true"
            multiSelection="true"
            popupMenu="popup:menu.bulletinboard">
         <structure
               modelRelation="bulletinboard_bulletinboard">
         </structure>
         <column
               column="desc"
               labelProvider="com.sg.widgets.commons.labelprovider.HTMLLabelprovider"
               lazyDisplay="true"
               name="%column.name.5"
               style="SWT.LEFT"
               type="String"
               width="-1"></column>
      </tree>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:menu.bulletinboard">
         <command
               commandId="bulletinboard.create"
               icon="image/bulletin_add_24.png"
               label="%command.label"
               style="push">
         </command>
         <command
               commandId="bulletinboard.reply"
               icon="image/bulleting_reply_24.png"
               label="%command.label.0"
               style="push">
         </command>
         <command
               commandId="bulletinboard.open"
               icon="image/24_blank.png"
               label="%command.label.1"
               style="push">
         </command>
         <separator
               name="bulletinboard.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.sg.widgets.command.edit"
               icon="image/bulletin_edit_24.png"
               label="%command.label.2"
               style="push">
         </command>
         <command
               commandId="com.sg.widgets.command.refresh"
               icon="image/refresh_24.png"
               label="%command.label.3"
               style="push">
         </command>
         <command
               commandId="com.sg.widgets.command.delete"
               icon="image/bulletin_remove_24.png"
               label="%command.label.4"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
