<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="jygenericapprovalprocess.approve"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jygenericapprovalprocess.audit"
            name="审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jygenericapprovalprocess.check"
            name="校核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="jy.jyGenericApprovalProcess"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="jygenericapprovalprocess.approve"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jygenericapprovalprocess.audit"
            name="审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jygenericapprovalprocess.check"
            name="校核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jygenericapprovalprocess.standardization"
            name="标准化审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="jy.jyGenericApprovalProcess1"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="jygenericapprovalprocess.approve"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jygenericapprovalprocess.audit"
            name="审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="jy.jyGenericApprovalProcess2"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="jygenericapprovalprocess.approve"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess3">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="jy.jyGenericApprovalProcess3"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jygenericapprovalprocess.approve"
            name="%editor.name">
         <basicpage
               id="page1"
               title="%basicpage.title">
            <pagecolumn>
               <section
                     label="%section.label">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="%text.label"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="%radio.label"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="true"
                        type="DBObject">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="%basicpage.title.0">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.1">
            <pagecolumn>
               <section
                     label="%section.label.0">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jygenericapprovalprocess.audit"
            name="%editor.name.0">
         <basicpage
               id="page1"
               title="%basicpage.title.2">
            <pagecolumn>
               <section
                     label="%section.label.1">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="%text.label.0"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="%radio.label.0"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="true"
                        type="DBObject">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="%basicpage.title.3">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.4">
            <pagecolumn>
               <section
                     label="%section.label.2">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label.0"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jygenericapprovalprocess.check"
            name="%editor.name.1">
         <basicpage
               id="page1"
               title="%basicpage.title.5">
            <pagecolumn>
               <section
                     label="%section.label.3">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="%text.label.1"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="%radio.label.1"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="true"
                        type="DBObject">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="%basicpage.title.6">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.7">
            <pagecolumn>
               <section
                     label="%section.label.4">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label.1"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jygenericapprovalprocess.standardization"
            name="%editor.name.2">
         <basicpage
               id="page1"
               title="%basicpage.title.8">
            <pagecolumn>
               <section
                     label="%section.label.5">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="%text.label.2"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="%radio.label.2"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="true"
                        type="DBObject">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="%basicpage.title.9">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.10">
            <pagecolumn>
               <section
                     label="%section.label.6">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label.2"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>

</plugin>
