<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="jygenericapprovalprocess.approve"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jygenericapprovalprocess.audit"
            name="审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jygenericapprovalprocess.check"
            name="校核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="jy.jyGenericApprovalProcess"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="jygenericapprovalprocess.approve"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jygenericapprovalprocess.audit"
            name="审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jygenericapprovalprocess.check"
            name="校核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jygenericapprovalprocess.standardization"
            name="标准化审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="jy.jyGenericApprovalProcess1"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="jygenericapprovalprocess.approve"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jygenericapprovalprocess.audit"
            name="审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="jy.jyGenericApprovalProcess2"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="jygenericapprovalprocess.approve"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="jy.jyGenericApprovalProcess3">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="jy.jyGenericApprovalProcess3"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jygenericapprovalprocess.approve"
            name="批准">
         <basicpage
               id="page1"
               title="批准">
            <pagecolumn>
               <section
                     label="请填写审批意见">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="true"
                        type="DBObject">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程">
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jygenericapprovalprocess.audit"
            name="审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写审批意见">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="true"
                        type="DBObject">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程">
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jygenericapprovalprocess.check"
            name="校核 ">
         <basicpage
               id="page1"
               title="校核 ">
            <pagecolumn>
               <section
                     label="请填写审批意见">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="true"
                        type="DBObject">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程">
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jygenericapprovalprocess.standardization"
            name="标准化审核">
         <basicpage
               id="page1"
               title="标准化审核">
            <pagecolumn>
               <section
                     label="请填写审批意见">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="true"
                        type="DBObject">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程">
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>

</plugin>
