<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mobnut.admin.adminFunction">
      <adminFunction
            id="com.sg.business.finance.admin.budgetitem"
            image="image/budgetitem_48.png"
            label="预算科目"
            run="com.sg.business.finance.admin.BudgetItemFunction">
      </adminFunction>
      <adminFunction
            id="com.sg.business.finance.admin.DevAccountNumberSetting"
            image="image/item_48.png"
            label="研发费用科目"
            run="com.sg.business.finance.admin.DevAccountNumberSetting"
            tooltip="设置SAP">
      </adminFunction>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.sg.business.finance.editor.BudgetItemEditor"
            default="false"
            id="com.sg.business.finance.budgetitemeditor"
            name="默认预算科目">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.sg.widgets.part.view.TableNavigator"
            id="financial.accountnumber"
            name="研发费用科目表"
            restorable="true">
      </view>
      <view
            class="com.sg.widgets.part.view.TreeNavigator"
            id="finance.org.navigator"
            name="成本中心"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="financial.accountnumber"
            table="financial.accountnumber">
         <filterAction>
            <column
                  column="desc"
                  name="科目名称"
                  type="String">
            </column>
            <column
                  column="accountnumber"
                  name="代码"
                  type="String">
            </column>
         </filterAction>
         <searchAction>
            <column
                  column="desc"
                  name="科目名称"
                  type="String">
            </column>
            <column
                  column="accountnumber"
                  name="代码"
                  type="String">
            </column>
         </searchAction>
      </navigator>
      <navigator
            id="finance.org.navigator"
            tree="finance.org.navigator">
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            dataSet="com.sg.business.model.dataset.financial.CostAccountSetting"
            editorId="editor.devaccountnumber"
            id="financial.accountnumber">
         <column
               column="desc"
               name="科目名称"
               type="String"
               width="120">
         </column>
         <column
               column="accountnumber"
               name="代码"
               type="String"
               width="120">
         </column>
      </table>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="costaccount"
            dbName="pm2"
            id="editor.devaccountnumber"
            name="科目">
         <basicpage
               id="basicpage1"
               title="基本信息">
            <pagecolumn>
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="科目名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="accountnumber"
                        label="科目代码"
                        labelVisible="true"
                        name="accountnumber"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.widgets.tree">
      <tree
            dataSet="com.sg.business.model.dataset.finance.FinanceOrganizationDataSet"
            id="finance.org.navigator">
      </tree>
   </extension>

</plugin>
