<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mobnut.admin.adminFunction">
      <adminFunction
            id="com.sg.business.finance.admin.budgetitem"
            image="image/budgetitem_48.png"
            label="预算科目"
            run="com.sg.business.finance.admin.BudgetItemFunction">
      </adminFunction>
      <adminFunction
            id="com.sg.business.finance.admin.DevAccountNumberSetting"
            image="image/item_48.png"
            label="研发费用科目"
            run="com.sg.business.finance.admin.DevAccountNumberSetting"
            tooltip="设置SAP">
      </adminFunction>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.sg.business.finance.editor.BudgetItemEditor"
            default="false"
            id="com.sg.business.finance.budgetitemeditor"
            name="默认预算科目">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.sg.widgets.part.view.TableNavigator"
            id="financial.accountnumber"
            name="研发费用科目表"
            restorable="true">
      </view>
      <view
            class="com.sg.widgets.part.view.TableNavigator"
            id="finance.org.navigator"
            name="成本中心导航"
            restorable="true">
      </view>
      <view
            class="com.sg.business.finance.rndcost.RNDCostAdjustmentView"
            id="finance.rndcost"
            name="研发费用"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="financial.accountnumber"
            table="financial.accountnumber">
         <filterAction>
            <column
                  column="desc"
                  name="科目名称"
                  type="String">
            </column>
            <column
                  column="accountnumber"
                  name="代码"
                  type="String">
            </column>
         </filterAction>
         <searchAction>
            <column
                  column="desc"
                  name="科目名称"
                  type="String">
            </column>
            <column
                  column="accountnumber"
                  name="代码"
                  type="String">
            </column>
         </searchAction>
         <exportAction>
            <column
                  column="desc"
                  name="科目名称"
                  type="String">
            </column>
            <column
                  column="accountnumber"
                  name="代码"
                  type="String">
            </column>
         </exportAction>
         <importAction>
            <column
                  column="desc"
                  isKey="true"
                  name="科目名称"
                  type="String">
            </column>
            <column
                  column="accountnumber"
                  isKey="true"
                  name="代码"
                  type="String">
            </column>
         </importAction>
      </navigator>
      <navigator
            id="finance.org.navigator"
            table="finance.org.navigator">
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            collectionName="costaccount"
            dataSet="com.sg.business.model.dataset.financial.CostAccountSetting"
            dbName="pm2"
            editorId="editor.devaccountnumber"
            id="financial.accountnumber">
         <column
               column="desc"
               name="科目名称"
               type="String"
               width="120">
         </column>
         <column
               column="accountnumber"
               name="代码"
               type="String"
               width="120">
         </column>
      </table>
      <table
            canCreate="false"
            canDelete="false"
            canEdit="false"
            canRead="false"
            dataSet="com.sg.business.model.dataset.finance.FinanceOrganizationDataSet"
            id="finance.org.navigator">
         <column
               column="fulldesc"
               name="组织全称"
               style="SWT.LEFT"
               type="String"
               width="-1">
         </column>
         <column
               columnDefinitionId="organization.costCenterCode">
         </column>
         <column
               column="companycode"
               name="公司代码"
               type="String">
         </column>
      </table>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="costaccount"
            dbName="pm2"
            id="editor.devaccountnumber"
            name="科目">
         <basicpage
               id="basicpage1"
               title="基本信息">
            <pagecolumn>
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="科目名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="accountnumber"
                        label="科目代码"
                        labelVisible="true"
                        name="accountnumber"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.mobnut.admin.schedualJob">
      <schedualJob
            day="1"
            id="finance.schedual.rndcostallocation"
            name="上月研发费用获取和计算"
            rule="month"
            run="com.sg.business.finance.schedual.RunRNDCostAllocation"
            time="0:05:00">
      </schedualJob>
      <schedualJob
            day="1"
            id="finance.schedual.salesincomeallocation"
            name="上月销售收入获取和计算"
            rule="month"
            run="com.sg.business.finance.schedual.RunIncomeAllocation"
            time="2:00:00">
      </schedualJob>
      <schedualJob
            day="1"
            id="finance.schedual.workordercostgather"
            name="上月工作令号相关研发成本获取和计算"
            rule="month"
            run="com.sg.business.finance.schedual.WorkorderCostGather"
            time="1:05:00">
      </schedualJob>
      <schedualJob
            day="100000"
            id="finance.schedual.loaddemodata"
            name="处理基础数据中的工时分配"
            rule="month"
            run="com.sg.business.finance.schedual.LoadDemoData"
            time="2:00:00">
      </schedualJob>
      <schedualJob
            day="1000000"
            id="finance.schedual.calculateProductSalesData"
            name="处理产品的销售数据（一次性）"
            rule="month"
            run="com.sg.business.finance.schedual.CalculateProductSalesDate"
            time="0:05:00">
      </schedualJob>
   </extension>

</plugin>
