<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="document"
            dbName="pm2"
            id="document.productproposal"
            name="新产品开发建议及立项书"
            reportTemplate="template/document.productproposal.rptdesign"
            titleToolTips="新产品开发建议及立项书">
         <basicpage
               description="基本信息"
               id="page1"
               pageDelegator="com.tmt.document.exporttool.ExportableUserTaskPageDelegator"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本属性">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="projectdesc"
                        label="项目名称"
                        labelVisible="true"
                        name="projectdesc"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="workorder"
                        label="工作令号"
                        labelVisible="true"
                        name="workorder"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
               <section
                     label="用户信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="customerdesc"
                        label="单位名称"
                        labelVisible="true"
                        name="customerdesc"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <fieldgroup
                        columnCount="2">
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="customerlinkman"
                           label="联系人"
                           labelVisible="true"
                           name="customerlinkman"
                           persistable="true"
                           required="false"
                           type="String">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="customertel"
                           label="电话"
                           labelVisible="true"
                           name="customertel"
                           persistable="true"
                           required="false"
                           type="String">
                     </text>
                  </fieldgroup>
                  <fieldgroup
                        columnCount="2">
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="customerfax"
                           label="传真"
                           labelVisible="true"
                           name="customerfax"
                           persistable="true"
                           required="false"
                           type="String">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="customermail"
                           label="E-mail"
                           labelVisible="true"
                           name="customermail"
                           persistable="true"
                           required="false"
                           type="String">
                     </text>
                  </fieldgroup>
               </section>
               <section
                     label="样品来源">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="100"
                        id="samplesource"
                        label="样品来源"
                        labelVisible="false"
                        name="samplesource"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
               <section
                     label="项目简介及市场预测">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="100"
                        id="projectdescription"
                        label="项目简介及市场预测"
                        labelVisible="false"
                        name="projectdescription"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
               <section
                     label="项目要求">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="60"
                        id="technicalrequirements"
                        label="产品技术要求（包括功能、性能、尺寸及特殊特性等）："
                        labelVisible="true"
                        name="technicalrequirements"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="60"
                        id="packagerequirements"
                        label="产品包装/标识要求"
                        labelVisible="true"
                        name="packagerequirements"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="60"
                        id="schedulerequirements"
                        label="进度要求"
                        labelVisible="true"
                        name="schedulerequirements"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
               <section
                     label="开发费用预算">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="total"
                        label="合计"
                        labelVisible="true"
                        name="total"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <fieldgroup
                        columnCount="3">
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="mold"
                           label="模具"
                           labelVisible="true"
                           name="mold"
                           persistable="true"
                           required="false"
                           type="String">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="tooling"
                           label="工装"
                           labelVisible="true"
                           name="tooling"
                           persistable="true"
                           required="false"
                           type="String">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="iron"
                           label="铁件"
                           labelVisible="true"
                           name="iron"
                           persistable="true"
                           required="false"
                           type="String">
                     </text>
                  </fieldgroup>
                  <fieldgroup
                        columnCount="3">
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="trial"
                           label="样品试制"
                           labelVisible="true"
                           name="trial"
                           persistable="true"
                           required="false"
                           type="String">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="test"
                           label="试验"
                           labelVisible="true"
                           name="test"
                           persistable="true"
                           required="false"
                           type="String">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="other"
                           label="其它"
                           labelVisible="true"
                           name="other"
                           persistable="true"
                           required="false"
                           type="String">
                     </text>
                  </fieldgroup>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               title="产品简介">
            <pagecolumn
                  id="2">
               <section
                     label="产品简介">
                  <table
                        addTableItemHandler="com.tmt.document.tb.AddProductItem"
                        ctableId="document.productproposal.table"
                        editable="true"
                        id="product"
                        label="产品"
                        labelVisible="false"
                        name="product"
                        persistable="true"
                        required="false">
                  </table>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page3"
               title="审批记录">
            <pagecolumn
                  id="3">
               <section
                     label="审批记录">
                  <text
                        editPart="Text(Multi Line)"
                        editable="false"
                        heightHint="500"
                        id="wfhistory"
                        labelVisible="false"
                        name="wfhistory"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <versionControl>
            <fieldname
                  fieldname="vault">
            </fieldname>
         </versionControl>
      </editor>
      <editor
            collectionName="dummy"
            dbName="pm2"
            id="document.productproposal.product"
            name="产品简介">
         <basicpage
               id="page1"
               title="产品简介">
            <pagecolumn
                  id="1">
               <section
                     label="产品简介">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="productnumber"
                        label="物资编号"
                        labelVisible="true"
                        name="productnumber"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="productdesc"
                        label="产品名称"
                        labelVisible="true"
                        name="productdesc"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="customerno"
                        label="用户图号"
                        labelVisible="true"
                        name="customerno"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="companyno"
                        label="公司图号"
                        labelVisible="true"
                        name="companyno"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="docno"
                        label="文件编号"
                        labelVisible="true"
                        name="docno"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="number"
                        label="台份数"
                        labelVisible="true"
                        name="number"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="qty"
                        label="发货数量"
                        labelVisible="true"
                        name="qty"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            dataSet="com.tmt.document.tb.ProductProposalSet"
            id="document.productproposal.table">
         <column
               column="productnumber"
               name="物资编号"
               type="String"></column>
         <column
               column="productdesc"
               name="产品名称"
               type="String"></column>
         <column
               column="customerno"
               name="用户图号"
               type="String"></column>
         <column
               column="companyno"
               name="公司图号"
               type="String"></column>
         <column
               column="docno"
               name="文件编号"
               type="String"></column>
         <column
               column="number"
               name="台份数"
               type="String">
         </column>
         <column
               column="qty"
               name="发货数量"
               type="String">
         </column>
      </table>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="document.editor.wfhistory"
            table="document.editor.wfhistory">
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            canCreate="false"
            customItemHeight="40"
            dataSet="com.tmt.document.exporttool.DataSet.WFHistoryOfDocument"
            headerVisiable="false"
            id="document.editor.wfhistory"
            lineVisiable="false"
            markupEnabled="true">
         <column
               column="desc"
               labelProvider="com.tmt.document.exporttool.labelprovider.WFHistoryLabelProvider"
               name="流程名称"
               width="200"></column>
      </table>
   </extension>

</plugin>
