<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="xtDocumentApprove.auditor"
            name="审核"
            persistentFields="choice,comment"
            processDefinitionId="xt.xtDocumentApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="xtDocumentApprove.approve"
            name="批准"
            persistentFields="choice,comment"
            processDefinitionId="xt.xtDocumentApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="xtDocumentApprove.auditor"
            name="校核"
            persistentFields="choice,comment"
            processDefinitionId="xt.xtDocumentApprove2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="xtDocumentApprove.approve"
            name="批准"
            persistentFields="choice,comment"
            processDefinitionId="xt.xtDocumentApprove2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="xtDocumentApprove.auditor"
            name="校核"
            persistentFields="choice,comment"
            processDefinitionId="xt.xtDrawingApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="xtDocumentApprove.auditor"
            name="工艺"
            persistentFields="choice,comment"
            processDefinitionId="xt.xtDrawingApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="xtDocumentApprove.auditor"
            name="审核"
            persistentFields="choice,comment"
            processDefinitionId="xt.xtDrawingApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="xtDocumentApprove.approve"
            name="批准"
            persistentFields="choice,comment"
            processDefinitionId="xt.xtDrawingApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="xtDocumentApprove.auditor"
            name="审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="true"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="xtDocumentApprove.approve"
            name="批准">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="true"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="xtProjectApprove.audit"
            name="审批"
            persistentFields="choice"
            processDefinitionId="xt.xtProjectApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
         <processParameter
               processParameterDelegator="com.sg.business.commons.field.processparameterdelegator.ChangetToList"
               processParameterName="reviewer_list"
               taskFormFieldName="reviewer_list">
         </processParameter>
         <processParameter
               processParameterName="reviewer_admin"
               taskFormFieldName="reviewer_admin">
         </processParameter>
         <processParameter
               processParameterName="messagecontent"
               taskFormFieldName="messagecontent">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="xtProjectApprove.expertgroupreview"
            name="专家组预审"
            persistentFields="comment,choice"
            processDefinitionId="xt.xtProjectApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="xtProjectApprove.reviewplan"
            name="评审实施计划"
            persistentFields="comment,choice"
            processDefinitionId="xt.xtProjectApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="xtProjectApprove.expertgroupcountersign"
            name="专家组会签"
            persistentFields="comment,choice"
            processDefinitionId="xt.xtProjectApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="xtProjectApprove.reviewteamleader"
            name="评审组组长审批"
            persistentFields="comment,choice"
            processDefinitionId="xt.xtProjectApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="xtProjectApprove.meetingreview"
            name="会议评审"
            persistentFields="comment,choice"
            processDefinitionId="xt.xtProjectApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="xtProjectApprove.resultaudit"
            name="处理结果审核"
            persistentFields="comment,choice"
            processDefinitionId="xt.xtProjectApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="xtProjectApprove.audit"
            name="审批">
         <basicpage
               id="basicpage1"
               title="审批">
            <pagecolumn>
               <section
                     label="请填写批准意见、结论和评审专家组成员">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="messagecontent"
                        label="评审会议通知"
                        labelVisible="true"
                        name="messagecontent"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <navigatorSelector
                        editable="true"
                        id="reviewer_admin"
                        label="评审组组长"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                        modelClass="com.sg.business.model.User"
                        name="reviewer_admin"
                        navigatorId="organization.user"
                        navigatorReturnField="userid"
                        persistable="true"
                        required="true">
                  </navigatorSelector>
                  <list
                        addTableItemHandler="com.sg.business.commons.field.action.AddRiewerList"
                        editable="true"
                        id="reviewer_list"
                        label="评审组"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProviderInField"
                        name="reviewer_list"
                        persistable="true"
                        required="true">
                  </list>
                  <radio
                        editable="true"
                        id="choice"
                        label="资料预审"
                        labelVisible="false"
                        name="choice"
                        option="是否资料预审"
                        persistable="true"
                        required="true"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="xtProjectApprove.expertgroupreview"
            name="专家组预审">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写预审意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="预审意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="预审结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="xtProjectApprove.reviewplan"
            name="评审实施计划">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填评审实施意见和计划">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="评审实施计划意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="评审实施计划"
                        labelVisible="false"
                        name="choice"
                        option="评审实施计划"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="xtProjectApprove.expertgroupcountersign"
            name="专家组会签">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写会签意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="会签意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="会签结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="xtProjectApprove.reviewteamleader"
            name="评审组组长审批">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写评审意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="评审意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="是否整改"
                        labelVisible="false"
                        name="choice"
                        option="是否整改"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="xtProjectApprove.meetingreview"
            name="会议评审">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写会议评审意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="评审意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="评审结论"
                        labelVisible="false"
                        name="choice"
                        option="是否整改"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="xtProjectApprove.resultaudit"
            name="处理结果审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写审核意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="审核意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="是否通过"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="tbprojectapplication.application"
            name="立项申请"
            persistentFields="prj_number"
            processDefinitionId="xt.xtProjectApplication"
            saveHandler="com.tmt.xt.handler.ProjectApplicationAuditSaveOfXT">
         <processParameter
               processParameterName="prj_number"
               taskFormFieldName="prj_number">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="tbprojectapplication.applicationdept"
            name="申请部门负责人审核"
            persistentFields="choice,comment"
            processDefinitionId="xt.xtProjectApplication">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="tbprojectapplication.reviewer"
            name="确认评审组"
            persistentFields="reviewer_list,choice,confirmtime,confirmaddress"
            processDefinitionId="xt.xtProjectApplication">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
         <processParameter
               processParameterDelegator="com.sg.business.commons.field.processparameterdelegator.ChangetToList"
               processParameterName="reviewer_list"
               taskFormFieldName="reviewer_list">
         </processParameter>
         <processParameter
               processParameterName="confirmtime"
               taskFormFieldName="confirmtime">
         </processParameter>
         <processParameter
               processParameterName="confirmaddress"
               taskFormFieldName="confirmaddress">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="tb.tbProjectReview.expertgroupcountersign"
            name="专家评审"
            persistentFields="choice,comment,commentfile"
            processDefinitionId="xt.xtProjectReview">
      </taskForm>
      <taskForm
            editorId="tb.tbProjectReview.meetingreview"
            name="会议评审"
            persistentFields="comment,choice"
            processDefinitionId="xt.xtProjectReview">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="tbprojectapplication.approve"
            name="批准"
            persistentFields="choice,comment"
            processDefinitionId="xt.xtProjectApplication">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="tbprojectapplication.assign"
            name="指派项目负责人"
            persistentFields="prj_manager"
            processDefinitionId="xt.xtProjectApplication"
            saveHandler="com.tmt.xt.handler.ProjectApplicationAuditSaveOfXT">
         <processParameter
               processParameterName="prj_manager"
               taskFormFieldName="prj_manager">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="tbprojectapplication.workorder"
            inputHandler="com.tmt.xt.handler.ProjectApplicationWorkOrderOfXT"
            name="审批工作令号"
            persistentFields="prj_number"
            processDefinitionId="xt.xtProjectApplication">
         <processParameter
               processParameterName="prj_number"
               taskFormFieldName="prj_number">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="tbprojectapplication.createproject"
            name="创建项目"
            persistentFields="project_id"
            processDefinitionId="xt.xtProjectApplication">
         <processParameter
               processParameterDelegator="com.sg.business.commons.field.processparameterdelegator.ChangetToObjectId"
               processParameterName="project_id"
               taskFormFieldName="project_id">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="tbprojectapplication.financial"
            inputHandler="com.tmt.xt.handler.ProjectApplicationWorkOrderOfXT"
            name="财务审核"
            persistentFields="choice,changeworkorder,changebudget"
            processDefinitionId="xt.xtProjectApplication">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
         <processParameter
               processParameterName="changeworkorder"
               taskFormFieldName="changeworkorder">
         </processParameter>
         <processParameter
               processParameterName="changebudget"
               taskFormFieldName="changebudget">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="tbprojectapplication.workorder"
            inputHandler="com.tmt.xt.handler.ProjectApplicationWorkOrderOfXT"
            name="修改工作令号"
            persistentFields="prj_number"
            processDefinitionId="xt.xtProjectApplication">
         <processParameter
               processParameterName="prj_number"
               taskFormFieldName="prj_number">
         </processParameter>
      </taskForm>
   </extension>

</plugin>
