<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="work"
            name="工作">
      </category>
      <view
            category="work"
            class="com.sg.widgets.part.view.AccountSensitiveTreeView"
            id="work.processing"
            name="待处理工作"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="work.processing"
            tree="work.processing">
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.tree">
      <tree
            canCreate="false"
            canDelete="false"
            canEdit="false"
            canRead="true"
            dataSet="com.sg.business.model.dataset.work.ProcessingWork"
            editorId="editor.work"
            id="work.processing"
            popupMenu="popup:work.processing">
         <column
               columnDefinitionId="project.status">
         </column>
         <column
               columnDefinitionId="com.sg.widgets.commonlabel">
         </column>
         <structure
               modelRelation="work_work">
         </structure>
      </tree>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:work.processing">
         <command
               commandId="com.sg.widgets.command.edit"
               icon="image/work_24.png"
               label="查看"
               style="push">
            <parameter
                  name="com.sg.widgets.edit.editorid"
                  value="editor.work">
            </parameter>
         </command>
         <separator
               name="work.separator1"
               visible="true">
         </separator>
         <command
               commandId="work.start"
               icon="image/work_start_24.png"
               label="启动"
               style="push">
         </command>
         <command
               commandId="work.finish"
               icon="image/work_finish_24.png"
               label="完工"
               style="push">
         </command>
         <command
               commandId="work.pause"
               icon="image/work_pause_24.png"
               label="暂停"
               style="push">
         </command>
         <command
               commandId="work.cancel"
               icon="image/work_cancel_24.png"
               label="取消"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="work"
            name="工作">
      </category>
      <command
            categoryId="work"
            id="work.start"
            name="启动">
      </command>
      <command
            categoryId="work"
            id="work.finish"
            name="完成">
      </command>
      <command
            categoryId="work"
            id="work.pause"
            name="暂停">
      </command>
      <command
            categoryId="work"
            id="work.cancel"
            name="取消">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sg.business.commons.handler.LifeCycleActionStart"
            commandId="work.start">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <test
                        args="start"
                        property="lifecycle.action">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.business.commons.handler.LifeCycleActionFinish"
            commandId="work.finish">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <test
                        args="finish"
                        property="lifecycle.action">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.business.commons.handler.LifeCycleActionPause"
            commandId="work.pause">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <test
                        args="pause"
                        property="lifecycle.action">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.business.commons.handler.LifeCycleActionCancel"
            commandId="work.cancel">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        args="cancel"
                        property="lifecycle.action">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
