<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mobnut.admin.schedualJob">
      <schedualJob
            day="99999"
            id="dcppdm.importkh"
            name="同步空簧DCPDM文档"
            rule="month"
            run="com.tmt.pdm.dcppdm.sync.ImportKH"
            time="0:0:0">
      </schedualJob>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:project.deliverable?after=project.linkdeliverable">
         <command
               commandId="deliverable.linkpdm"
               icon="image/24_blank.png"
               label="链接PDM图文档..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <and>
                        <instanceof
                              value="com.sg.business.model.Work">
                        </instanceof>
                        <test
                              args="createDeliverable"
                              property="runtimework.action">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="deliverable.linkpdm"
            name="链接PDM图文档">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.tmt.pdm.dcpdm.handler.LinkPDMDocAndDraw"
            commandId="deliverable.linkpdm">
      </handler>
   </extension>

</plugin>
