<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--extension
         point="com.mobnut.admin.schedualJob">
      <schedualJob
            day="99999"
            id="dcppdm.importkh"
            name="临时维护"
            rule="month"
            run="com.tmt.pdm.dcpdm.sync.ImportKH"
            time="0:0:0">
      </schedualJob>
   </extension-->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:project.deliverable?after=project.linkdeliverable">
         <command
               commandId="deliverable.linkpdm"
               icon="image/rep_document_24.png"
               label="链接PDM图文档..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <and>
                        <instanceof
                              value="com.sg.business.model.Work">
                        </instanceof>
                        <test
                              args="createDeliverable"
                              property="runtimework.action">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:workflow.workdelivery?after=additions">
         <command
               commandId="workflow.deliverable.linkpdm"
               icon="image/rep_document_24.png"
               label="链接PDM图文档..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="deliverable.linkpdm"
            name="链接PDM图文档">
      </command>
      <command
            id="workflow.deliverable.linkpdm"
            name="链接PDM图文档">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.tmt.pdm.dcpdm.handler.LinkPDMDocAndDraw"
            commandId="deliverable.linkpdm">
      </handler>
      <handler
            class="com.tmt.pdm.dcpdm.handler.LinkPDMDocAndDraw2"
            commandId="workflow.deliverable.linkpdm">
      </handler>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <basicpage
            id="pdm.vault"
            pageDelegator="com.tmt.pdm.dcpdm.page.PDMVaultPage"
            title="PDM">
      </basicpage>
   </extension>
   <extension
         point="com.sg.business.model.fileserver">
      <fileserver
            document="document"
            fileServerDelegator="com.tmt.pdm.dcpdm.FileServerDelegator">
      </fileserver>
   </extension>

</plugin>
