<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--extension
         point="com.mobnut.admin.schedualJob">
      <schedualJob
            day="99999"
            id="dcppdm.importkh"
            name="临时维护"
            rule="month"
            run="com.tmt.pdm.dcpdm.sync.ImportKH"
            time="0:0:0">
      </schedualJob>
   </extension-->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:project.deliverable?after=project.linkdeliverable">
         <command
               commandId="deliverable.linkpdm"
               icon="image/rep_document_24.png"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <and>
                        <instanceof
                              value="com.sg.business.model.Work">
                        </instanceof>
                        <test
                              args="createDeliverable"
                              property="runtimework.action">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:work.deliverable?after=project.linkdeliverable">
         <command
               commandId="deliverable.linkpdm"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <and>
                        <instanceof
                              value="com.sg.business.model.Work">
                        </instanceof>
                        <test
                              args="createDeliverable"
                              property="runtimework.action">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:workflow.workdelivery?after=additions">
         <command
               commandId="workflow.deliverable.linkpdm"
               label="%command.label.0"
               mode="FORCE_TEXT"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="deliverable.linkpdm"
            name="%command.name">
      </command>
      <command
            id="workflow.deliverable.linkpdm"
            name="%command.name.0">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.tmt.pdm.dcpdm.handler.LinkPDMDocAndDraw"
            commandId="deliverable.linkpdm">
      </handler>
      <handler
            class="com.tmt.pdm.dcpdm.handler.LinkPDMDocAndDraw2"
            commandId="workflow.deliverable.linkpdm">
      </handler>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="document"
            dbName="pm2"
            id="editor.document.dcpdm"
            max="true"
            name="DCPDM图纸包">
         <basicpage
               description="DCPDM图纸基本信息"
               id="basicpage1"
               pageDelegator="com.tmt.pdm.dcpdm.editor.DrawingPackagePage"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="desc"
                        label="名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String"
                        userlabelForReadonly="true"
                        widthHint="400">
                  </text>
                  <fieldgroup
                        columnCount="2">
                     <text
                           editPart="Text(Single Line)"
                           editable="false"
                           id="documentnumber"
                           label="编号"
                           labelVisible="true"
                           name="documentnumber"
                           persistable="true"
                           required="true"
                           type="String"
                           userlabelForReadonly="true">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="false"
                           id="version"
                           label="版本"
                           labelVisible="true"
                           name="version"
                           persistable="true"
                           presentation="com.sg.business.commons.field.presentation.VersionPres"
                           required="false"
                           type="String"
                           userlabelForReadonly="true">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="false"
                           id="status"
                           label="状态"
                           labelVisible="true"
                           name="status"
                           persistable="true"
                           presentation="com.sg.business.commons.field.presentation.DocumentStatusPres"
                           required="false"
                           type="String"
                           userlabelForReadonly="true">
                     </text>
                     <checkbox
                           editable="false"
                           id="islocked"
                           label="锁定"
                           labelVisible="true"
                           name="islocked"
                           persistable="true"
                           required="false">
                     </checkbox>
                  </fieldgroup>
               </section>
               <section
                     label="创建和修改">
                  <fieldgroup
                        columnCount="2">
                     <text
                           editPart="Text(Single Line)"
                           editable="false"
                           id="_caccount"
                           label="创建"
                           labelVisible="true"
                           name="_caccount"
                           persistable="true"
                           presentation="com.sg.widgets.commons.valuepresentation.AccountTextPresentation"
                           required="false"
                           type="String"
                           userlabelForReadonly="true">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="false"
                           id="_cdate"
                           label="时间"
                           labelVisible="true"
                           name="_cdate"
                           persistable="true"
                           presentation="com.sg.widgets.commons.valuepresentation.DateTimeTextPresentation"
                           required="false"
                           type="String"
                           userlabelForReadonly="true">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="false"
                           id="_maccount"
                           label="修改"
                           labelVisible="true"
                           name="_maccount"
                           persistable="true"
                           presentation="com.sg.widgets.commons.valuepresentation.AccountTextPresentation"
                           required="false"
                           type="String"
                           userlabelForReadonly="true">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="false"
                           id="_mdate"
                           label="时间"
                           labelVisible="true"
                           name="_mdate"
                           persistable="true"
                           presentation="com.sg.widgets.commons.valuepresentation.DateTimeTextPresentation"
                           required="false"
                           type="String"
                           userlabelForReadonly="true">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="false"
                           id="lockedby"
                           label="锁定"
                           labelVisible="true"
                           name="lockedby"
                           persistable="true"
                           presentation="com.sg.business.commons.field.presentation.UserIdFieldPres"
                           required="false"
                           type="String"
                           userlabelForReadonly="true">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="false"
                           id="lockdate"
                           label="时间"
                           labelVisible="true"
                           name="lockdate"
                           persistable="true"
                           presentation="com.sg.widgets.commons.valuepresentation.DateTimeTextPresentation"
                           required="false"
                           type="String"
                           userlabelForReadonly="true">
                     </text>
                  </fieldgroup>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.business.model.fileserver">
      <fileserver
            document="document"
            fileServerDelegator="com.tmt.pdm.dcpdm.FileServerDelegator">
      </fileserver>
   </extension>

</plugin>
