<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="vault"
            class="com.sg.widgets.part.view.AccountSensitiveTreeView"
            id="vault.folder.org"
            name="组织文档库"
            restorable="true">
      </view>
      <view
            category="vault"
            class="com.sg.widgets.part.view.AccountSensitiveTreeView"
            id="vault.folder.granted"
            name="授权文档库"
            restorable="true">
      </view>
      <view
            category="vault"
            class="com.sg.widgets.part.view.AccountSensitiveTreeView"
            id="vault.folder.open"
            name="开放文档库"
            restorable="true">
      </view>
      <view
            category="vault"
            class="com.sg.widgets.part.view.AccountSensitiveTreeView"
            id="vault.folder.admin"
            name="管理"
            restorable="true">
      </view>
      <category
            id="vault"
            name="文档管理">
      </category>
      <view
            category="vault"
            class="com.sg.business.vault.view.DocumentsView"
            id="vault.documents"
            name="文档"
            restorable="true">
      </view>
      <view
            category="vault"
            class="com.sg.business.vault.view.DocumentsView"
            id="vault.documents.contextsearch"
            name="内容检索"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="vault.folder.org"
            tree="vault.folder.org">
         <filterAction>
            <column
                  columnDefinitionId="folder.desc">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="folder.desc">
            </column>
         </searchAction>
         <createEditor
               createHandler="com.sg.business.vault.editor.FolderCreater"
               editorId="editor.folder">
         </createEditor>
      </navigator>
      <navigator
            id="vault.folder.granted"
            tree="vault.folder.granted">
         <filterAction>
            <column
                  columnDefinitionId="folder.desc">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="folder.desc">
            </column>
         </searchAction>
         <createEditor
               createHandler="com.sg.business.vault.editor.FolderCreater"
               editorId="editor.folder">
         </createEditor>
      </navigator>
      <navigator
            id="vault.folder.admin"
            tree="vault.folder.admin">
         <filterAction>
            <column
                  columnDefinitionId="folder.desc">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="folder.desc">
            </column>
         </searchAction>
         <createEditor
               createHandler="com.sg.business.vault.editor.FolderCreater"
               editorId="editor.folder">
         </createEditor>
      </navigator>
      <navigator
            id="vault.folder.open"
            tree="vault.folder.open">
         <filterAction>
            <column
                  columnDefinitionId="folder.desc">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="folder.desc">
            </column>
         </searchAction>
         <createEditor
               createHandler="com.sg.business.vault.editor.FolderCreater"
               editorId="editor.folder">
         </createEditor>
      </navigator>
      <navigator
            id="vault.documents"
            provideSelection="true"
            table="vault.documents">
         <filterAction>
            <column
                  columnDefinitionId="document.documentNumber">
            </column>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="document.documentType">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="document.documentNumber">
            </column>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="document.documentType">
            </column>
         </searchAction>
         <masterProvider
               id="vault.folder.org">
         </masterProvider>
         <masterProvider
               id="vault.folder.admin">
         </masterProvider>
         <masterProvider
               id="vault.folder.granted">
         </masterProvider>
         <masterProvider
               id="vault.folder.open">
         </masterProvider>
      </navigator>
      <navigator
            id="vault.documents.contextsearch"
            provideSelection="true"
            table="vault.documents.contextsearch">
         <filterAction>
            <column
                  columnDefinitionId="document.documentNumber">
            </column>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="document.documentType">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="document.documentNumber">
            </column>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="document.documentType">
            </column>
         </searchAction>
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.tree">
      <tree
            canCreate="false"
            canDelete="false"
            canEdit="false"
            canRead="false"
            dataSet="com.sg.business.model.dataset.folder.VaultOfOrganization"
            dbName="pm2"
            editorId="editor.folder"
            id="vault.folder.org"
            idfield="_id"
            popupMenu="popup:com.sg.widget.navigator">
         <column
               columnDefinitionId="folder.desc">
         </column>
         <structure
               modelRelation="organization_folder">
         </structure>
         <structure
               modelRelation="folder_folder">
         </structure>
      </tree>
      <tree
            canCreate="true"
            canDelete="true"
            canEdit="true"
            canRead="true"
            dataSet="com.sg.business.model.dataset.folder.VaultOfAdminRole"
            dbName="pm2"
            editorId="editor.folder"
            id="vault.folder.admin"
            idfield="_id"
            popupMenu="popup:vault.folder.admin">
         <column
               columnDefinitionId="folder.desc">
         </column>
         <structure
               modelRelation="organization_folder">
         </structure>
         <structure
               modelRelation="folder_folder">
         </structure>
      </tree>
      <tree
            canCreate="false"
            canDelete="false"
            canEdit="false"
            canRead="false"
            dataSet="com.sg.business.model.dataset.folder.VaultOfGuestRole"
            dbName="pm2"
            editorId="editor.folder"
            id="vault.folder.granted"
            idfield="_id"
            popupMenu="popup:com.sg.widget.navigator">
         <column
               columnDefinitionId="folder.desc">
         </column>
         <structure
               modelRelation="organization_folder">
         </structure>
         <structure
               modelRelation="folder_folder">
         </structure>
      </tree>
      <tree
            canCreate="false"
            canDelete="false"
            canEdit="false"
            canRead="false"
            dataSet="com.sg.business.model.dataset.folder.VaultOfOpened"
            dbName="pm2"
            editorId="editor.folder"
            id="vault.folder.open"
            idfield="_id"
            popupMenu="popup:com.sg.widget.navigator">
         <column
               columnDefinitionId="folder.desc">
         </column>
         <structure
               modelRelation="organization_openedfolder">
         </structure>
         <structure
               modelRelation="folder_folder">
         </structure>
      </tree>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="folder"
            dbName="pm2"
            id="editor.folder"
            isDefault="true"
            name="文件夹"
            titleToolTips="文件夹">
         <basicpage
               description="文件夹基本信息"
               id="basicpage.1"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="文件夹名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="folderType"
                        label="类型说明"
                        labelVisible="true"
                        name="folderType"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <checkbox
                        editable="true"
                        id="opened"
                        label="开放"
                        labelVisible="true"
                        name="opened"
                        persistable="true"
                        required="false">
                  </checkbox>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            canCreate="false"
            canDelete="false"
            canEdit="false"
            collectionName="document"
            dataSet="com.sg.business.model.dataset.folder.DocumentOfFolder"
            dbName="pm2"
            editorId="editor.document.generic"
            id="vault.documents"
            idfield="_id"
            popupMenu="popup:com.sg.widget.navigator">
         <column
               columnDefinitionId="document.documentNumber">
         </column>
         <column
               columnDefinitionId="com.sg.widgets.commonlabel">
         </column>
         <column
               columnDefinitionId="document.documentType">
         </column>
         <column
               columnDefinitionId="generic._caccount"></column>
         <column
               columnDefinitionId="generic._cdate">
         </column>
         <column
               columnDefinitionId="generic._maccount">
         </column>
         <column
               columnDefinitionId="generic._mdate">
         </column>
      </table>
      <table
            canCreate="false"
            canDelete="false"
            canEdit="false"
            editorId="editor.document.generic"
            id="vault.documents.contextsearch"
            popupMenu="popup:com.sg.widget.navigator">
         <column
               columnDefinitionId="document.documentNumber">
         </column>
         <column
               columnDefinitionId="com.sg.widgets.column.desc">
         </column>
         <column
               columnDefinitionId="document.documentType">
         </column>
         <column
               columnDefinitionId="generic._caccount">
         </column>
         <column
               columnDefinitionId="generic._cdate">
         </column>
         <column
               columnDefinitionId="generic._maccount">
         </column>
         <column
               columnDefinitionId="generic._mdate">
         </column>
      </table>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:vault.documents?after=additions">
         <command
               commandId="com.sg.business.vault.switchPreview"
               icon="image/preview_24.png"
               label="显示预览"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:vault.documents.contextsearch?before=vault.documents.contextsearch.filterAction">
         <control
               class="com.sg.business.vault.control.ContextSearchControl">
         </control>
         <command
               commandId="com.sg.business.vault.switchPreview"
               icon="image/preview_24.png"
               label="显示预览"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:vault.folder.admin">
         <command
               commandId="com.sg.widgets.command.create"
               icon="image/create2_24.png"
               id="create"
               label="新建文件夹"
               style="push">
         </command>
         <command
               commandId="vault.folder.createdocument"
               icon="image/create2_24.png"
               id="create"
               label="新建文档"
               style="push">
         </command>
         <command
               commandId="com.sg.widgets.command.edit"
               icon="image/edit_24.png"
               label="编辑"
               style="push">
         </command>
         <command
               commandId="com.sg.widgets.command.refresh"
               icon="image/refresh_24.png"
               label="更新"
               style="push">
         </command>
         <command
               commandId="com.sg.widgets.command.delete"
               icon="image/trash_24.png"
               label="删除"
               style="push">
         </command>
         <separator
               name="common.separator"
               visible="true">
         </separator>
         <command
               commandId="com.sg.widgets.command.addtocompare"
               icon="image/compare_24.png"
               label="加入对比"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.sg.business.vault.switchPreview"
            name="显示预览">
      </command>
      <command
            id="vault.folder.createdocument"
            name="新建文档">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sg.business.vault.command.SwitchPreview"
            commandId="com.sg.business.vault.switchPreview">
      </handler>
      <handler
            class="com.sg.business.vault.handler.CreateVaultDocument"
            commandId="vault.folder.createdocument">
      </handler>
   </extension>
   <extension
         point="com.mobnut.admin.adminFunction">
      <adminFunction
            id="com.sg.business.vault.index.index"
            image="image/index_48.png"
            label="建立索引"
            run="com.sg.business.vault.index.Index">
      </adminFunction>
   </extension>
   <extension
         point="com.mobnut.admin.schedualJob">
      <schedualJob
            day="-3"
            id="vault.index"
            name="建立全文检索索引"
            rule="month"
            run="com.sg.business.vault.index.SchedualIndex"
            time="23:00:00">
      </schedualJob>
   </extension>

</plugin>
