<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="vault"
            class="com.sg.widgets.part.view.AccountSensitiveTreeView"
            id="vault.folder.org"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="vault"
            class="com.sg.widgets.part.view.AccountSensitiveTreeView"
            id="vault.folder.granted"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            category="vault"
            class="com.sg.widgets.part.view.AccountSensitiveTreeView"
            id="vault.folder.open"
            name="%view.name.1"
            restorable="true">
      </view>
      <view
            category="vault"
            class="com.sg.widgets.part.view.AccountSensitiveTreeView"
            id="vault.folder.admin"
            name="%view.name.2"
            restorable="true">
      </view>
      <category
            id="vault"
            name="文档管理">
      </category>
      <view
            category="vault"
            class="com.sg.business.vault.view.DocumentsView"
            id="vault.documents"
            name="%view.name.3"
            restorable="true">
      </view>
      <view
            category="vault"
            class="com.sg.business.vault.view.DocumentsView"
            id="vault.documents.contextsearch"
            name="%view.name.4"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="vault.folder.org"
            tree="vault.folder.org">
         <filterAction>
            <column
                  columnDefinitionId="folder.desc">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="folder.desc">
            </column>
         </searchAction>
         <createEditor
               createHandler="com.sg.business.vault.editor.FolderCreater"
               editorId="editor.folder">
         </createEditor>
      </navigator>
      <navigator
            id="vault.folder.granted"
            tree="vault.folder.granted">
         <filterAction>
            <column
                  columnDefinitionId="folder.desc">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="folder.desc">
            </column>
         </searchAction>
         <createEditor
               createHandler="com.sg.business.vault.editor.FolderCreater"
               editorId="editor.folder">
         </createEditor>
      </navigator>
      <navigator
            id="vault.folder.admin"
            tree="vault.folder.admin">
         <filterAction>
            <column
                  columnDefinitionId="folder.desc">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="folder.desc">
            </column>
         </searchAction>
         <createEditor
               createHandler="com.sg.business.vault.editor.FolderCreater"
               editorId="editor.folder">
         </createEditor>
      </navigator>
      <navigator
            id="vault.folder.open"
            tree="vault.folder.open">
         <filterAction>
            <column
                  columnDefinitionId="folder.desc">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="folder.desc">
            </column>
         </searchAction>
         <createEditor
               createHandler="com.sg.business.vault.editor.FolderCreater"
               editorId="editor.folder">
         </createEditor>
      </navigator>
      <navigator
            id="vault.documents"
            provideSelection="true"
            table="vault.documents">
         <filterAction>
            <column
                  columnDefinitionId="document.documentNumber">
            </column>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="document.documentType">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="document.documentNumber">
            </column>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="document.documentType">
            </column>
         </searchAction>
         <masterProvider
               id="vault.folder.org">
         </masterProvider>
         <masterProvider
               id="vault.folder.admin">
         </masterProvider>
         <masterProvider
               id="vault.folder.granted">
         </masterProvider>
         <masterProvider
               id="vault.folder.open">
         </masterProvider>
      </navigator>
      <navigator
            id="vault.documents.contextsearch"
            provideSelection="true"
            table="vault.documents.contextsearch">
         <filterAction>
            <column
                  columnDefinitionId="document.documentNumber">
            </column>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="document.documentType">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="document.documentNumber">
            </column>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="document.documentType">
            </column>
         </searchAction>
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.tree">
      <tree
            canCreate="false"
            canDelete="false"
            canEdit="false"
            canRead="false"
            dataSet="com.sg.business.model.dataset.folder.VaultOfOrganization"
            dbName="pm2"
            editorId="editor.folder"
            id="vault.folder.org"
            idfield="_id">
         <column
               columnDefinitionId="folder.desc">
         </column>
         <structure
               modelRelation="organization_folder">
         </structure>
         <structure
               modelRelation="folder_folder">
         </structure>
      </tree>
      <tree
            canCreate="true"
            canDelete="true"
            canEdit="true"
            canRead="true"
            dataSet="com.sg.business.model.dataset.folder.VaultOfAdminRole"
            dbName="pm2"
            editorId="editor.folder"
            id="vault.folder.admin"
            idfield="_id"
            popupMenu="popup:vault.folder.admin">
         <column
               columnDefinitionId="folder.desc">
         </column>
         <structure
               modelRelation="organization_folder">
         </structure>
         <structure
               modelRelation="folder_folder">
         </structure>
      </tree>
      <tree
            canCreate="false"
            canDelete="false"
            canEdit="false"
            canRead="false"
            dataSet="com.sg.business.model.dataset.folder.VaultOfGuestRole"
            dbName="pm2"
            editorId="editor.folder"
            id="vault.folder.granted"
            idfield="_id">
         <column
               columnDefinitionId="folder.desc">
         </column>
         <structure
               modelRelation="organization_folder">
         </structure>
         <structure
               modelRelation="folder_folder">
         </structure>
      </tree>
      <tree
            canCreate="false"
            canDelete="false"
            canEdit="false"
            canRead="false"
            dataSet="com.sg.business.model.dataset.folder.VaultOfOpened"
            dbName="pm2"
            editorId="editor.folder"
            id="vault.folder.open"
            idfield="_id">
         <column
               columnDefinitionId="folder.desc">
         </column>
         <structure
               modelRelation="organization_openedfolder">
         </structure>
         <structure
               modelRelation="folder_folder">
         </structure>
      </tree>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="folder"
            dbName="pm2"
            id="editor.folder"
            isDefault="true"
            name="%editor.name"
            titleToolTips="%editor.titleToolTips">
         <basicpage
               description="%basicpage.description"
               id="basicpage.1"
               title="%basicpage.title">
            <pagecolumn
                  id="1">
               <section
                     label="%section.label">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="%text.label"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="folderType"
                        label="%text.label.0"
                        labelVisible="true"
                        name="folderType"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <checkbox
                        editable="true"
                        id="opened"
                        label="%checkbox.label"
                        labelVisible="true"
                        name="opened"
                        persistable="true"
                        required="false">
                  </checkbox>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            canCreate="false"
            canDelete="true"
            canEdit="true"
            collectionName="document"
            dataSet="com.sg.business.model.dataset.folder.DocumentOfFolder"
            dbName="pm2"
            editorId="editor.document.generic"
            id="vault.documents"
            idfield="_id"
            multiSelection="true"
            popupMenu="popup:vault.folder.user">
         <column
               columnDefinitionId="document.documentNumber">
         </column>
         <column
               columnDefinitionId="com.sg.widgets.commonlabel">
         </column>
         <column
               columnDefinitionId="document.documentType">
         </column>
         <column
               columnDefinitionId="generic._caccount"></column>
         <column
               columnDefinitionId="generic._cdate">
         </column>
         <column
               columnDefinitionId="generic._maccount">
         </column>
         <column
               columnDefinitionId="generic._mdate">
         </column>
      </table>
      <table
            canCreate="false"
            canDelete="false"
            canEdit="false"
            editorId="editor.document.generic"
            id="vault.documents.contextsearch"
            popupMenu="popup:vault.folder.user">
         <column
               columnDefinitionId="document.documentNumber">
         </column>
         <column
               columnDefinitionId="com.sg.widgets.column.desc">
         </column>
         <column
               columnDefinitionId="document.documentType">
         </column>
         <column
               columnDefinitionId="generic._caccount">
         </column>
         <column
               columnDefinitionId="generic._cdate">
         </column>
         <column
               columnDefinitionId="generic._maccount">
         </column>
         <column
               columnDefinitionId="generic._mdate">
         </column>
      </table>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:vault.documents?after=additions">
         <command
               commandId="com.sg.business.vault.switchPreview"
               icon="image/preview_24.png"
               label="%command.label"
               mode="FORCE_TEXT"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:vault.documents.contextsearch?before=vault.documents.contextsearch.filterAction">
         <control
               class="com.sg.business.vault.control.ContextSearchControl">
         </control>
         <command
               commandId="com.sg.business.vault.switchPreview"
               icon="image/preview_24.png"
               label="%command.label.0"
               mode="FORCE_TEXT"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:vault.folder.admin">
         <command
               commandId="com.sg.widgets.command.create"
               icon="image/create2_24.png"
               id="create"
               label="%command.label.1"
               style="push">
         </command>
         <command
               commandId="vault.folder.createdocument"
               icon="image/create2_24.png"
               id="create"
               label="%command.label.2"
               style="push">
         </command>
         <command
               commandId="com.sg.widgets.command.edit"
               icon="image/edit_24.png"
               label="%command.label.3"
               style="push">
         </command>
         <command
               commandId="com.sg.widgets.command.refresh"
               icon="image/refresh_24.png"
               label="%command.label.4"
               style="push">
         </command>
         <command
               commandId="com.sg.widgets.command.delete"
               icon="image/trash_24.png"
               label="%command.label.5"
               style="push">
         </command>
         <separator
               name="common.separator"
               visible="true">
         </separator>
         <command
               commandId="com.sg.widgets.command.addtocompare"
               icon="image/compare_24.png"
               label="%command.label.6"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:vault.folder.user">
         <command
               commandId="com.sg.widgets.command.edit"
               icon="image/edit_24.png"
               label="%command.label.3"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <test
                           args="edit"
                           property="editdocument.action">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.sg.widgets.command.edit"
               icon="image/document_24.png"
               label="查看文档"
               style="push">
            <parameter
                  name="com.sg.widgets.edit.editable"
                  value="false">
            </parameter>
         </command>
         <command
               commandId="com.sg.widgets.command.refresh"
               icon="image/refresh_24.png"
               label="%command.label.4"
               style="push">
         </command>
         <command
               commandId="com.sg.widgets.command.delete"
               icon="image/trash_24.png"
               label="%command.label.5"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <test
                           args="delete"
                           property="editdocument.action">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="common.separator"
               visible="true">
         </separator>
         <command
               commandId="com.sg.widgets.command.addtocompare"
               icon="image/compare_24.png"
               label="%command.label.6"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:vault.folder.user1">
         <command
               commandId="com.sg.widgets.command.refresh"
               icon="image/refresh_24.png"
               label="%command.label.4"
               style="push">
         </command>
         <separator
               name="common.separator"
               visible="true">
         </separator>
         <command
               commandId="com.sg.widgets.command.addtocompare"
               icon="image/compare_24.png"
               label="%command.label.6"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.sg.business.vault.switchPreview"
            name="%command.name">
      </command>
      <command
            id="vault.folder.createdocument"
            name="%command.name.0">
      </command>
      <command
            id="vault.folder.uploadzip"
            name="ZIP文件上传">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sg.business.vault.command.SwitchPreview"
            commandId="com.sg.business.vault.switchPreview">
      </handler>
      <handler
            class="com.sg.business.vault.handler.CreateVaultDocument"
            commandId="vault.folder.createdocument">
         <enabledWhen>
            <and>
               <with
                     variable="activePart">
                  <test
                        args="canCreate"
                        property="com.sg.widgets.test.activePart"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection">
                  <count
                        value="*">
                  </count>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.business.vault.handler.UploadZIP"
            commandId="vault.folder.uploadzip">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.sg.business.vault.view.EditDocumentPropertyTester"
            id="editdocument.action"
            namespace="editdocument"
            properties="action"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <!--extension
         point="com.mobnut.admin.adminFunction">
      <adminFunction
            id="com.sg.business.vault.index.index"
            image="image/index_48.png"
            label="%adminFunction.label"
            run="com.sg.business.vault.index.Index">
      </adminFunction>
   </extension>
   <extension
         point="com.mobnut.admin.schedualJob">
      <schedualJob
            day="-3"
            id="vault.index"
            name="%schedualJob.name"
            rule="month"
            run="com.sg.business.vault.index.SchedualIndex"
            time="23:00:00">
      </schedualJob>
   </extension-->

</plugin>
