<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="management.category"
            name="业务管理">
      </category>
      <view
            category="management.category"
            class="com.sg.widgets.part.view.AccountSensitiveTableView"
            id="management.organization.navigaor"
            name="组织"
            restorable="true">
      </view>
      <view
            category="management.category"
            class="com.sg.widgets.part.view.TableNavigator"
            id="management.projecttemplates"
            name="项目模板"
            restorable="true">
      </view>
      <view
            category="management.category"
            class="com.sg.widgets.part.view.TableNavigator"
            id="management.genericwork.definitions"
            name="通用工作定义"
            restorable="true">
      </view>
      <view
            category="management.category"
            class="com.sg.widgets.part.view.TableNavigator"
            id="management.standlonework.definitions"
            name="独立工作定义"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="management.organization.navigaor"
            provideSelection="true"
            table="management.organization.navigaor">
         <filterAction>
            <column
                  columnDefinitionId="organization.desc">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="organization.desc">
            </column>
         </searchAction>
         <createEditor
               createHandler="com.sg.business.management.editor.CreateProjectTemplate"
               editorId="editor.projecttemplate">
         </createEditor>
         <createEditor
               createHandler="com.sg.business.management.editor.CreateGenericWorkDefinition"
               editorId="editor.genericWorkDefinition">
         </createEditor>
         <createEditor
               createHandler="com.sg.business.management.editor.CreateStandloneWorkDefinition"
               editorId="editor.standloneWorkDefinition">
         </createEditor>
      </navigator>
      <navigator
            id="management.genericwork.definitions"
            table="management.genericwork.definitions">
         <masterProvider
               id="management.organization.navigaor">
         </masterProvider>
         <filterAction>
            <column
                  columnDefinitionId="work.desc">
            </column>
            <column
                  columnDefinitionId="generic.activated">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="work.desc">
            </column>
            <column
                  columnDefinitionId="generic.activated">
            </column>
         </searchAction>
      </navigator>
      <navigator
            id="management.projecttemplates"
            table="management.projecttemplates">
         <masterProvider
               id="management.organization.navigaor">
         </masterProvider>
         <filterAction>
            <column
                  columnDefinitionId="projecttemplate.desc">
            </column>
            <column
                  columnDefinitionId="generic.activated">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="projecttemplate.desc">
            </column>
            <column
                  columnDefinitionId="generic.activated">
            </column>
         </searchAction>
      </navigator>
      <navigator
            id="management.standlonework.definitions"
            table="management.standlonework.definitions">
         <masterProvider
               id="management.organization.navigaor">
         </masterProvider>
         <filterAction>
            <column
                  columnDefinitionId="work.desc">
            </column>
            <column
                  columnDefinitionId="generic.activated">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="work.desc">
            </column>
            <column
                  columnDefinitionId="generic.activated">
            </column>
         </searchAction>
      </navigator>
      <navigator
            id="management.wbstemplate"
            tree="management.wbstemplate">
         <filterAction>
            <column
                  columnDefinitionId="work.desc">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="work.desc">
            </column>
         </searchAction>
      </navigator>
      <navigator
            id="management.roledefinition"
            table="management.roledefinition">
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            canCreate="true"
            canDelete="false"
            canEdit="false"
            canRead="false"
            customItemHeight="40"
            dataSet="com.sg.business.model.dataset.organization.OrganizationOfBMRole"
            headerVisiable="false"
            id="management.organization.navigaor"
            markupEnabled="true"
            popupMenu="popup:com.sg.widget.navigator">
         <column
               columnDefinitionId="organization.desc.html">
         </column>
      </table>
      <table
            canCreate="false"
            dataSet="com.sg.business.model.dataset.projecttemplate.ProjectTemplatesOfOrganization"
            editorId="editor.projecttemplate"
            headerVisiable="false"
            id="management.projecttemplates"
            popupMenu="popup:management.projecttemplates">
         <column
               columnDefinitionId="projecttemplate.desc">
         </column>
         <column
               columnDefinitionId="generic.activated">
         </column>
      </table>
      <table
            canCreate="false"
            dataSet="com.sg.business.model.dataset.projecttemplate.GenericWorkDefinitions"
            headerVisiable="false"
            id="management.genericwork.definitions"
            popupMenu="popup:com.sg.widget.navigator">
         <column
               columnDefinitionId="work.desc">
         </column>
         <column
               columnDefinitionId="generic.activated">
         </column>
      </table>
      <table
            canCreate="false"
            dataSet="com.sg.business.model.dataset.projecttemplate.StandloneWorkDefinitionsOfOrganization"
            headerVisiable="false"
            id="management.standlonework.definitions"
            popupMenu="popup:com.sg.widget.navigator">
         <column
               columnDefinitionId="work.desc">
         </column>
         <column
               columnDefinitionId="generic.activated">
         </column>
      </table>
      <table
            dataSet="com.sg.business.model.dataset.projecttemplate.ProjectRoleDefinition"
            headerVisiable="false"
            id="management.roledefinition">
         <column
               columnDefinitionId="roledefinition.desc">
         </column>
      </table>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="projecttemplate"
            dbName="pm2"
            id="editor.projecttemplate"
            isDefault="true"
            name="项目模板"
            titleToolTips="项目模板">
         <basicpage
               description="项目模板基本信息"
               id="basicpage"
               image="image/projecttemplate_32.png"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="模板名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <checkbox
                        editable="true"
                        id="activated"
                        label="启用"
                        labelVisible="true"
                        name="activated"
                        persistable="true"
                        required="false">
                  </checkbox>
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="wfd_projectchange"
                        label="项目变更流程"
                        labelVisible="true"
                        name="wfd_projectchange"
                        persistable="true"
                        required="false">
                  </combo>
               </section>
               <section
                     label="说明">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="320"
                        id="description"
                        label="模板说明"
                        labelVisible="false"
                        name="description"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="可用于项目属性工作筛选的选项"
               id="optionpage"
               image="image/options_32.png"
               title="项目选项">
            <pagecolumn>
               <section
                     expand="true"
                     label="适用标准">
                  <list
                        editable="true"
                        heightHint="112"
                        id="standardset"
                        label="标准集"
                        labelVisible="false"
                        name="standardset"
                        persistable="true"
                        required="false">
                  </list>
               </section>
               <section
                     expand="true"
                     label="产品类型">
                  <list
                        editable="true"
                        heightHint="112"
                        id="producttype"
                        label="产品类型"
                        labelVisible="false"
                        name="producttype"
                        persistable="true"
                        required="false">
                  </list>
               </section>
               <section
                     expand="true"
                     label="项目类型">
                  <list
                        editable="true"
                        heightHint="112"
                        id="projecttype"
                        label="项目类型"
                        labelVisible="false"
                        name="projecttype"
                        persistable="true"
                        required="false">
                  </list>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="设定项目预算科目"
               id="budgetpage"
               image="image/financial_32.png"
               pageDelegator="com.sg.business.management.editor.page.BugetTemplatePage"
               title="预算科目">
         </basicpage>
         <navigatorpage
               createAfterSave="true"
               id="wbstemplatepage"
               navigatorId="management.wbstemplate"
               title="工作分解结构">
         </navigatorpage>
         <navigatorpage
               createAfterSave="true"
               id="rolepage"
               image="image/role_32.png"
               navigatorId="management.roledefinition"
               title="项目角色">
         </navigatorpage>
      </editor>
      <editor
            collectionName="workd"
            dbName="pm2"
            id="editor.genericWorkDefinition"
            isDefault="false"
            name="通用工作定义"
            titleToolTips="通用工作定义">
         <basicpage
               description="通用工作定义是可添加到多项目中工作模块"
               id="basicpage1"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="description"
                        label="说明"
                        labelVisible="true"
                        name="description"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <checkbox
                        editable="true"
                        id="activated"
                        label="启用"
                        labelVisible="true"
                        name="activated"
                        persistable="true"
                        required="false">
                  </checkbox>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="workd"
            dbName="pm2"
            id="editor.standloneWorkDefinition"
            isDefault="false"
            name="独立工作定义"
            titleToolTips="独立工作定义">
         <basicpage
               description="独立工作定义是可以不依赖项目单独发起的工作"
               id="basicpage1"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="description"
                        label="说明"
                        labelVisible="true"
                        name="description"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <checkbox
                        editable="true"
                        id="activated"
                        label="启用"
                        labelVisible="true"
                        name="activated"
                        persistable="true"
                        required="false">
                  </checkbox>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="workd"
            dbName="pm2"
            id="editor.workDefinition.create"
            isDefault="false"
            name="工作定义"
            titleToolTips="工作定义">
         <basicpage
               description="独立工作定义是可以不依赖项目单独发起的工作"
               id="basicpage1"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="description"
                        label="说明"
                        labelVisible="true"
                        name="description"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="workd"
            dbName="pm2"
            id="editor.workDefinition"
            isDefault="false"
            name="工作定义"
            titleToolTips="工作定义">
         <basicpage
               description="独立工作定义是可以不依赖项目单独发起的工作"
               id="basicpage1"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="description"
                        label="说明"
                        labelVisible="true"
                        name="description"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.widgets.tree">
      <tree
            dataSet="com.sg.business.model.dataset.projecttemplate.WorkDefinitionOfProjectTemplate"
            id="management.wbstemplate"
            popupMenu="popup:management.wbstemplate">
         <column
               columnDefinitionId="work.seq">
         </column>
         <column
               columnDefinitionId="work.desc">
         </column>
         <structure
               modelRelation="workd_workd">
         </structure>
      </tree>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:management.wbstemplate">
         <command
               commandId="management.wbstemplate.create"
               icon="image/creatework_24.png"
               label="添加"
               style="push">
         </command>
         <command
               commandId="management.wbstemplate.edit"
               icon="image/editwork_24.png"
               label="编辑..."
               style="push">
         </command>
         <command
               commandId="management.wbstemplate.remove"
               icon="image/removework_24.png"
               label="删除"
               style="push">
         </command>
         <separator
               name="management.wbstemplate.separator1"
               visible="true">
         </separator>
         <command
               commandId="management.wbstemplate.moveup"
               icon="image/up_24.png"
               label="上移"
               style="push">
         </command>
         <command
               commandId="management.wbstemplate.movedown"
               icon="image/down_24.png"
               label="下移"
               style="push">
         </command>
         <command
               commandId="management.wbstemplate.moveleft"
               icon="image/left_24.png"
               label="升级"
               style="push">
         </command>
         <command
               commandId="management.wbstemplate.moveright"
               icon="image/right_24.png"
               label="降级"
               style="push">
         </command>
         <command
               commandId="management.wbstemplate.showcompass"
               icon="image/naviclose_24.png"
               label="显示移动罗盘"
               style="push">
         </command>
         <separator
               name="management.wbstemplate.separator2"
               visible="true">
         </separator>
         <command
               commandId="management.wbstemplate.copygeneric"
               icon="image/genericwork_24.png"
               label="添加通用工作定义"
               style="push">
         </command>
         <command
               commandId="management.wbstemplate.changetogeneric"
               icon="image/changetogenericwork_24.png"
               label="转为通用工作定义"
               style="push">
         </command>
         <separator
               name="management.wbstemplate.separator3"
               visible="true">
         </separator>
         <command
               commandId="com.sg.widgets.command.refresh"
               icon="image/refresh_24.png"
               label="更新"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="com.sg.widgets.part.IRefreshablePart">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:management.projecttemplates">
         <command
               commandId="com.sg.widgets.command.edit"
               icon="image/edit_24.png"
               label="编辑"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="com.sg.widgets.part.IEditablePart">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.sg.widgets.command.edit"
               icon="image/work_24.png"
               label="编辑WBS模板"
               style="push">
            <parameter
                  name="com.sg.widgets.edit.editorid"
                  value="editor.projecttemplate">
            </parameter>
            <parameter
                  name="com.sg.widgets.edit.pageid"
                  value="wbstemplatepage">
            </parameter>
         </command>
         <command
               commandId="com.sg.widgets.command.edit"
               icon="image/financial_24.png"
               label="编辑预算模板"
               style="push">
            <parameter
                  name="com.sg.widgets.edit.editorid"
                  value="editor.projecttemplate">
            </parameter>
            <parameter
                  name="com.sg.widgets.edit.pageid"
                  value="budgetpage">
            </parameter>
         </command>
         <command
               commandId="com.sg.widgets.command.edit"
               icon="image/role_24.png"
               label="编辑角色"
               style="push">
            <parameter
                  name="com.sg.widgets.edit.editorid"
                  value="editor.projecttemplate">
            </parameter>
            <parameter
                  name="com.sg.widgets.edit.pageid"
                  value="rolepage">
            </parameter>
         </command>
         <separator
               name="management.projecttemplates.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.sg.widgets.command.refresh"
               icon="image/refresh_24.png"
               label="更新"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="com.sg.widgets.part.IRefreshablePart">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.sg.widgets.command.delete"
               icon="image/trash_24.png"
               label="删除"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activePart">
                     <instanceof
                           value="com.sg.widgets.part.IEditablePart">
                     </instanceof>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.sg.business.management"
            name="业务管理">
      </category>
      <command
            categoryId="com.sg.business.management"
            id="management.wbstemplate.create"
            name="添加">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="management.wbstemplate.edit"
            name="编辑">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="management.wbstemplate.remove"
            name="删除">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="management.wbstemplate.copygeneric"
            name="添加通用工作定义">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="management.wbstemplate.changetogeneric"
            name="转为通用工作定义">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="management.wbstemplate.moveup"
            name="上移">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="management.wbstemplate.movedown"
            name="下移">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="management.wbstemplate.moveleft"
            name="升级">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="management.wbstemplate.moveright"
            name="降级">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="management.wbstemplate.showcompass"
            name="显示移动罗盘">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sg.business.management.handler.CreateWorkDefinition"
            commandId="management.wbstemplate.create">
      </handler>
      <handler
            class="com.sg.business.management.handler.EditWorkDefinition"
            commandId="management.wbstemplate.edit">
      </handler>
      <handler
            class="com.sg.business.management.handler.RemoveWorkDefinition"
            commandId="management.wbstemplate.remove">
      </handler>
      <handler
            class="com.sg.business.management.handler.WorkDefinitionMoveUp"
            commandId="management.wbstemplate.moveup">
      </handler>
      <handler
            class="com.sg.business.management.handler.WorkDefinitionMoveDown"
            commandId="management.wbstemplate.movedown">
      </handler>
      <handler
            class="com.sg.business.management.handler.WorkDefinitionMoveLeft"
            commandId="management.wbstemplate.moveleft">
      </handler>
      <handler
            class="com.sg.business.management.handler.WorkDefinitionMoveRight"
            commandId="management.wbstemplate.moveright">
      </handler>
      <handler
            class="com.sg.business.management.handler.ChangeToGenericWorkDefinition"
            commandId="management.wbstemplate.changetogeneric">
      </handler>
      <handler
            class="com.sg.business.management.handler.CopyGenericWorkDefinition"
            commandId="management.wbstemplate.copygeneric">
      </handler>
      <handler
            class="com.sg.business.management.handler.ShowWorkDefinitionCompase"
            commandId="management.wbstemplate.showcompass">
      </handler>
   </extension>

</plugin>
