<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.widgets.option">
      <option
            id="是否通过"
            label="是否通过">
         <option
               id="通过"
               label="通过"
               value="通过">
         </option>
         <option
               id="不通过"
               label="不通过"
               value="不通过">
         </option>
      </option>
      <option
            id="是否批准"
            label="是否批准">
         <option
               id="批准"
               label="批准"
               value="批准">
         </option>
         <option
               id="不批准"
               label="不批准"
               value="不批准">
         </option>
         <option
               id="整改"
               label="整改"
               value="整改">
         </option>
      </option>
      <option
            id="评审实施计划"
            label="评审实施计划">
         <option
               id="会签评审"
               label="会签评审"
               value="会签评审">
         </option>
         <option
               id="会议评审"
               label="会议评审"
               value="会议评审">
         </option>
      </option>
      <option
            id="是否资料预审"
            label="是否资料预审">
         <option
               id="预审"
               label="预审"
               value="预审">
         </option>
         <option
               id="不预审"
               label="不预审"
               value="不预审">
         </option>
         <option
               id="不通过"
               label="不通过"
               value="不通过">
         </option>
      </option>
      <option
            id="是否整改"
            label="是否整改">
         <option
               id="整改"
               label="整改"
               value="整改">
         </option>
         <option
               id="通过"
               label="通过"
               value="通过">
         </option>
         <option
               id="不通过"
               label="不通过"
               value="不通过">
         </option>
      </option>
      <option
            id="是\否"
            label="是\否">
         <option
               id="是"
               label="是"
               value="是">
         </option>
         <option
               id="否"
               label="否"
               value="否">
         </option>
      </option>
      <option
            id="同意\不同意 "
            label="同意\不同意 ">
         <option
               id="通过"
               label="通过"
               value="通过">
         </option>
         <option
               id="不通过"
               label="不通过"
               value="不通过">
         </option>
      </option>
      <option
            id="评审批准"
            label="评审批准">
         <option
               id="通过"
               label="通过"
               value="通过">
         </option>
         <option
               id="不通过"
               label="不通过"
               value="不通过">
         </option>
         <option
               id="修改评审组"
               label="修改评审组"
               value="修改评审组">
         </option>
      </option>
      <option
            id="评审方式"
            label="评审方式">
         <option
               id="会签评审"
               label="会签评审"
               value="会签评审">
         </option>
         <option
               id="会议评审"
               label="会议评审"
               value="会议评审">
         </option>
         <option
               id="不评审"
               label="不评审"
               value="不评审">
         </option>
      </option>
      <option
            id="是否变更"
            label="是否变更">
         <option
               id="需要变更"
               label="需要变更"
               value="通过">
         </option>
         <option
               id="不变更"
               label="不变更"
               value="不通过">
         </option>
      </option>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="pm2.projectcommit.audit"
            name="审核"
            persistentFields="comment,choice"
            processDefinitionId="pm2.projectcommit">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pm2.projectcommit.approval"
            name="批准"
            persistentFields="choice"
            processDefinitionId="pm2.projectcommit">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pm2.projectcommit.audit"
            name="审核"
            persistentFields="comment,choice"
            processDefinitionId="pm.projectcommit">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pm2.projectcommit.approval"
            name="项目计划提交批准">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写批准意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="批准"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pm2.projectcommit.audit"
            name="项目计划提交审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写审核意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="审核意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="审核结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.service.actorRule">
      <actorRule
            actorIdProvider="com.sg.business.taskforms.actor.ProjectAdminOfProject"
            id="prj_admin"
            name="项目所在管理部门的项目管理员">
      </actorRule>
      <actorRule
            actorIdProvider="com.sg.business.taskforms.actor.SupervisorOfLauncher"
            id="supervisor"
            name="项目发起人所在部门的管理者">
      </actorRule>
      <actorRule
            actorIdProvider="com.sg.business.taskforms.actor.DeptLeaderOfLauncher"
            id="dept_leader"
            name="流程发起人所在部门的管理者">
      </actorRule>
      <actorRule
            actorIdProvider="com.sg.business.taskforms.actor.DeputyDirectorOfLauncher"
            id="deputy_director"
            name="流程发起人所在部门常务副主任">
      </actorRule>
      <actorRule
            actorIdProvider="com.sg.business.taskforms.actor.ChiefEngineerOfLauncher"
            id="chief_engineer"
            name="流程发起人所在部门总工">
      </actorRule>
      <actorRule
            actorIdProvider="com.sg.business.taskforms.actor.ApplicationOfLauncher"
            id="application_leader"
            name="项目发起人所在部门的立项审核者">
      </actorRule>
   </extension>
   <extension
         point="com.sg.bpm.service.serviceTask">
      <service
            interface="projectchange.service.action"
            name="项目变更消息服务"
            operation="message"
            serviceProvider="com.sg.business.taskforms.bpmservice.ProjectChangeMessageService">
      </service>
      <service
            interface="projectclose.service.action"
            name="项目结题消息服务"
            operation="message"
            serviceProvider="com.sg.business.taskforms.bpmservice.ProjectCloseMessageService">
      </service>
      <service
            interface="projectapprove.service.action"
            name="项目审批消息服务"
            operation="message"
            serviceProvider="com.sg.business.taskforms.bpmservice.ProjectApproveMessageService">
      </service>
      <service
            interface="meetingmessage.service.action"
            name="评审会议通知"
            operation="message"
            serviceProvider="com.sg.business.taskforms.bpmservice.ReviewerMessageService">
      </service>
      <service
            interface="documentapproval.service.action"
            name="文件审批消息服务"
            operation="message"
            serviceProvider="com.sg.business.taskforms.bpmservice.DocumentApprovalMessageService">
      </service>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="pm.genericapprovalprocess.audit"
            name="审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="pm.pmGenericApprovalProcess">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pm.genericapprovalprocess.approval"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="pm.pmGenericApprovalProcess">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="pm.pmGenericApprovalProcess"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="pm.genericapprovalprocess.audit"
            name="审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="pm.pmGenericApprovalProcess1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pm.genericapprovalprocess.approval"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="pm.pmGenericApprovalProcess1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="pm.pmGenericApprovalProcess1"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="pm.genericapprovalprocess.audit"
            name="审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="pm.pmGenericApprovalProcess2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pm.genericapprovalprocess.approval"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="pm.pmGenericApprovalProcess2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="pm.pmGenericApprovalProcess2"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="pm.genericapprovalprocess.audit"
            name="审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="pm.pmGenericApprovalProcess3">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pm.genericapprovalprocess.approval"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="pm.pmGenericApprovalProcess3">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="pm.pmGenericApprovalProcess3"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pm.genericapprovalprocess.approval"
            name="批准">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写批准意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="批准"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pm.genericapprovalprocess.audit"
            name="审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写审核意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="审核意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="审核结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="pmProjectApprove.audit"
            name="审批"
            persistentFields="choice,comment,accessory"
            processDefinitionId="pm.pmProjectApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
         <processParameter
               processParameterDelegator="com.sg.business.commons.field.processparameterdelegator.ChangetToList"
               processParameterName="reviewer_list"
               taskFormFieldName="reviewer_list">
         </processParameter>
         <processParameter
               processParameterName="reviewer_admin"
               taskFormFieldName="reviewer_admin">
         </processParameter>
         <processParameter
               processParameterName="messagecontent"
               taskFormFieldName="messagecontent">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pmProjectApprove.expertgroupreview"
            name="专家组预审"
            persistentFields="choice,comment,accessory"
            processDefinitionId="pm.pmProjectApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pmProjectApprove.reviewplan"
            name="评审实施计划"
            persistentFields="choice,comment,accessory"
            processDefinitionId="pm.pmProjectApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pmProjectApprove.expertgroupcountersign"
            name="专家组会签"
            persistentFields="choice,comment,accessory"
            processDefinitionId="pm.pmProjectApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pmProjectApprove.reviewteamleader"
            name="评审组组长审批"
            persistentFields="comment,choice,accessory"
            processDefinitionId="pm.pmProjectApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pmProjectApprove.meetingreview"
            name="会议评审"
            persistentFields="choice,comment,accessory"
            processDefinitionId="pm.pmProjectApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pmProjectApprove.resultaudit"
            name="处理结果审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="pm.pmProjectApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="提交评审"
            processDefinitionId="pm.pmProjectApprove"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pmProjectApprove.audit"
            name="审批">
         <basicpage
               id="basicpage1"
               title="审批">
            <pagecolumn>
               <section
                     label="请填写批准意见、结论和评审专家组成员">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="messagecontent"
                        label="评审会议通知"
                        labelVisible="true"
                        name="messagecontent"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <navigatorSelector
                        editable="true"
                        id="reviewer_admin"
                        label="评审组组长"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                        modelClass="com.sg.business.model.User"
                        name="reviewer_admin"
                        navigatorId="organization.user"
                        navigatorReturnField="userid"
                        persistable="true"
                        required="true">
                  </navigatorSelector>
                  <list
                        addTableItemHandler="com.sg.business.commons.field.action.AddRiewerList"
                        editable="true"
                        id="reviewer_list"
                        label="评审组"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProviderInField"
                        name="reviewer_list"
                        persistable="true"
                        required="true">
                  </list>
                  <radio
                        editable="true"
                        id="choice"
                        label="资料预审"
                        labelVisible="false"
                        name="choice"
                        option="是否资料预审"
                        persistable="true"
                        required="true"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pmProjectApprove.expertgroupreview"
            name="专家组预审">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写预审意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="预审意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="预审结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pmProjectApprove.reviewplan"
            name="评审实施计划">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填评审实施意见和计划">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="评审实施计划意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="评审实施计划"
                        labelVisible="false"
                        name="choice"
                        option="评审实施计划"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pmProjectApprove.expertgroupcountersign"
            name="专家组会签">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写会签意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="会签意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="会签结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pmProjectApprove.reviewteamleader"
            name="评审组组长审批">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写评审意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="评审意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="是否整改"
                        labelVisible="false"
                        name="choice"
                        option="是否整改"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               title="流程记录">
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pmProjectApprove.meetingreview"
            name="会议评审">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写会议评审意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="评审意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="评审结论"
                        labelVisible="false"
                        name="choice"
                        option="是否整改"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pmProjectApprove.resultaudit"
            name="处理结果审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写审核意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="审核意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="是否通过"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
 </plugin>
   

