<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="pm2.projectcommit.audit"
            name="审核"
            persistentFields="comment,choice"
            processDefinitionId="pm2.projectcommit">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pm2.projectcommit.approval"
            name="批准"
            persistentFields="choice"
            processDefinitionId="pm2.projectcommit">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pm2.projectcommit.audit"
            name="审核"
            persistentFields="comment,choice"
            processDefinitionId="pm.projectcommit">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pm2.projectcommit.approval"
            name="项目计划提交批准">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写批准意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="批准"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pm2.projectcommit.audit"
            name="项目计划提交审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写审核意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="审核意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="审核结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.widgets.option">
      <option
            id="是否通过"
            label="是否通过">
         <option
               id="通过"
               label="通过"
               value="通过">
         </option>
         <option
               id="不通过"
               label="不通过"
               value="不通过">
         </option>
      </option>
      <option
            id="是否批准"
            label="是否批准">
         <option
               id="批准"
               label="批准"
               value="批准">
         </option>
         <option
               id="不批准"
               label="不批准"
               value="不批准">
         </option>
         <option
               id="整改"
               label="整改"
               value="整改">
         </option>
      </option>
      <option
            id="评审实施计划"
            label="评审实施计划">
         <option
               id="会签评审"
               label="会签评审"
               value="会签评审">
         </option>
         <option
               id="会议评审"
               label="会议评审"
               value="会议评审">
         </option>
      </option>
      <option
            id="是否资料预审"
            label="是否资料预审">
         <option
               id="预审"
               label="预审"
               value="预审">
         </option>
         <option
               id="不预审"
               label="不预审"
               value="不预审">
         </option>
         <option
               id="不通过"
               label="不通过"
               value="不通过">
         </option>
      </option>
      <option
            id="是否整改"
            label="是否整改">
         <option
               id="整改"
               label="整改"
               value="整改">
         </option>
         <option
               id="通过"
               label="通过"
               value="通过">
         </option>
         <option
               id="不通过"
               label="不通过"
               value="不通过">
         </option>
      </option>
      <option
            id="是\否"
            label="是\否">
         <option
               id="是"
               label="是"
               value="是">
         </option>
         <option
               id="否"
               label="否"
               value="否">
         </option>
      </option>
      <option
            id="同意\不同意 "
            label="同意\不同意 ">
         <option
               id="通过"
               label="通过"
               value="通过">
         </option>
         <option
               id="不通过"
               label="不通过"
               value="不通过">
         </option>
      </option>
      <option
            id="评审批准"
            label="评审批准">
         <option
               id="通过"
               label="通过"
               value="通过">
         </option>
         <option
               id="不通过"
               label="不通过"
               value="不通过">
         </option>
         <option
               id="修改评审组"
               label="修改评审组"
               value="修改评审组">
         </option>
      </option>
      <option
            id="评审方式"
            label="评审方式">
         <option
               id="会签评审"
               label="会签评审"
               value="会签评审">
         </option>
         <option
               id="会议评审"
               label="会议评审"
               value="会议评审">
         </option>
         <option
               id="不评审"
               label="不评审"
               value="不评审">
         </option>
      </option>
   </extension>
   <extension
         point="com.sg.bpm.service.actorRule">
      <actorRule
            actorIdProvider="com.sg.business.taskforms.actor.ProjectAdminOfProject"
            id="prj_admin"
            name="项目所在管理部门的项目管理员">
      </actorRule>
      <actorRule
            actorIdProvider="com.sg.business.taskforms.actor.SupervisorOfLauncher"
            id="supervisor"
            name="项目发起人所在部门的管理者">
      </actorRule>
      <actorRule
            actorIdProvider="com.sg.business.taskforms.actor.DeptLeaderOfLauncher"
            id="dept_leader"
            name="流程发起人所在部门的管理者">
      </actorRule>
      <actorRule
            actorIdProvider="com.sg.business.taskforms.actor.DeputyDirectorOfLauncher"
            id="deputy_director"
            name="流程发起人所在部门常务副主任">
      </actorRule>
      <actorRule
            actorIdProvider="com.sg.business.taskforms.actor.ChiefEngineerOfLauncher"
            id="chief_engineer"
            name="流程发起人所在部门总工">
      </actorRule>
   </extension>
   <extension
         point="com.sg.bpm.service.serviceTask">
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="pm.genericapprovalprocess.audit"
            name="审核"
            persistentFields="choice"
            processDefinitionId="pm.pmGenericApprovalProcess">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pm.genericapprovalprocess.approval"
            name="批准"
            persistentFields="choice"
            processDefinitionId="pm.pmGenericApprovalProcess">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="pm.genericapprovalprocess.audit"
            name="审核"
            persistentFields="choice"
            processDefinitionId="pm.pmGenericApprovalProcess1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pm.genericapprovalprocess.approval"
            name="批准"
            persistentFields="choice"
            processDefinitionId="pm.pmGenericApprovalProcess1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="pm.genericapprovalprocess.audit"
            name="审核"
            persistentFields="choice"
            processDefinitionId="pm.pmGenericApprovalProcess2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pm.genericapprovalprocess.approval"
            name="批准"
            persistentFields="choice"
            processDefinitionId="pm.pmGenericApprovalProcess2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="pm.genericapprovalprocess.audit"
            name="审核"
            persistentFields="choice"
            processDefinitionId="pm.pmGenericApprovalProcess3">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pm.genericapprovalprocess.approval"
            name="批准"
            persistentFields="choice"
            processDefinitionId="pm.pmGenericApprovalProcess3">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pm.genericapprovalprocess.approval"
            name="批准">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写批准意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="批准"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pm.genericapprovalprocess.audit"
            name="审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写审核意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="审核意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="审核结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
   </extension>
 </plugin>
   

