<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="pm2.projectcommit.audit"
            name="审核"
            persistentFields="comment,choice"
            processDefinitionId="pm2.projectcommit">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pm2.projectcommit.approval"
            name="批准"
            persistentFields="choice"
            processDefinitionId="pm2.projectcommit">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pm2.projectcommit.audit"
            name="审核"
            persistentFields="comment,choice"
            processDefinitionId="pm.projectcommit">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pm2.projectcommit.audit"
            name="审核"
            persistentFields="choice"
            processDefinitionId="pm.genericapprovalprocess">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="pm2.projectcommit.approval"
            name="批准"
            persistentFields="choice"
            processDefinitionId="pm.genericapprovalprocess">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="审批"
            processDefinitionId="pm.systemprojectapprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
         <processParameter
               processParameterName="reviewer_list"
               taskFormFieldName="reviewer_list">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pm2.projectcommit.audit"
            name="项目计划提交审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写审核意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="审核意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="审核结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pm2.projectcommit.approval"
            name="项目计划提交批准">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写批准意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="批准"
                        labelVisible="false"
                        name="choice"
                        option="是否批准"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="pm.systemprojectapprove.audit"
            name="系统部评审审批">
         <basicpage
               id="basicpage1"
               title="审批">
            <pagecolumn>
               <section
                     label="请填写批准意见、结论和评审专家组成员">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="批准"
                        labelVisible="false"
                        name="choice"
                        option="通过及预审"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <radio
                        editable="true"
                        id="pretrial"
                        label="资料预审"
                        labelVisible="false"
                        name="pretrial"
                        option="是否资料预审"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <list
                        addTableItemHandler="com.sg.business.commons.field.action.AddParticipate"
                        editable="true"
                        id="reviewer_list"
                        label="参与者"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProviderInField"
                        name="reviewer_list"
                        persistable="true"
                        required="false">
                  </list>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.widgets.option">
      <option
            id="是否通过"
            label="是否通过">
         <option
               id="通过"
               label="通过"
               value="通过">
         </option>
         <option
               id="不通过"
               label="不通过"
               value="不通过">
         </option>
      </option>
      <option
            id="是否批准"
            label="是否批准">
         <option
               id="批准"
               label="批准"
               value="批准">
         </option>
         <option
               id="不批准"
               label="不批准"
               value="不批准">
         </option>
         <option
               id="整改"
               label="整改"
               value="整改">
         </option>
      </option>
      <option
            id="是否资料预审"
            label="是否资料预审">
         <option
               id="预审"
               label="预审"
               value="预审">
         </option>
         <option
               id="不预审"
               label="不预审"
               value="不预审">
         </option>
      </option>
   </extension>

</plugin>
