<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzxApprove.check"
            name="校核"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDocumentApproveOfA1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.craft"
            name="工艺审核"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDocumentApproveOfA1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.auditor"
            name="审核"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDocumentApproveOfA1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.approve"
            name="批准"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDocumentApproveOfA1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzxApprove.check"
            name="校核"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDocumentApproveOfA2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.auditor"
            name="审核"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDocumentApproveOfA2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.approve"
            name="批准"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDocumentApproveOfA2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzxApprove.check"
            name="校核"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDocumentApproveOfBC1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.craft"
            name="工艺审核"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDocumentApproveOfBC1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.approve"
            name="批准"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDocumentApproveOfBC1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzxApprove.check"
            name="校核"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDocumentApproveOfBC2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.approve"
            name="批准"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDocumentApproveOfBC2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzxApprove.check"
            name="校核"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDrawingApproveOfA">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.craft"
            name="工艺审核"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDrawingApproveOfA">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.auditor"
            name="审核"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDrawingApproveOfA">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.approve"
            name="批准"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDrawingApproveOfA">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzxApprove.check"
            name="校核"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDrawingApproveOfBC">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.craft"
            name="工艺审核"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDrawingApproveOfBC">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.approve"
            name="批准"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxDrawingApproveOfBC">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzxApprove.check"
            name="校核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzxApprove.craft"
            name="工艺审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzxApprove.auditor"
            name="审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzxApprove.approve"
            name="批准">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzx.kfzxMeetingReview.confirm"
            name="确认评审组成员"
            persistentFields="reviewer_admin,reviewer_list,confirmtime,confirmaddress"
            processDefinitionId="kfzx.kfzxMeetingReview">
         <processParameter
               processParameterName="reviewer_admin"
               taskFormFieldName="reviewer_admin">
         </processParameter>
         <processParameter
               processParameterDelegator="com.sg.business.commons.field.processparameterdelegator.ChangetToList"
               processParameterName="reviewer_list"
               taskFormFieldName="reviewer_list">
         </processParameter>
         <processParameter
               processParameterName="confirmtime"
               taskFormFieldName="confirmtime">
         </processParameter>
         <processParameter
               processParameterName="confirmaddress"
               taskFormFieldName="confirmaddress">
         </processParameter>
         <processParameter
               processParameterName="confirmdata"
               taskFormFieldName="confirmdata">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxMeetingReview.option"
            name="评审意见录入"
            persistentFields="comment,commentfile"
            processDefinitionId="kfzx.kfzxMeetingReview"
            saveHandler="com.tmt.kfzx.handler.MeetingReviewCommentfile">
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxMeetingReview.audit"
            name="评审组组长审批"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxMeetingReview">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxMeetingReview.confirm"
            name="确认评审组成员">
         <basicpage
               id="basicpage1"
               title="审批">
            <pagecolumn>
               <section
                     label="请填写批准意见、结论和评审专家组成员">
                  <dateTime
                        defaultValueProvider="com.sg.business.commons.value.TodayDefault"
                        editPart="DateDialog"
                        editable="true"
                        id="confirmdata"
                        label="评审会日期"
                        labelVisible="true"
                        name="confirmdata"
                        persistable="true"
                        required="false"
                        type="Time">
                  </dateTime>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="confirmtime"
                        label="评审会议时间"
                        labelVisible="true"
                        name="confirmtime"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="confirmaddress"
                        label="评审会地点"
                        labelVisible="true"
                        name="confirmaddress"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <navigatorSelector
                        editable="true"
                        id="reviewer_admin"
                        label="评审组组长"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                        modelClass="com.sg.business.model.User"
                        name="reviewer_admin"
                        navigatorId="organization.user"
                        navigatorReturnField="userid"
                        persistable="true"
                        required="false">
                  </navigatorSelector>
                  <list
                        addTableItemHandler="com.tmt.kfzx.field.action.AddRiewerList"
                        editable="true"
                        id="reviewer_list"
                        label="评审组"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProviderInField"
                        name="reviewer_list"
                        persistable="true"
                        required="false">
                  </list>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxMeetingReview.option"
            name="评审意见录入">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写评审意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="评审意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="意见附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="commentfile"
                        labelVisible="true"
                        name="commentfile"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxMeetingReview.audit"
            name="审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzx.kfzxProjrctStart.submit"
            name="提交会议申请"
            persistentFields="reviewer_admin,reviewer_list"
            processDefinitionId="kfzx.kfzxProjrctStart">
         <processParameter
               processParameterName="reviewer_admin"
               taskFormFieldName="reviewer_admin">
         </processParameter>
         <processParameter
               processParameterDelegator="com.sg.business.commons.field.processparameterdelegator.ChangetToList"
               processParameterName="reviewer_list"
               taskFormFieldName="reviewer_list">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxProjrctStart.meetingnotice"
            name="下发会议通知"
            persistentFields="confirmtime,confirmaddress"
            processDefinitionId="kfzx.kfzxProjrctStart">
         <processParameter
               processParameterName="confirmtime"
               taskFormFieldName="confirmtime">
         </processParameter>
         <processParameter
               processParameterName="confirmaddress"
               taskFormFieldName="confirmaddress">
         </processParameter>
         <processParameter
               processParameterName="confirmdata"
               taskFormFieldName="confirmdata">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxProjrctStart.meetingminutes"
            name="上传会议纪要"
            persistentFields="commentfile"
            processDefinitionId="kfzx.kfzxProjrctStart"
            saveHandler="com.tmt.kfzx.handler.MeetingReviewCommentfile">
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxProjrctStart.submit"
            name="提交会议申请">
         <basicpage
               id="page1"
               title="审批">
            <pagecolumn>
               <section
                     label="请确定评审组组长和评审组成员">
                  <navigatorSelector
                        editable="true"
                        id="reviewer_admin"
                        label="评审组组长"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                        modelClass="com.sg.business.model.User"
                        name="reviewer_admin"
                        navigatorId="organization.user"
                        navigatorReturnField="userid"
                        persistable="true"
                        required="false">
                  </navigatorSelector>
                  <list
                        addTableItemHandler="com.tmt.kfzx.field.action.AddRiewerList"
                        editable="true"
                        id="reviewer_list"
                        label="评审组"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProviderInField"
                        name="reviewer_list"
                        persistable="true"
                        required="false">
                  </list>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxProjrctStart.meetingnotice"
            name="下发会议通知">
         <basicpage
               id="basicpage1"
               title="审批">
            <pagecolumn>
               <section
                     label="请确认评审会时间和地点">
                  <dateTime
                        defaultValueProvider="com.sg.business.commons.value.TodayDefault"
                        editPart="DateDialog"
                        editable="true"
                        id="confirmdata"
                        label="评审会日期"
                        labelVisible="true"
                        name="confirmdata"
                        persistable="true"
                        required="false"
                        type="Time">
                  </dateTime>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="confirmtime"
                        label="评审会时间"
                        labelVisible="true"
                        name="confirmtime"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="confirmaddress"
                        label="评审会地点"
                        labelVisible="true"
                        name="confirmaddress"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxProjrctStart.meetingminutes"
            name="上传会议纪要">
         <basicpage
               id="page1"
               title="评审意见">
            <pagecolumn>
               <section
                     label="会议纪要">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="commentfile"
                        labelVisible="true"
                        name="commentfile"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.service.serviceTask">
      <service
            interface="kfzxmessage.service.action"
            name="文件图纸审核消息"
            operation="approvemessage"
            serviceProvider="com.tmt.kfzx.bpmservice.ApproveMessageOfKFZX">
      </service>
      <service
            interface="kfzxmeetingmessage.service.action"
            name="开发中心试制评审会议通知消息"
            operation="meetingmessage"
            serviceProvider="com.tmt.kfzx.bpmservice.MeetingMessageOfKFZX">
      </service>
      <service
            interface="kfzxmeetingmessage.service.action1"
            name="开发中心试制评审通过通知消息"
            operation="workmessage"
            serviceProvider="com.tmt.kfzx.bpmservice.MeetingMessageOfKFZX">
      </service>
      <service
            interface="kfzxprojectstart.service.action"
            name="开发中心项目启动会议消息 "
            operation="meetingmessage"
            serviceProvider="com.tmt.kfzx.bpmservice.projectstartMessageOfKFZX">
      </service>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzx.kfzxSubconcessions.application"
            name="转批申请"
            persistentFields="number,product,prj_manager,dept"
            processDefinitionId="kfzx.kfzxSubconcessions">
         <processParameter
               processParameterName="number"
               taskFormFieldName="number">
         </processParameter>
         <processParameter
               processParameterDelegator="com.sg.business.commons.field.processparameterdelegator.ChangetToList"
               processParameterName="product"
               taskFormFieldName="product">
         </processParameter>
         <processParameter
               processParameterName="prj_manager"
               taskFormFieldName="prj_manager">
         </processParameter>
         <processParameter
               processParameterDelegator="com.tmt.kfzx.field.parameter.DataAudit"
               processParameterName="data_audit"
               taskFormFieldName="dept">
         </processParameter>
         <processParameter
               processParameterDelegator="com.tmt.kfzx.field.parameter.DevelopmentDirector"
               processParameterName="development_director"
               taskFormFieldName="dept">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxSubconcessions.audit"
            name="项目负责人审核"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxSubconcessions">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxSubconcessions.dataaudit"
            name="资料初审"
            persistentFields="qm,craft"
            processDefinitionId="kfzx.kfzxSubconcessions">
         <processParameter
               processParameterName="qm"
               taskFormFieldName="qm">
         </processParameter>
         <processParameter
               processParameterName="craft"
               taskFormFieldName="craft">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxSubconcessions.review"
            name="制造中心工艺资料复审"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxSubconcessions">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxSubconcessions.review"
            name="品管部资料复审"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxSubconcessions">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxSubconcessions.meetingconfirmed"
            name="会议确认"
            persistentFields="review_admin,reviewer_list,choice"
            processDefinitionId="kfzx.kfzxSubconcessions">
         <processParameter
               processParameterName="review_admin"
               taskFormFieldName="review_admin">
         </processParameter>
         <processParameter
               processParameterDelegator="com.sg.business.commons.field.processparameterdelegator.ChangetToList"
               processParameterName="reviewer_list"
               taskFormFieldName="reviewer_list">
         </processParameter>
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxSubconcessions.reviewform"
            name="上传转批评审表"
            persistentFields="commentfile,choice,comment"
            processDefinitionId="kfzx.kfzxSubconcessions">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxSubconcessions.audit"
            name="专家组评审"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxSubconcessions">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxSubconcessions.audit"
            name="评审组组长审核"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxSubconcessions">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxSubconcessions.audit"
            name="开发中心主任批准"
            persistentFields="choice,comment"
            processDefinitionId="kfzx.kfzxSubconcessions">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxSubconcessions.application"
            name="转批申请">
         <basicpage
               id="page1"
               title="审批">
            <pagecolumn>
               <section
                     label="请填写转批申请">
                  <navigatorSelector
                        editable="true"
                        id="dept"
                        label="转批部门"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.OrgLabelProvidder"
                        modelClass="com.sg.business.model.Organization"
                        name="dept"
                        navigatorId="taskforms.organization.navigator"
                        navigatorReturnField="_id"
                        navigatorSelectorControl="com.tmt.kfzx.field.control.DeptSelectContor"
                        persistable="true"
                        required="true">
                  </navigatorSelector>
                  <navigatorSelector
                        editable="true"
                        id="prj_manager"
                        label="项目负责人"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                        modelClass="com.sg.business.model.User"
                        name="prj_manager"
                        navigatorId="organization.user"
                        navigatorReturnField="userid"
                        persistable="true"
                        required="true">
                  </navigatorSelector>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="number"
                        label="工作令号"
                        labelVisible="true"
                        name="number"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <list
                        editable="true"
                        id="product"
                        label="物料编号"
                        labelVisible="true"
                        name="product"
                        persistable="true"
                        required="false">
                  </list>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxSubconcessions.audit"
            name="审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxSubconcessions.review"
            name="复核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否整改"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxSubconcessions.dataaudit"
            name="资料初审">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="确定复审人员">
                  <navigatorSelector
                        editable="true"
                        id="qm"
                        label="品管部复审人员"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                        modelClass="com.sg.business.model.User"
                        name="qm"
                        navigatorId="com.tmt.kfzx.CheckUserNav"
                        navigatorReturnField="userid"
                        persistable="true"
                        required="false">
                  </navigatorSelector>
                  <navigatorSelector
                        editable="true"
                        id="craft"
                        label="制造中心复审人员"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                        modelClass="com.sg.business.model.User"
                        name="craft"
                        navigatorId="com.tmt.kfzx.CheckUserNav"
                        navigatorReturnField="userid"
                        persistable="true"
                        required="false">
                  </navigatorSelector>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxSubconcessions.meetingconfirmed"
            name="会议确认">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="确定专家组成员和评审组组长">
                  <radio
                        editable="true"
                        id="choice"
                        label="评审实施计划"
                        labelVisible="false"
                        name="choice"
                        option="评审实施计划"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <navigatorSelector
                        editable="true"
                        id="review_admin"
                        label="评审组组长"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                        modelClass="com.sg.business.model.User"
                        name="review_admin"
                        navigatorId="com.tmt.kfzx.CheckUserNav"
                        navigatorReturnField="userid"
                        persistable="true"
                        required="false">
                  </navigatorSelector>
                  <list
                        addTableItemHandler="com.tmt.kfzx.field.action.AddRiewerList"
                        editable="true"
                        id="reviewer_list"
                        label="专家组成员"
                        labelVisible="true"
                        name="reviewer_list"
                        persistable="true"
                        required="false">
                  </list>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxSubconcessions.reviewform"
            name="上传转批评审表">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="page3"
               title="评审意见表">
            <pagecolumn>
               <section
                     label="转批评审表">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="commentfile"
                        labelVisible="true"
                        name="commentfile"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="com.tmt.kfzx.CheckUserNav"
            table="com.tmt.kfzx.CheckUserNav">
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            dataSet="com.tmt.kfzx.dataset.AllUserByDept"
            id="com.tmt.kfzx.CheckUserNav">
         <column
               columnDefinitionId="com.sg.widgets.commonlabel">
         </column>
      </table>
   </extension>

</plugin>
