<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzxApprove.check"
            name="校核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDocumentApproveOfA1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.craft"
            name="工艺审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDocumentApproveOfA1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.auditor"
            name="审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDocumentApproveOfA1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.approve"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDocumentApproveOfA1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="kfzx.kfzxDocumentApproveOfA1"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzxApprove.check"
            name="校核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDocumentApproveOfA2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.auditor"
            name="审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDocumentApproveOfA2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.approve"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDocumentApproveOfA2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="kfzx.kfzxDocumentApproveOfA2"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzxApprove.check"
            name="校核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDocumentApproveOfBC1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.craft"
            name="工艺审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDocumentApproveOfBC1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.approve"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDocumentApproveOfBC1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="kfzx.kfzxDocumentApproveOfBC1"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzxApprove.check"
            name="校核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDocumentApproveOfBC2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.approve"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDocumentApproveOfBC2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="kfzx.kfzxDocumentApproveOfBC2"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzxApprove.check"
            name="校核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDrawingApproveOfA">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.craft"
            name="工艺审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDrawingApproveOfA">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.auditor"
            name="审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDrawingApproveOfA">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.approve"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDrawingApproveOfA">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="kfzx.kfzxDrawingApproveOfA"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzxApprove.check"
            name="校核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDrawingApproveOfBC">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.craft"
            name="工艺审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDrawingApproveOfBC">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzxApprove.approve"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxDrawingApproveOfBC">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="kfzx.kfzxDrawingApproveOfBC"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzxApprove.check"
            name="%editor.name">
         <basicpage
               id="page1"
               title="%basicpage.title">
            <pagecolumn>
               <section
                     label="%section.label">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="%text.label"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="%radio.label"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="%basicpage.title.0">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.1">
            <pagecolumn>
               <section
                     label="%section.label.0">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzxApprove.craft"
            name="%editor.name.0">
         <basicpage
               id="page1"
               title="%basicpage.title.2">
            <pagecolumn>
               <section
                     label="%section.label.1">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="%text.label.0"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="%radio.label.0"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="%basicpage.title.3">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.4">
            <pagecolumn>
               <section
                     label="%section.label.2">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label.0"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzxApprove.auditor"
            name="%editor.name.1">
         <basicpage
               id="page1"
               title="%basicpage.title.5">
            <pagecolumn>
               <section
                     label="%section.label.3">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="%text.label.1"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="%radio.label.1"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="%basicpage.title.6">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.7">
            <pagecolumn>
               <section
                     label="%section.label.4">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label.1"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzxApprove.approve"
            name="%editor.name.2">
         <basicpage
               id="page1"
               title="%basicpage.title.8">
            <pagecolumn>
               <section
                     label="%section.label.5">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="%text.label.2"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="%radio.label.2"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="%basicpage.title.9">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.10">
            <pagecolumn>
               <section
                     label="%section.label.6">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label.2"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzx.kfzxMeetingReview.confirm"
            name="确认评审组成员"
            persistentFields="reviewer_admin,reviewer_list,confirmtime,confirmaddress,accessory"
            processDefinitionId="kfzx.kfzxMeetingReview"
            saveHandler="com.sg.business.taskforms.systemprojectapprove.AuditSave">
         <processParameter
               processParameterName="reviewer_admin"
               taskFormFieldName="reviewer_admin">
         </processParameter>
         <processParameter
               processParameterDelegator="com.sg.business.commons.field.processparameterdelegator.ChangetToList"
               processParameterName="reviewer_list"
               taskFormFieldName="reviewer_list">
         </processParameter>
         <processParameter
               processParameterName="confirmtime"
               taskFormFieldName="confirmtime">
         </processParameter>
         <processParameter
               processParameterName="confirmaddress"
               taskFormFieldName="confirmaddress">
         </processParameter>
         <processParameter
               processParameterName="confirmdata"
               taskFormFieldName="confirmdata">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxMeetingReview.option"
            name="评审意见录入"
            persistentFields="comment,accessory,accessory"
            processDefinitionId="kfzx.kfzxMeetingReview"
            saveHandler="com.tmt.kfzx.handler.MeetingReviewAccessory"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxMeetingReview.audit"
            name="评审组组长审批"
            persistentFields="choice,comment,accessory"
            processDefinitionId="kfzx.kfzxMeetingReview">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxMeetingReview.confirm"
            name="%editor.name.3">
         <basicpage
               id="basicpage1"
               title="%basicpage.title.11">
            <pagecolumn>
               <section
                     label="%section.label.7">
                  <dateTime
                        defaultValueProvider="com.sg.business.commons.value.TodayDefault"
                        editPart="DateDialog"
                        editable="true"
                        id="confirmdata"
                        label="%dateTime.label"
                        labelVisible="true"
                        name="confirmdata"
                        persistable="true"
                        required="false"
                        type="Time">
                  </dateTime>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="confirmtime"
                        label="%text.label.3"
                        labelVisible="true"
                        name="confirmtime"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="confirmaddress"
                        label="%text.label.4"
                        labelVisible="true"
                        name="confirmaddress"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <navigatorSelector
                        editable="true"
                        id="reviewer_admin"
                        label="%navigatorSelector.label"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                        modelClass="com.sg.business.model.User"
                        name="reviewer_admin"
                        navigatorId="organization.user"
                        navigatorReturnField="userid"
                        persistable="true"
                        required="false">
                  </navigatorSelector>
                  <list
                        addTableItemHandler="com.sg.business.commons.field.action.AddRiewerList"
                        editable="true"
                        id="reviewer_list"
                        label="%list.label"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProviderInField"
                        name="reviewer_list"
                        persistable="true"
                        required="false">
                  </list>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="%basicpage.title.12">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.13">
            <pagecolumn>
               <section
                     label="%section.label.8">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label.3"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxMeetingReview.option"
            name="%editor.name.4">
         <basicpage
               id="page1"
               title="%basicpage.title.14">
            <pagecolumn>
               <section
                     label="%section.label.9">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="%text.label.5"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="%basicpage.title.15">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.16">
            <pagecolumn>
               <section
                     label="%section.label.10">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxMeetingReview.audit"
            name="%editor.name.5">
         <basicpage
               id="page1"
               title="%basicpage.title.17">
            <pagecolumn>
               <section
                     label="%section.label.11">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="%text.label.6"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="%radio.label.3"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="%basicpage.title.18">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.19">
            <pagecolumn>
               <section
                     label="%section.label.12">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label.4"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kfzx.kfzxProjrctStart.submit"
            name="提交会议申请"
            persistentFields="reviewer_admin,reviewer_list,accessory"
            processDefinitionId="kfzx.kfzxProjrctStart"
            saveHandler="com.sg.business.taskforms.systemprojectapprove.AuditSave"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
         <processParameter
               processParameterName="reviewer_admin"
               taskFormFieldName="reviewer_admin">
         </processParameter>
         <processParameter
               processParameterDelegator="com.sg.business.commons.field.processparameterdelegator.ChangetToList"
               processParameterName="reviewer_list"
               taskFormFieldName="reviewer_list">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxProjrctStart.meetingnotice"
            name="下发会议通知"
            persistentFields="confirmtime,confirmaddress,accessory"
            processDefinitionId="kfzx.kfzxProjrctStart">
         <processParameter
               processParameterName="confirmtime"
               taskFormFieldName="confirmtime">
         </processParameter>
         <processParameter
               processParameterName="confirmaddress"
               taskFormFieldName="confirmaddress">
         </processParameter>
         <processParameter
               processParameterName="confirmdata"
               taskFormFieldName="confirmdata">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kfzx.kfzxProjrctStart.meetingminutes"
            name="上传会议纪要"
            persistentFields="accessory"
            processDefinitionId="kfzx.kfzxProjrctStart"
            saveHandler="com.tmt.kfzx.handler.MeetingReviewAccessory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxProjrctStart.submit"
            name="%editor.name.6">
         <basicpage
               id="page1"
               title="%basicpage.title.20">
            <pagecolumn>
               <section
                     label="%section.label.13">
                  <navigatorSelector
                        editable="true"
                        id="reviewer_admin"
                        label="%navigatorSelector.label.0"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                        modelClass="com.sg.business.model.User"
                        name="reviewer_admin"
                        navigatorId="organization.user"
                        navigatorReturnField="userid"
                        persistable="true"
                        required="false">
                  </navigatorSelector>
                  <list
                        addTableItemHandler="com.sg.business.commons.field.action.AddRiewerList"
                        editable="true"
                        id="reviewer_list"
                        label="%list.label.0"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProviderInField"
                        name="reviewer_list"
                        persistable="true"
                        required="false">
                  </list>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="%basicpage.title.21">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.22">
            <pagecolumn>
               <section
                     label="%section.label.14">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label.5"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxProjrctStart.meetingnotice"
            name="%editor.name.7">
         <basicpage
               id="basicpage1"
               title="%basicpage.title.23">
            <pagecolumn>
               <section
                     label="%section.label.15">
                  <dateTime
                        defaultValueProvider="com.sg.business.commons.value.TodayDefault"
                        editPart="DateDialog"
                        editable="true"
                        id="confirmdata"
                        label="%dateTime.label.0"
                        labelVisible="true"
                        name="confirmdata"
                        persistable="true"
                        required="false"
                        type="Time">
                  </dateTime>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="confirmtime"
                        label="%text.label.7"
                        labelVisible="true"
                        name="confirmtime"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="confirmaddress"
                        label="%text.label.8"
                        labelVisible="true"
                        name="confirmaddress"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="%basicpage.title.24">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.25">
            <pagecolumn>
               <section
                     label="%section.label.16">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label.6"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kfzx.kfzxProjrctStart.meetingminutes"
            name="%editor.name.8">
         <basicpage
               id="page1"
               title="%basicpage.title.26">
            <pagecolumn>
               <section
                     label="%section.label.17">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="%basicpage.title.27">
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.service.serviceTask">
      <service
            interface="kfzxmessage.service.action"
            name="文件图纸审核消息"
            operation="approvemessage"
            serviceProvider="com.tmt.kfzx.bpmservice.ApproveMessageOfKFZX">
      </service>
      <service
            interface="kfzxmeetingmessage.service.action"
            name="开发中心试制评审会议通知消息"
            operation="meetingmessage"
            serviceProvider="com.tmt.kfzx.bpmservice.MeetingMessageOfKFZX">
      </service>
      <service
            interface="kfzxmeetingmessage.service.action1"
            name="开发中心试制评审通过通知消息"
            operation="workmessage"
            serviceProvider="com.tmt.kfzx.bpmservice.MeetingMessageOfKFZX">
      </service>
      <service
            interface="kfzxprojectstart.service.action"
            name="开发中心项目启动会议消息 "
            operation="meetingmessage"
            serviceProvider="com.tmt.kfzx.bpmservice.projectstartMessageOfKFZX">
      </service>
   </extension>

</plugin>
