<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            name="确认评审组成员"
            persistentFields="review_admin"
            processDefinitionId="kfzx.kfzxMeetingReview">
         <processParameter
               processParameterName="review_admin"
               taskFormFieldName="review_admin">
         </processParameter>
      </taskForm>
      <taskForm
            name="确认评审组成员"
            persistentFields="review_admin"
            processDefinitionId="kfzx.kfzxMeetingReview">
         <processParameter
               processParameterName="review_admin"
               taskFormFieldName="review_admin">
         </processParameter>
      </taskForm>
   </extension>

</plugin>
