<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="jszx.jszxProjectApply.apply"
            name="申请技术支持"
            persistentFields="dept"
            processDefinitionId="jszx.jszxProjectApply"
            saveHandler="com.tmt.jszx.savehandler.ApplySave">
         <processParameter
               processParameterDelegator="com.tmt.jszx.field.parameter.DeptDirector"
               processParameterName="dept_director"
               taskFormFieldName="dept">
         </processParameter>
         <processParameter
               processParameterName="chief_master"
               taskFormFieldName="chief_engineer">
         </processParameter>
         <processParameter
               processParameterDelegator="com.tmt.jszx.field.parameter.DeputyDirector"
               processParameterName="deputy_director"
               taskFormFieldName="dept">
         </processParameter>
         <processParameter
               processParameterDelegator="com.tmt.jszx.field.parameter.ProjectAdmin"
               processParameterName="prj_admin"
               taskFormFieldName="dept">
         </processParameter>
         <processParameter
               processParameterName="dept"
               taskFormFieldName="dept">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectApply.audit"
            name="申请部门审核"
            persistentFields="comment,choice"
            processDefinitionId="jszx.jszxProjectApply">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectApply.approval"
            name="申请部门总工批准"
            persistentFields="comment,choice"
            processDefinitionId="jszx.jszxProjectApply">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectApply.audit"
            name="首席师审核"
            persistentFields="comment,choice"
            processDefinitionId="jszx.jszxProjectApply">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectApply.directorAudit"
            name="受托研究室主任审核"
            persistentFields="comment,choice"
            processDefinitionId="jszx.jszxProjectApply">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
         <processParameter
               processParameterName="worker"
               taskFormFieldName="worker">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectApply.approval"
            name="常务副主任批准"
            persistentFields="comment,choice"
            processDefinitionId="jszx.jszxProjectApply">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectApply.determineProject_number"
            name="确定工作令号"
            persistentFields="project_number"
            processDefinitionId="jszx.jszxProjectApply">
         <processParameter
               processParameterName="project_number"
               taskFormFieldName="project_number">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectApply.audit"
            name="首席师审核_委托工作"
            persistentFields="comment,choice"
            processDefinitionId="jszx.jszxProjectApply">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectApply.audit"
            name="受托研究室主任审核_委托工作"
            persistentFields="comment,choice"
            processDefinitionId="jszx.jszxProjectApply">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectApply.audit"
            name="受托研究室主任审核_委托工作"
            persistentFields="choice,comment"
            processDefinitionId="jszx.jszxProjectApply">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectApply.approval"
            name="申请人确认工作"
            persistentFields="choice,comment"
            processDefinitionId="jszx.jszxProjectApply">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectApply.audit"
            name="审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectApply.approval"
            name="批准">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectApply.apply"
            name="申请技术支持">
         <basicpage
               id="basicpage1"
               title="审批">
            <pagecolumn>
               <section
                     label="请选择委托部门">
                  <navigatorSelector
                        editable="true"
                        id="dept"
                        label="委托部门"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.OrgLabelProvidder"
                        modelClass="com.sg.business.model.Organization"
                        name="dept"
                        navigatorId="taskforms.organization.navigator"
                        navigatorReturnField="_id"
                        navigatorSelectorControl="com.tmt.jszx.field.control.DeptSelectControl"
                        persistable="true"
                        required="true">
                  </navigatorSelector>
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="chief_engineer"
                        isComputeField="true"
                        label="首席师"
                        labelVisible="true"
                        name="chief_engineer"
                        optionProvider="com.tmt.jszx.option.ChiefEngineerOption"
                        persistable="true"
                        required="false"
                        type="String">
                  </combo>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectApply.directorAudit"
            name="受托研究室主任审核">
         <basicpage
               id="basicpage1"
               title="审批">
            <pagecolumn>
               <section
                     label="请选择执行人和审核意见">
                  <navigatorSelector
                        editable="true"
                        id="worker"
                        label="执行人"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                        modelClass="com.sg.business.model.User"
                        name="worker"
                        navigatorId="jszx.project_apply.worker.selector"
                        navigatorReturnField="userid"
                        persistable="true"
                        required="true">
                  </navigatorSelector>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectApply.determineProject_number"
            name="确定工作令号">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写工作令号">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="project_number"
                        label="工作令号"
                        labelVisible="true"
                        name="project_number"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.service.actorRule">
      <actorRule
            actorIdProvider="com.tmt.jszx.actor.DeptDirectorOfLauncher"
            id="dept_director"
            name="流程发起人所在研究室主任">
      </actorRule>
      <actorRule
            actorIdProvider="com.tmt.jszx.actor.DeputyDirectorOfLauncher"
            id="deputy_director"
            name="流程发起人所在部门常务副主任">
      </actorRule>
      <actorRule
            actorIdProvider="com.tmt.jszx.actor.ChiefEngineerOfLauncher"
            id="chief_engineer"
            name="流程发起人所在部门总工">
      </actorRule>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="jszx.jszxProjectChange.audit"
            name="首席师审核"
            persistentFields="comment,choice"
            processDefinitionId="jszx.jszxProjectChange">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectChange.audit"
            name="研究室主任审核"
            persistentFields="comment,choice"
            processDefinitionId="jszx.jszxProjectChange">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectChange.approval"
            name="常务副主任批准"
            persistentFields="comment,choice"
            processDefinitionId="jszx.jszxProjectChange">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="jszx.jszxProjectChange.audit"
            name="首席师审核"
            persistentFields="comment,choice"
            processDefinitionId="jszx.jszxProjectClose">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectChange.audit"
            name="研究室主任审核"
            persistentFields="comment,choice"
            processDefinitionId="jszx.jszxProjectClose">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectChange.approval"
            name="常务副主任批准"
            persistentFields="comment,choice"
            processDefinitionId="jszx.jszxProjectClose">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectChange.audit"
            name="审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectChange.approval"
            name="批准">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="jszx.jszxProjectReview.application"
            name="提交评审"
            persistentFields="reviewer_list"
            processDefinitionId="jszx.jszxProjectReview"
            saveHandler="com.tmt.jszx.handler.ProjectReviewAuditSaveOfJSZX">
         <processParameter
               processParameterDelegator="com.sg.business.commons.field.processparameterdelegator.ChangetToList"
               processParameterName="reviewer_list"
               taskFormFieldName="reviewer_list">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectReview.deptdirector"
            name="研究室审核"
            persistentFields="choice,comment"
            processDefinitionId="jszx.jszxProjectReview">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectReview.deputydirector"
            name="批准评审"
            persistentFields="choice,comment,review_convener"
            processDefinitionId="jszx.jszxProjectReview">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
         <processParameter
               processParameterName="review_convener"
               taskFormFieldName="review_convener">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectReview.editreview"
            inputHandler="com.tmt.jszx.handler.ProjectReviewConvenerOfJSZX"
            name="修改评审专家"
            persistentFields="reviewer_list,review_convener"
            processDefinitionId="jszx.jszxProjectReview"
            saveHandler="com.tmt.jszx.handler.ProjectReviewAuditSaveOfJSZX">
         <processParameter
               processParameterName="review_convener"
               taskFormFieldName="review_convener">
         </processParameter>
         <processParameter
               processParameterDelegator="com.sg.business.commons.field.processparameterdelegator.ChangetToList"
               processParameterName="reviewer_list"
               taskFormFieldName="reviewer_list">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectReview.expertgroupcountersign"
            name="专家评审"
            persistentFields="choice,comment,commentfile"
            processDefinitionId="jszx.jszxProjectReview"
            saveHandler="com.tmt.jszx.handler.ProjectReviewExpertCommentfileOfJSZX">
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectReview.expertgroupreview"
            inputHandler="com.tmt.jszx.handler.ProjectReviewReviewOfJSZX"
            name="专家意见形式审查"
            persistentFields="reviewer_list_s,choice"
            processDefinitionId="jszx.jszxProjectReview">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
         <processParameter
               processParameterDelegator="com.sg.business.commons.field.processparameterdelegator.ChangetToList"
               processParameterName="reviewer_list_s"
               taskFormFieldName="reviewer_list_s">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectReview.replyexpertgroup"
            name="专家意见回复"
            persistentFields="commentfile"
            processDefinitionId="jszx.jszxProjectReview"
            saveHandler="com.tmt.jszx.handler.ProjectReviewExpertCommentfileOfJSZX">
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectReview.confirmtime"
            name="确定评审会时间"
            persistentFields="confirmtime,confirmaddress"
            processDefinitionId="jszx.jszxProjectReview">
         <processParameter
               processParameterName="confirmtime"
               taskFormFieldName="confirmtime">
         </processParameter>
         <processParameter
               processParameterName="confirmaddress"
               taskFormFieldName="confirmaddress">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectReview.meetingreview"
            name="评审会"
            persistentFields="comment,choice"
            processDefinitionId="jszx.jszxProjectReview">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectReview.expertgroupcountersign"
            name="专家意见"
            persistentFields="choice,comment,commentfile"
            processDefinitionId="jszx.jszxProjectReview"
            saveHandler="com.tmt.jszx.handler.ProjectReviewExpertCommentfileOfJSZX">
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectReview.deptdirector"
            name="整改项复审"
            persistentFields="choice,comment"
            processDefinitionId="jszx.jszxProjectReview">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="jszx.jszxProjectReview.correction"
            name="整改"
            persistentFields="commentfile"
            processDefinitionId="jszx.jszxProjectReview"
            saveHandler="com.tmt.jszx.handler.ProjectReviewExpertCommentfileOfJSZX">
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectReview.application"
            name="提交评审">
         <basicpage
               id="basicpage1"
               title="审批">
            <pagecolumn>
               <section
                     label="请填写评审专家组成员">
                  <list
                        addTableItemHandler="com.sg.business.commons.field.action.AddParticipate"
                        editable="true"
                        id="reviewer_list"
                        label="评审组"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProviderInField"
                        name="reviewer_list"
                        persistable="true"
                        required="false">
                  </list>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectReview.deptdirector"
            name="研究室审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写审核意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="审核意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="审核结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectReview.deputydirector"
            name="批准评审">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写批准评审意见、结论并确认评审组组长">
                  <navigatorSelector
                        editable="true"
                        id="review_convener"
                        label="评审组组长"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                        modelClass="com.sg.business.model.User"
                        name="review_convener"
                        navigatorId="taskforms.reviewer.selector"
                        navigatorReturnField="userid"
                        persistable="true"
                        required="true">
                  </navigatorSelector>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="批准评审意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="批准评审结论"
                        labelVisible="false"
                        name="choice"
                        option="评审批准"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <navigatorpage
               createAfterSave="false"
               id="taskforms.reviewer"
               navigatorId="taskforms.reviewer.selector"
               title="评审组">
         </navigatorpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectReview.editreview"
            name="修改评审专家">
         <basicpage
               id="basicpage1"
               title="审批">
            <pagecolumn>
               <section
                     label="请修改评审专家组成员和评审组组长">
                  <navigatorSelector
                        editable="true"
                        id="review_convener"
                        label="评审组组长"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                        modelClass="com.sg.business.model.User"
                        name="review_convener"
                        navigatorId="project.participte.selector"
                        navigatorReturnField="userid"
                        persistable="true"
                        required="true">
                  </navigatorSelector>
                  <list
                        addTableItemHandler="com.sg.business.commons.field.action.AddParticipate"
                        editable="true"
                        id="reviewer_list"
                        label="评审组"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProviderInField"
                        name="reviewer_list"
                        persistable="true"
                        required="false">
                  </list>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectReview.expertgroupcountersign"
            name="专家评审">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写专家意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="评审意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="评审结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="意见附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="commentfile"
                        labelVisible="true"
                        name="commentfile"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectReview.expertgroupreview"
            name="专家意见形式审查">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写形式审查结论">
                  <radio
                        editable="true"
                        id="choice"
                        label="形式审查结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
               <section
                     label="请选择需要重新评审的专家">
                  <list
                        addTableItemHandler="com.sg.business.commons.field.action.AddParticipate"
                        editable="true"
                        id="reviewer_list_s"
                        label="评审组"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProviderInField"
                        name="reviewer_list_s"
                        persistable="true"
                        required="false">
                  </list>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectReview.replyexpertgroup"
            name="专家意见回复">
         <basicpage
               id="page1"
               title="评审意见">
            <pagecolumn>
               <section
                     label="回复专家意见">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="commentfile"
                        labelVisible="true"
                        name="commentfile"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectReview.confirmtime"
            name="确定评审会时间">
         <basicpage
               id="page1"
               title="评审意见">
            <pagecolumn>
               <section
                     label="确定评审会时间及地点">
                  <dateTime
                        defaultValueProvider="com.sg.business.commons.value.TodayDefault"
                        editPart="DateDialog"
                        editable="true"
                        id="confirmtime"
                        label="评审会时间"
                        labelVisible="true"
                        name="confirmtime"
                        persistable="true"
                        required="false"
                        type="Time">
                  </dateTime>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="confirmaddress"
                        label="评审会地点"
                        labelVisible="true"
                        name="confirmaddress"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectReview.meetingreview"
            name="评审会">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写会议评审意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="评审意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="评审结论"
                        labelVisible="false"
                        name="choice"
                        option="是否整改"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="jszx.jszxProjectReview.correction"
            name="整改">
         <basicpage
               id="page1"
               title="评审意见">
            <pagecolumn>
               <section
                     label="整改结果发布">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="commentfile"
                        labelVisible="true"
                        name="commentfile"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.service.serviceTask">
      <service
            interface="jszxprojectreview.service.action"
            name="项目评审评审会消息"
            operation="meetingmessage"
            serviceProvider="com.tmt.jszx.bpmservice.ProjectReviewServiceOfJSZX">
      </service>
      <service
            interface="jszxprojectreview.service.action"
            name="项目评审流程完成消息"
            operation="workmessage"
            serviceProvider="com.tmt.jszx.bpmservice.ProjectReviewServiceOfJSZX">
      </service>
      <service
            interface="jszxprojectapply.service.action"
            name="技术支持消息"
            operation="message"
            serviceProvider="com.tmt.jszx.bpmservice.ProjectApplyMessageService">
      </service>
      <service
            interface="jszxprojectapply.service.action"
            name="文件归档"
            operation="archive"
            serviceProvider="com.tmt.jszx.bpmservice.ProjectApplyArchiveService">
      </service>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="jszx.project_apply.worker.selector"
            table="jszx.project_apply.worker.selector">
         <filterAction>
            <column
                  columnDefinitionId="account.userid">
            </column>
            <column
                  columnDefinitionId="account.username">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="account.userid">
            </column>
            <column
                  columnDefinitionId="account.username">
            </column>
         </searchAction>
      </navigator>
      <navigator
            id="taskforms.organization.navigator"
            tree="taskforms.organization.navigator">
         <filterAction>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="organization.organizationType">
            </column>
            <column
                  columnDefinitionId="organization.isFunctionDepartment">
            </column>
            <column
                  columnDefinitionId="organization.isContainer">
            </column>
            <column
                  columnDefinitionId="organization.description">
            </column>
            <column
                  columnDefinitionId="organization.costCenterCode">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="organization.organizationType">
            </column>
            <column
                  columnDefinitionId="organization.isFunctionDepartment">
            </column>
            <column
                  columnDefinitionId="organization.isContainer">
            </column>
            <column
                  columnDefinitionId="organization.description">
            </column>
            <column
                  columnDefinitionId="organization.costCenterCode">
            </column>
         </searchAction>
      </navigator>
      <navigator
            id="taskforms.reviewer.selector"
            table="taskforms.reviewer.selector">
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            dataSet="com.tmt.jszx.dataset.TaskFormsReviewer"
            headerVisiable="false"
            id="taskforms.reviewer.selector"
            multiSelection="true">
         <column
               columnDefinitionId="com.sg.widgets.commonlabel">
         </column>
      </table>
      <table
            dataSet="com.tmt.jszx.dataset.TaskFormWorker"
            headerVisiable="false"
            id="jszx.project_apply.worker.selector">
         <column
               columnDefinitionId="com.sg.widgets.commonlabel">
         </column>
      </table>
   </extension>
   <extension
         point="com.sg.widgets.tree">
      <tree
            autoExpandLevel="-1"
            dataSet="com.sg.business.model.dataset.organization.OrgRoot"
            id="taskforms.organization.navigator">
         <column
               columnDefinitionId="com.sg.widgets.column.desc">
         </column>
         <structure
               modelRelation="organization_organization">
         </structure>
      </tree>
   </extension>

</plugin>
