<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sg.business.project.category.project"
            name="项目">
      </category>
      <view
            category="com.sg.business.project.category.project"
            class="com.sg.widgets.part.view.AccountSensitiveTableView"
            id="project.navigator.myproject"
            name="项目导航"
            restorable="true">
      </view>
      <view
            category="com.sg.business.project.category.project"
            class="com.sg.widgets.part.view.AccountSensitiveTableView"
            id="project.navigator.management"
            name="项目管理"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="project.navigator.myproject"
            provideSelection="true"
            table="project.navigator.myproject">
         <filterAction>
            <column
                  columnDefinitionId="project.projectnumber">
            </column>
            <column
                  columnDefinitionId="project.desc">
            </column>
            <column
                  columnDefinitionId="project.status">
            </column>
            <column
                  columnDefinitionId="planstart">
            </column>
            <column
                  columnDefinitionId="planfinish">
            </column>
            <column
                  columnDefinitionId="planduration">
            </column>
            <column
                  columnDefinitionId="planworks">
            </column>
            <column
                  columnDefinitionId="actualstart">
            </column>
            <column
                  columnDefinitionId="actualfinish">
            </column>
            <column
                  columnDefinitionId="actualduration">
            </column>
            <column
                  columnDefinitionId="actualworks">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="project.projectnumber">
            </column>
            <column
                  columnDefinitionId="project.desc">
            </column>
            <column
                  columnDefinitionId="project.status">
            </column>
            <column
                  columnDefinitionId="planstart">
            </column>
            <column
                  columnDefinitionId="planfinish">
            </column>
            <column
                  columnDefinitionId="planduration">
            </column>
            <column
                  columnDefinitionId="planworks">
            </column>
            <column
                  columnDefinitionId="actualstart">
            </column>
            <column
                  columnDefinitionId="actualfinish">
            </column>
            <column
                  columnDefinitionId="actualduration">
            </column>
            <column
                  columnDefinitionId="actualworks">
            </column>
         </searchAction>
      </navigator>
      <navigator
            id="project.navigator.management"
            provideSelection="true"
            table="project.navigator.management">
         <filterAction>
            <column
                  columnDefinitionId="project.projectnumber">
            </column>
            <column
                  columnDefinitionId="project.desc">
            </column>
            <column
                  columnDefinitionId="project.status">
            </column>
            <column
                  columnDefinitionId="planstart">
            </column>
            <column
                  columnDefinitionId="planfinish">
            </column>
            <column
                  columnDefinitionId="planduration">
            </column>
            <column
                  columnDefinitionId="planworks">
            </column>
            <column
                  columnDefinitionId="actualstart">
            </column>
            <column
                  columnDefinitionId="actualfinish">
            </column>
            <column
                  columnDefinitionId="actualduration">
            </column>
            <column
                  columnDefinitionId="actualworks">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="project.projectnumber">
            </column>
            <column
                  columnDefinitionId="project.desc">
            </column>
            <column
                  columnDefinitionId="project.status">
            </column>
            <column
                  columnDefinitionId="planstart">
            </column>
            <column
                  columnDefinitionId="planfinish">
            </column>
            <column
                  columnDefinitionId="planduration">
            </column>
            <column
                  columnDefinitionId="planworks">
            </column>
            <column
                  columnDefinitionId="actualstart">
            </column>
            <column
                  columnDefinitionId="actualfinish">
            </column>
            <column
                  columnDefinitionId="actualduration">
            </column>
            <column
                  columnDefinitionId="actualworks">
            </column>
         </searchAction>
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            canCreate="true"
            canDelete="true"
            canEdit="true"
            dataSet="com.sg.business.model.dataset.project.MyProject"
            editorId="project.editor"
            fix="2"
            id="project.navigator.myproject"
            popupMenu="popup:com.sg.widgets.ctableviewer">
         <column
               columnDefinitionId="project.projectnumber">
         </column>
         <column
               columnDefinitionId="project.desc">
         </column>
         <column
               columnDefinitionId="charger">
         </column>
         <column
               columnDefinitionId="project.status">
         </column>
         <columnGroup
               defaultGroup="false"
               id="com.sg.business.project.columnGroup1"
               name="计划">
            <column
                  columnDefinitionId="planstart">
            </column>
            <column
                  columnDefinitionId="planfinish">
            </column>
            <column
                  columnDefinitionId="planduration">
            </column>
            <column
                  columnDefinitionId="planworks">
            </column>
         </columnGroup>
         <columnGroup
               defaultGroup="false"
               id="com.sg.business.project.columnGroup1"
               name="实际">
            <column
                  columnDefinitionId="actualstart">
            </column>
            <column
                  columnDefinitionId="actualfinish">
            </column>
            <column
                  columnDefinitionId="actualduration">
            </column>
            <column
                  columnDefinitionId="actualworks">
            </column>
         </columnGroup>
      </table>
      <table
            canCreate="true"
            canDelete="true"
            canEdit="true"
            dataSet="com.sg.business.model.dataset.project.ManagementProject"
            editorId="project.editor"
            id="project.navigator.management"
            popupMenu="popup:com.sg.widgets.ctableviewer">
         <column
               columnDefinitionId="project.projectnumber">
         </column>
         <column
               columnDefinitionId="project.desc">
         </column>
         <column
               columnDefinitionId="charger">
         </column>
         <column
               columnDefinitionId="project.status">
         </column>
         <columnGroup
               defaultGroup="false"
               id="com.sg.business.project.columnGroup1"
               name="计划">
            <column
                  columnDefinitionId="planstart">
            </column>
            <column
                  columnDefinitionId="planfinish">
            </column>
            <column
                  columnDefinitionId="planduration">
            </column>
            <column
                  columnDefinitionId="planworks">
            </column>
         </columnGroup>
         <columnGroup
               defaultGroup="false"
               id="com.sg.business.project.columnGroup1"
               name="实际">
            <column
                  columnDefinitionId="actualstart">
            </column>
            <column
                  columnDefinitionId="actualfinish">
            </column>
            <column
                  columnDefinitionId="actualduration">
            </column>
            <column
                  columnDefinitionId="actualworks">
            </column>
         </columnGroup>
      </table>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="project"
            dbName="pm2"
            id="project.editor"
            image="image/project_24.png"
            name="项目">
         <basicpage
               description="项目的基本信息"
               id="project.basicpage"
               image="image/project_24.png"
               title="基本">
            <pagecolumn>
               <section
                     label="基本信息">
                  <fieldgroup
                        columnCount="2">
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="projectnumber"
                           label="项目编号"
                           labelVisible="true"
                           name="projectnumber"
                           persistable="true"
                           required="false"
                           type="String">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="status"
                           label="状态"
                           labelVisible="true"
                           name="status"
                           persistable="true"
                           required="false"
                           type="String">
                     </text>
                  </fieldgroup>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="项目名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="charger"
                        isComputeField="false"
                        label="项目经理"
                        labelVisible="true"
                        name="charger"
                        persistable="false"
                        presentation="com.sg.business.model.field.UserIdFieldPres"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="description"
                        label="描述"
                        labelVisible="true"
                        name="description"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
            <pagecolumn>
               <section
                     label="计划">
                  <dateTime
                        editPart="DateDialog"
                        editable="true"
                        id="planstart"
                        label="计划开始"
                        labelVisible="true"
                        name="planstart"
                        persistable="true"
                        required="false"
                        type="Date">
                  </dateTime>
                  <dateTime
                        editPart="DateDialog"
                        editable="true"
                        id="planfinish"
                        label="计划完成"
                        labelVisible="true"
                        name="planfinish"
                        persistable="true"
                        required="false"
                        type="Date">
                  </dateTime>
                  <spinner
                        editable="true"
                        id="planduration"
                        label="计划工期(天)"
                        labelVisible="true"
                        name="planduration"
                        persistable="true"
                        required="false">
                  </spinner>
                  <spinner
                        editable="true"
                        id="planworks"
                        label="计划工时(小时)"
                        labelVisible="true"
                        name="planworks"
                        persistable="true"
                        required="false">
                  </spinner>
               </section>
               <section
                     label="实际">
                  <dateTime
                        editPart="DateDialog"
                        editable="true"
                        id="actualstart"
                        label="实际开始"
                        labelVisible="true"
                        name="actualstart"
                        persistable="true"
                        required="false"
                        type="Date">
                  </dateTime>
                  <dateTime
                        editPart="DateDialog"
                        editable="true"
                        id="actualfinish"
                        label="实际完成"
                        labelVisible="true"
                        name="actualfinish"
                        persistable="true"
                        required="false"
                        type="Date">
                  </dateTime>
                  <spinner
                        editable="true"
                        id="actualduration"
                        label="实际工期(天)"
                        labelVisible="true"
                        name="actualduration"
                        persistable="true"
                        required="false">
                  </spinner>
                  <spinner
                        editable="true"
                        id="actualworks"
                        label="实际工时(小时)"
                        labelVisible="true"
                        name="actualworks"
                        persistable="true"
                        required="false">
                  </spinner>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>

</plugin>
