<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sg.business.project.category.project"
            name="项目">
      </category>
      <view
            category="com.sg.business.project.category.project"
            class="com.sg.widgets.part.view.AccountSensitiveTableView"
            id="project.navigator.myproject"
            name="项目导航"
            restorable="true">
      </view>
      <view
            category="com.sg.business.project.category.project"
            class="com.sg.widgets.part.view.AccountSensitiveTableView"
            id="project.navigator.management"
            name="项目管理"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="project.navigator.myproject"
            provideSelection="true"
            table="project.navigator.myproject">
      </navigator>
      <navigator
            id="project.navigator.management"
            provideSelection="true"
            table="project.navigator.management">
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            canCreate="true"
            canDelete="true"
            canEdit="true"
            dataSet="com.sg.business.model.dataset.project.MyProject"
            editorId="project.editor"
            id="project.navigator.myproject"
            popupMenu="popup:com.sg.widgets.ctableviewer"
            searchCollection="true">
         <column
               column="desc"
               name="desc"
               width="-1">
         </column>
      </table>
      <table
            canCreate="true"
            canDelete="true"
            canEdit="true"
            dataSet="com.sg.business.model.dataset.project.ManagementProject"
            editorId="project.editor"
            id="project.navigator.management"
            popupMenu="popup:com.sg.widgets.ctableviewer"
            searchCollection="true">
         <column
               column="desc"
               name="desc"
               width="-1">
         </column>
      </table>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="project"
            dbName="pm2"
            id="project.editor"
            name="项目">
         <basicpage
               id="com.sg.business.project.basicpage1"
               title="com.sg.business.project.basicpage1">
            <pagecolumn>
               <section
                     label="com.sg.business.project.section1">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="projectNum"
                        label="项目编号"
                        labelVisible="true"
                        name="projectNum"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <checkbox
                        editable="true"
                        id="activated"
                        label="激活"
                        labelVisible="true"
                        name="activated"
                        persistable="true"
                        required="false">
                  </checkbox>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.mobnut.db.documentModelAdapter">
      <doc
            class="com.sg.business.model.Project"
            collection="project"
            db="pm2">
      </doc>
   </extension>

</plugin>
