<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sg.business.project.category.project"
            name="项目">
      </category>
      <view
            category="com.sg.business.project.category.project"
            class="com.sg.widgets.part.view.AccountSensitiveTableView"
            id="project.navigator.myproject"
            name="项目导航"
            restorable="true">
      </view>
      <view
            category="com.sg.business.project.category.project"
            class="com.sg.widgets.part.view.AccountSensitiveTableView"
            id="project.navigator.management"
            name="项目管理"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="project.navigator.myproject"
            provideSelection="true"
            table="project.navigator.myproject">
         <filterAction>
            <column
                  columnDefinitionId="project.projectnumber">
            </column>
            <column
                  columnDefinitionId="project.workorder">
            </column>
            <column
                  columnDefinitionId="project.desc">
            </column>
            <column
                  columnDefinitionId="project.status">
            </column>
            <column
                  columnDefinitionId="planstart">
            </column>
            <column
                  columnDefinitionId="planfinish">
            </column>
            <column
                  columnDefinitionId="planduration">
            </column>
            <column
                  columnDefinitionId="planworks">
            </column>
            <column
                  columnDefinitionId="actualstart">
            </column>
            <column
                  columnDefinitionId="actualfinish">
            </column>
            <column
                  columnDefinitionId="actualduration">
            </column>
            <column
                  columnDefinitionId="actualworks">
            </column>
            <column
                  column="participate"
                  name="参与者"
                  type="String">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="project.projectnumber">
            </column>
            <column
                  columnDefinitionId="project.workorder">
            </column>
            <column
                  columnDefinitionId="project.desc">
            </column>
            <column
                  columnDefinitionId="project.status">
            </column>
            <column
                  columnDefinitionId="planstart">
            </column>
            <column
                  columnDefinitionId="planfinish">
            </column>
            <column
                  columnDefinitionId="planduration">
            </column>
            <column
                  columnDefinitionId="planworks">
            </column>
            <column
                  columnDefinitionId="actualstart">
            </column>
            <column
                  columnDefinitionId="actualfinish">
            </column>
            <column
                  columnDefinitionId="actualduration">
            </column>
            <column
                  columnDefinitionId="actualworks">
            </column>
            <column
                  column="participate"
                  name="参与者"
                  type="String">
            </column>
         </searchAction>
         <createEditor
               createHandler="com.sg.business.project.editor.CreateProject"
               editorId="project.editor.wizard">
         </createEditor>
      </navigator>
      <navigator
            id="project.navigator.management"
            provideSelection="true"
            table="project.navigator.management">
         <filterAction>
            <column
                  columnDefinitionId="project.projectnumber">
            </column>
            <column
                  columnDefinitionId="project.workorder">
            </column>
            <column
                  columnDefinitionId="project.desc">
            </column>
            <column
                  columnDefinitionId="project.status">
            </column>
            <column
                  columnDefinitionId="planstart">
            </column>
            <column
                  columnDefinitionId="planfinish">
            </column>
            <column
                  columnDefinitionId="planduration">
            </column>
            <column
                  columnDefinitionId="planworks">
            </column>
            <column
                  columnDefinitionId="actualstart">
            </column>
            <column
                  columnDefinitionId="actualfinish">
            </column>
            <column
                  columnDefinitionId="actualduration">
            </column>
            <column
                  columnDefinitionId="actualworks">
            </column>
            <column
                  column="participate"
                  name="参与者"
                  type="String">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="project.projectnumber">
            </column>
            <column
                  columnDefinitionId="project.workorder">
            </column>
            <column
                  columnDefinitionId="project.desc">
            </column>
            <column
                  columnDefinitionId="project.status">
            </column>
            <column
                  columnDefinitionId="planstart">
            </column>
            <column
                  columnDefinitionId="planfinish">
            </column>
            <column
                  columnDefinitionId="planduration">
            </column>
            <column
                  columnDefinitionId="planworks">
            </column>
            <column
                  columnDefinitionId="actualstart">
            </column>
            <column
                  columnDefinitionId="actualfinish">
            </column>
            <column
                  columnDefinitionId="actualduration">
            </column>
            <column
                  columnDefinitionId="actualworks">
            </column>
            <column
                  column="participate"
                  name="参与者"
                  type="String">
            </column>
         </searchAction>
      </navigator>
      <navigator
            id="project.team"
            tree="project.team">
         <filterAction>
            <column
                  columnDefinitionId="roledefinition.number">
            </column>
            <column
                  columnDefinitionId="roledefinition.desc">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="roledefinition.number">
            </column>
            <column
                  columnDefinitionId="roledefinition.desc">
            </column>
         </searchAction>
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            canCreate="true"
            canDelete="true"
            canEdit="true"
            dataSet="com.sg.business.model.dataset.project.MyProject"
            editorId="project.editor"
            fix="2"
            id="project.navigator.myproject"
            popupMenu="popup:com.sg.widgets.ctableviewer">
         <column
               columnDefinitionId="project.projectnumber">
         </column>
         <column
               columnDefinitionId="project.desc">
         </column>
         <column
               columnDefinitionId="chargerid">
         </column>
         <column
               columnDefinitionId="project.status">
         </column>
         <columnGroup
               defaultGroup="false"
               id="com.sg.business.project.columnGroup1"
               name="计划">
            <column
                  columnDefinitionId="planstart">
            </column>
            <column
                  columnDefinitionId="planfinish">
            </column>
            <column
                  columnDefinitionId="planduration">
            </column>
            <column
                  columnDefinitionId="planworks">
            </column>
         </columnGroup>
         <columnGroup
               defaultGroup="false"
               id="com.sg.business.project.columnGroup1"
               name="实际">
            <column
                  columnDefinitionId="actualstart">
            </column>
            <column
                  columnDefinitionId="actualfinish">
            </column>
            <column
                  columnDefinitionId="actualduration">
            </column>
            <column
                  columnDefinitionId="actualworks">
            </column>
         </columnGroup>
         <columnGroup
               defaultGroup="false"
               name="组织">
            <column
                  columnDefinitionId="project.org_id">
            </column>
            <column
                  columnDefinitionId="project.launchorg_id">
            </column>
         </columnGroup>
      </table>
      <table
            canCreate="true"
            canDelete="true"
            canEdit="true"
            dataSet="com.sg.business.model.dataset.project.ManagementProject"
            editorId="project.editor"
            id="project.navigator.management"
            popupMenu="popup:com.sg.widgets.ctableviewer">
         <column
               columnDefinitionId="project.projectnumber">
         </column>
         <column
               columnDefinitionId="project.desc">
         </column>
         <column
               columnDefinitionId="chargerid">
         </column>
         <column
               columnDefinitionId="project.status">
         </column>
         <columnGroup
               defaultGroup="false"
               id="com.sg.business.project.columnGroup1"
               name="计划">
            <column
                  columnDefinitionId="planstart">
            </column>
            <column
                  columnDefinitionId="planfinish">
            </column>
            <column
                  columnDefinitionId="planduration">
            </column>
            <column
                  columnDefinitionId="planworks">
            </column>
         </columnGroup>
         <columnGroup
               defaultGroup="false"
               id="com.sg.business.project.columnGroup1"
               name="实际">
            <column
                  columnDefinitionId="actualstart">
            </column>
            <column
                  columnDefinitionId="actualfinish">
            </column>
            <column
                  columnDefinitionId="actualduration">
            </column>
            <column
                  columnDefinitionId="actualworks">
            </column>
         </columnGroup>
         <columnGroup
               defaultGroup="false"
               name="组织">
            <column
                  columnDefinitionId="project.org_id">
            </column>
            <column
                  columnDefinitionId="project.launchorg_id">
            </column>
         </columnGroup>
      </table>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="project"
            dbName="pm2"
            id="project.editor"
            image="image/project_24.png"
            isDefault="true"
            name="项目">
         <basicpage
               description="项目的基本信息"
               id="project.basicpage"
               image="image/project_24.png"
               title="基本">
            <pagecolumn>
               <section
                     label="项目摘要">
                  <fieldgroup
                        columnCount="2"
                        makeColumnWidthEqual="false">
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="projectnumber"
                           label="项目编号"
                           labelVisible="true"
                           name="projectnumber"
                           persistable="true"
                           required="false"
                           type="String">
                     </text>
                     <combo
                           editPart="Combo(Read Only)"
                           editable="false"
                           id="status"
                           label="状态"
                           labelVisible="false"
                           name="status"
                           option="status"
                           persistable="true"
                           required="false"
                           type="String">
                     </combo>
                  </fieldgroup>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="项目名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="description"
                        label="描述"
                        labelVisible="true"
                        name="description"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
               <section
                     label="工作令号">
                  <list
                        editable="true"
                        id="workorder"
                        label="工作令号"
                        labelVisible="false"
                        name="workorder"
                        persistable="true"
                        required="false"
                        tooltips="项目关联的工作令号,可以添加多个">
                  </list>
               </section>
            </pagecolumn>
            <pagecolumn>
               <section
                     label="项目经理, 部门">
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="chargerid"
                        label="项目经理"
                        labelVisible="true"
                        name="chargerid"
                        persistable="false"
                        presentation="com.sg.business.model.field.UserIdFieldPres"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="org_id"
                        label="项目管理部门"
                        labelVisible="true"
                        name="org_id"
                        persistable="true"
                        presentation="com.sg.business.model.field.OrgFieldPres"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="launchorg_id"
                        label="项目发起部门"
                        labelVisible="true"
                        name="launchorg_id"
                        persistable="true"
                        presentation="com.sg.business.model.field.OrgFieldPres"
                        required="false"
                        type="String">
                  </text>
               </section>
               <section
                     label="计划">
                  <dateTime
                        editPart="DateDialog"
                        editable="false"
                        id="planstart"
                        label="计划开始"
                        labelVisible="true"
                        name="planstart"
                        persistable="true"
                        required="false"
                        type="Date">
                  </dateTime>
                  <dateTime
                        editPart="DateDialog"
                        editable="false"
                        id="planfinish"
                        label="计划完成"
                        labelVisible="true"
                        name="planfinish"
                        persistable="true"
                        required="false"
                        type="Date">
                  </dateTime>
                  <spinner
                        editable="true"
                        id="planduration"
                        label="计划工期(天)"
                        labelVisible="true"
                        name="planduration"
                        persistable="true"
                        required="false">
                  </spinner>
                  <spinner
                        editable="true"
                        id="planworks"
                        label="计划工时(小时)"
                        labelVisible="true"
                        name="planworks"
                        persistable="true"
                        required="false">
                  </spinner>
               </section>
               <section
                     label="实际">
                  <dateTime
                        editPart="DateDialog"
                        editable="false"
                        id="actualstart"
                        label="实际开始"
                        labelVisible="true"
                        name="actualstart"
                        persistable="true"
                        required="false"
                        type="Date">
                  </dateTime>
                  <dateTime
                        editPart="DateDialog"
                        editable="false"
                        id="actualfinish"
                        label="实际完成"
                        labelVisible="true"
                        name="actualfinish"
                        persistable="true"
                        required="false"
                        type="Date">
                  </dateTime>
                  <spinner
                        editable="false"
                        id="actualduration"
                        label="实际工期(天)"
                        labelVisible="true"
                        name="actualduration"
                        persistable="true"
                        required="false">
                  </spinner>
                  <spinner
                        editable="false"
                        id="actualworks"
                        label="实际工时(小时)"
                        labelVisible="true"
                        name="actualworks"
                        persistable="true"
                        required="false">
                  </spinner>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="请确定项目的以下选项"
               id="project.basicpage.3"
               image="image/options_24.png"
               pageDelegator="com.sg.business.project.editor.ProjectOptionPage"
               title="选项">
         </basicpage>
         <basicpage
               id="project.basicpage.2"
               image="image/financial_24.png"
               pageDelegator="com.sg.business.project.editor.ProjectBudgetPage"
               title="预算">
         </basicpage>
         <navigatorpage
               createAfterSave="true"
               description="为项目团队的各个角色指定成员"
               id="teampage"
               image="image/group_24.png"
               navigatorId="project.team"
               title="项目组">
         </navigatorpage>
      </editor>
      <editor
            collectionName="project"
            dbName="pm2"
            id="project.editor.wizard"
            image="image/project_72.png"
            isDefault="false"
            name="项目">
         <basicpage
               description="项目的基本信息"
               id="project.basicpage.1"
               title="基本">
            <pagecolumn>
               <section
                     label="项目摘要">
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="projectnumber"
                        label="项目编号"
                        labelVisible="true"
                        name="projectnumber"
                        persistable="true"
                        required="false"
                        textMessage="&lt;自动编号&gt;"
                        type="String">
                     <extendValueDefinition
                           type="com.sg.business.model.numbering.ProjectNumber">
                     </extendValueDefinition>
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="项目名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="description"
                        label="描述"
                        labelVisible="true"
                        name="description"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
               <section
                     label="项目经理、项目管理部门">
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="chargerid"
                        label="项目经理"
                        labelVisible="true"
                        name="chargerid"
                        persistable="true"
                        presentation="com.sg.business.model.field.UserIdFieldPres"
                        required="false"
                        type="String">
                  </text>
                  <navigatorSelector
                        id="org_id"
                        label="项目管理部门"
                        labelVisible="true"
                        modelClass="com.sg.business.model.Organization"
                        name="org_id"
                        navigatorId="project.managementorg"
                        navigatorReturnField="_id"
                        persistable="true"
                        required="true">
                  </navigatorSelector>
                  <navigatorSelector
                        id="launchorg_id"
                        label="项目发起部门"
                        labelVisible="true"
                        modelClass="com.sg.business.model.Organization"
                        name="launchorg_id"
                        navigatorId="project.launchorg"
                        navigatorReturnField="_id"
                        persistable="true"
                        required="true">
                  </navigatorSelector>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="请填写项目计划，并选择项目模板"
               id="project.basicpage.2"
               title="项目计划和模板">
            <pagecolumn>
               <section
                     label="计划">
                  <dateTime
                        editPart="DateDialog"
                        editable="true"
                        id="planstart"
                        label="计划开始"
                        labelVisible="true"
                        name="planstart"
                        persistable="true"
                        required="true"
                        type="Date">
                  </dateTime>
                  <dateTime
                        editPart="DateDialog"
                        editable="true"
                        id="planfinish"
                        label="计划完成"
                        labelVisible="true"
                        name="planfinish"
                        persistable="true"
                        required="true"
                        type="Date">
                  </dateTime>
               </section>
               <section
                     label="项目模板">
                  <combo
                        dataSetFactory="com.sg.business.model.dataset.project.ProjectTemplateOfOrg"
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="projecttemplate_id"
                        isComputeField="true"
                        label="项目模板"
                        labelVisible="true"
                        name="projecttemplate_id"
                        persistable="true"
                        required="true"
                        type="ObjectId">
                  </combo>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="您选择的模板提供了以下选项，请确定选择"
               id="project.basicpage.3"
               pageDelegator="com.sg.business.project.editor.ProjectOptionPage"
               title="选项">
         </basicpage>
      </editor>
      <editor
            collectionName="workconnection"
            dbName="pm2"
            id="editor.workConnection"
            isDefault="true"
            name="工作顺序关系"
            titleToolTips="工作顺序关系">
         <basicpage
               id="basicpage"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本信息">
                  <selectionDialog
                        dataSetFactory="com.sg.business.model.dataset.projecttemplate.WorkDefConnectionOfProjecttemplateOption"
                        editable="true"
                        id="end1_id"
                        label="前置工作"
                        labelVisible="true"
                        name="end1_id"
                        persistable="true"
                        required="false"
                        type="ObjectId">
                  </selectionDialog>
                  <selectionDialog
                        dataSetFactory="com.sg.business.model.dataset.projecttemplate.WorkDefConnectionOfProjecttemplateOption"
                        editable="true"
                        id="end2_id"
                        label="后置工作"
                        labelVisible="true"
                        name="end2_id"
                        persistable="true"
                        required="false"
                        type="ObjectId">
                  </selectionDialog>
                  <radio
                        defaultValue="FS"
                        editable="true"
                        id="connectiontype"
                        label="顺序关系"
                        labelVisible="true"
                        name="connectiontype"
                        option="connectiontype"
                        persistable="true"
                        required="false"
                        type="String"
                        wrapRadio="true">
                  </radio>
                  <fieldgroup
                        columnCount="3">
                     <combo
                           defaultValue="+"
                           editPart="Combo(Read Only)"
                           editable="true"
                           id="operator"
                           label="操作符"
                           labelVisible="true"
                           name="operator"
                           option="操作符"
                           persistable="true"
                           required="false"
                           type="String">
                     </combo>
                     <spinner
                           defaultValue="0"
                           editable="true"
                           id="interval"
                           label="间隔时间"
                           labelVisible="true"
                           name="interval"
                           persistable="true"
                           required="false">
                     </spinner>
                     <combo
                           defaultValue="d"
                           editPart="Combo(Read Only)"
                           editable="true"
                           id="unit"
                           label="单位"
                           labelVisible="false"
                           name="unit"
                           option="日期单位"
                           persistable="true"
                           required="true"
                           type="String">
                     </combo>
                  </fieldgroup>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="project.managementorg"
            table="project.managementorg">
         <filterAction>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
         </searchAction>
      </navigator>
      <navigator
            id="project.launchorg"
            table="project.launchorg">
         <filterAction>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
         </searchAction>
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            customItemHeight="40"
            dataSet="com.sg.business.model.dataset.project.PMOrgOfPM"
            id="project.managementorg"
            markupEnabled="true">
         <column
               columnDefinitionId="organization.desc.html">
         </column>
      </table>
      <table
            customItemHeight="40"
            dataSet="com.sg.business.model.dataset.project.LaunchOrgOfPM"
            id="project.launchorg"
            markupEnabled="true">
         <column
               columnDefinitionId="organization.desc.html">
         </column>
      </table>
   </extension>
   <extension
         point="com.sg.widgets.tree">
      <tree
            dataSet="com.sg.business.model.dataset.RoleOfProject"
            id="project.team">
         <column
               columnDefinitionId="com.sg.widgets.commonlabel">
         </column>
         <structure
               modelRelation="ProjectRole_Assignment">
         </structure>
      </tree>
   </extension>

</plugin>
