<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            name="校核"
            persistentFields="choice,comment"
            processDefinitionId="gs.gsDocumentApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsDocumentApprove1.auditor"
            name="审核"
            persistentFields="choice,comment"
            processDefinitionId="gs.gsDocumentApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsDocumentApprove1.approver"
            name="批准"
            persistentFields="choice,comment"
            processDefinitionId="gs.gsDocumentApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsDocumentApprove1.check"
            name="校核">
         <basicpage
               id="com.tmt.gs.basicpage1"
               title="校核">
            <pagecolumn>
               <section
                     label="请填写校核结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="校核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsDocumentApprove1.auditor"
            name="审核">
         <basicpage
               id="com.tmt.gs.basicpage2"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写审核结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="审核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsDocumentApprove1.approver"
            name="批准">
         <basicpage
               id="com.tmt.gs.basicpage3"
               title="批准">
            <pagecolumn>
               <section
                     label="请填写批准结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="批准结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="cmment"
                        label="说明"
                        labelVisible="true"
                        name="cmment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="gsDocumentApprove1.check"
            name="校核"
            persistentFields="choice,comment"
            processDefinitionId="gs.gsDrawingApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsDocumentApprove1.auditor"
            name="审核"
            persistentFields="choice,comment"
            processDefinitionId="gs.gsDrawingApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsDrawingApprove1.craft"
            name="工艺"
            persistentFields="choice,comment"
            processDefinitionId="gs.gsDrawingApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsDrawingApprove1.standard"
            name="标准化"
            persistentFields="choice,comment"
            processDefinitionId="gs.gsDrawingApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsDocumentApprove1.approver"
            name="批准"
            persistentFields="choice,comment"
            processDefinitionId="gs.gsDrawingApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsDrawingApprove1.craft"
            name="工艺">
         <basicpage
               id="com.tmt.gs.basicpage4"
               title="工艺">
            <pagecolumn>
               <section
                     label="请填写工艺结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsDrawingApprove1.standard"
            name="标准化">
         <basicpage
               id="com.tmt.gs.basicpage5"
               title="标准化">
            <pagecolumn>
               <section
                     label="请填写标准化结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="标准化结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="gsMoldAcceptApprove.craft"
            name="工艺审核"
            persistentFields="choice,comment"
            processDefinitionId="gs.gsMoldAcceptApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsMoldAcceptApprove.mold"
            name="模具审核"
            persistentFields="choice,comment"
            processDefinitionId="gs.gsMoldAcceptApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsMoldAcceptApprove.production"
            name="生产审核"
            persistentFields="choice,comment"
            processDefinitionId="gs.gsMoldAcceptApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsMoldAcceptApprove.design"
            name="设计审核"
            persistentFields="choice,comment"
            processDefinitionId="gs.gsMoldAcceptApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsMoldAcceptApprove.qc"
            name="质量审核"
            persistentFields="choice,comment"
            processDefinitionId="gs.gsMoldAcceptApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsMoldAcceptApprove.approve"
            name="批准"
            persistentFields="choice,comment"
            processDefinitionId="gs.gsMoldAcceptApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsMoldAcceptApprove.craft"
            name="工艺审核">
         <basicpage
               id="com.tmt.gs.basicpage6"
               title="工艺审核">
            <pagecolumn>
               <section
                     label="请填写工艺审核结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="工艺审核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsMoldAcceptApprove.mold"
            name="模具审核">
         <basicpage
               id="com.tmt.gs.basicpage7"
               title="模具审核">
            <pagecolumn>
               <section
                     label="请填写模具审核结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="模具审核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsMoldAcceptApprove.production"
            name="生产审核">
         <basicpage
               id="com.tmt.gs.basicpage8"
               title="生产审核">
            <pagecolumn>
               <section
                     label="请填写生产审核结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="生产审核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsMoldAcceptApprove.design"
            name="设计审核">
         <basicpage
               id="com.tmt.gs.basicpage9"
               title="设计审核">
            <pagecolumn>
               <section
                     label="请填写设计审核结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="设计审核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsMoldAcceptApprove.qc"
            name="质量审核">
         <basicpage
               id="com.tmt.gs.basicpage10"
               title="质量审核">
            <pagecolumn>
               <section
                     label="请填写质量审核结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="质量审核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsMoldAcceptApprove.approve"
            name="批准">
         <basicpage
               id="com.tmt.gs.basicpage11"
               title="批准">
            <pagecolumn>
               <section
                     label="请填写批准结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="批准结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>

</plugin>
