<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="gsdocumentapprove1.check"
            name="校核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsDocumentApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsdocumentapprove1.auditor"
            name="审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsDocumentApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsdocumentapprove1.craft"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsDocumentApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsdocumentapprove1.check"
            name="校核">
         <basicpage
               id="com.tmt.gs.basicpage1"
               title="校核">
            <pagecolumn>
               <section
                     label="请填写校核结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="校核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage7"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage8"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsdocumentapprove1.auditor"
            name="审核">
         <basicpage
               id="com.tmt.gs.basicpage2"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写审核结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="审核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage9"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage10"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="FileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsdocumentapprove1.approver"
            name="批准">
         <basicpage
               id="com.tmt.gs.basicpage3"
               title="批准">
            <pagecolumn>
               <section
                     label="请填写批准结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="批准结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="cmment"
                        label="说明"
                        labelVisible="true"
                        name="cmment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage11"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage12"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="gsdocumentapprove1.check"
            name="校核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsDrawingApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsdocumentapprove1.auditor"
            name="审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsDrawingApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsdocumentapprove1.craft"
            name="工艺"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsDrawingApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsdocumentapprove1.standard"
            name="标准化"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsDrawingApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsdocumentapprove1.approver"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsDrawingApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsdocumentapprove1.craft"
            name="工艺">
         <basicpage
               id="com.tmt.gs.basicpage4"
               title="工艺">
            <pagecolumn>
               <section
                     label="请填写工艺结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage13"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage14"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsdocumentapprove1.standard"
            name="标准化">
         <basicpage
               id="com.tmt.gs.basicpage5"
               title="标准化">
            <pagecolumn>
               <section
                     label="请填写标准化结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="标准化结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage15"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage16"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="gsmoldacceptapprove.craft"
            name="工艺审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsMoldAcceptApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsmoldacceptapprove.mold"
            name="模具审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsMoldAcceptApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsmoldacceptapprove.production"
            name="生产审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsMoldAcceptApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsmoldacceptapprove.design"
            name="设计审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsMoldAcceptApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsmoldacceptapprove.qc"
            name="质量审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsMoldAcceptApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsmoldacceptapprove.approve"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsMoldAcceptApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsmoldacceptapprove.craft"
            name="工艺审核">
         <basicpage
               id="com.tmt.gs.basicpage6"
               title="工艺审核">
            <pagecolumn>
               <section
                     label="请填写工艺审核结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="工艺审核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage17"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage16"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsmoldacceptapprove.mold"
            name="模具审核">
         <basicpage
               id="com.tmt.gs.basicpage7"
               title="模具审核">
            <pagecolumn>
               <section
                     label="请填写模具审核结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="模具审核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage18"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage16"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsmoldacceptapprove.production"
            name="生产审核">
         <basicpage
               id="com.tmt.gs.basicpage8"
               title="生产审核">
            <pagecolumn>
               <section
                     label="请填写生产审核结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="生产审核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage19"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage16"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsmoldacceptapprove.design"
            name="设计审核">
         <basicpage
               id="com.tmt.gs.basicpage9"
               title="设计审核">
            <pagecolumn>
               <section
                     label="请填写设计审核结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="设计审核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage20"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage16"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsmoldacceptapprove.qc"
            name="质量审核">
         <basicpage
               id="com.tmt.gs.basicpage10"
               title="质量审核">
            <pagecolumn>
               <section
                     label="请填写质量审核结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="质量审核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage21"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage16"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsmoldacceptapprove.approve"
            name="批准">
         <basicpage
               id="com.tmt.gs.basicpage11"
               title="批准">
            <pagecolumn>
               <section
                     label="请填写批准结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="批准结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage22"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage16"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="gsopenmoldapprove1.edit"
            name="编制"
            persistentFields="mold_use,mold_amount,mold_ask,accessory"
            processDefinitionId="gs.gsOpenMoldApprove1">
         <processParameter
               processParameterName="mold_use"
               taskFormFieldName="mold_use">
         </processParameter>
         <processParameter
               processParameterName="mold_amount"
               taskFormFieldName="mold_amount">
         </processParameter>
         <processParameter
               processParameterName="mold_ask"
               taskFormFieldName="mold_ask">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsopenmoldapprove1.market"
            name="市场审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsOpenMoldApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsopenmoldapprove1.production"
            name="生产审核"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsOpenMoldApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsopenmoldapprove1.technology"
            name="技术负责人审核"
            persistentFields="mold_amount,mold_ask,choice,comment,accessory"
            processDefinitionId="gs.gsOpenMoldApprove1">
         <processParameter
               processParameterDelegator="com.tmt.gs.field.parameter.ApproverForAmount"
               processParameterName="approver"
               taskFormFieldName="mold_amount">
         </processParameter>
         <processParameter
               processParameterName="mold_ask"
               taskFormFieldName="mold_ask">
         </processParameter>
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsopenmoldapprove1.approve"
            name="批准"
            persistentFields="choice,comment,accessory"
            processDefinitionId="gs.gsOpenMoldApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsopenmoldapprove1.edit"
            name="整改"
            persistentFields="mold_use,mold_amount,mold_ask,accessory"
            processDefinitionId="gs.gsOpenMoldApprove1">
         <processParameter
               processParameterName="mold_use"
               taskFormFieldName="mold_use">
         </processParameter>
         <processParameter
               processParameterName="mold_amount"
               taskFormFieldName="mold_amoun">
         </processParameter>
         <processParameter
               processParameterName="mold_ask"
               taskFormFieldName="mold_ask">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsopenmoldapprove1.edit"
            name="编制">
         <basicpage
               id="com.tmt.gs.basicpage1"
               title="编制">
            <pagecolumn>
               <section
                     label="请填写模具用途、金额和要求">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="mold_use"
                        label="模具用途"
                        labelVisible="true"
                        name="com.tmt.gs.text1"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="mold_amount"
                        label="模具金额"
                        labelVisible="true"
                        name="mold_amount"
                        persistable="true"
                        required="false"
                        type="Double">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="mold_ask"
                        label="模具要求"
                        labelVisible="true"
                        name="mold_ask"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage23"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage16"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsopenmoldapprove1.market"
            name="市场审核">
         <basicpage
               id="com.tmt.gs.basicpage3"
               title="市场审核">
            <pagecolumn>
               <section
                     label="请填写市场审核结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="市场审核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage24"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage16"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
           collectionName="taskform"
            dbName="pm2"
            id="gsopenmoldapprove1.production"
            name="生产审核">
         <basicpage
               id="com.tmt.gs.basicpage4"
               title="生产审核">
            <pagecolumn>
               <section
                     label="请填写生产审核结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="生产审核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage25"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage16"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsopenmoldapprove1.technology"
            name="技术负责人审核">
         <basicpage
               id="com.tmt.gs.basicpage5"
               title="技术负责人审核">
            <pagecolumn>
               <section
                     label="请填写技术负责人审核结论、说明、修改的金额和要求">
                  <radio
                        editable="true"
                        id="choice"
                        label="技术负责人审核结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="mold_amount"
                        label="修改金额"
                        labelVisible="true"
                        name="mold_amount"
                        persistable="true"
                        required="false"
                        type="Double">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="mold_ask"
                        label="修改要求"
                        labelVisible="true"
                        name="mold_ask"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage26"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage16"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsopenmoldapprove1.approve"
            name="批准">
         <basicpage
               id="com.tmt.gs.basicpage6"
               title="批准">
            <pagecolumn>
               <section
                     label="请填写批准结论和说明">
                  <radio
                        editable="true"
                        id="choice"
                        label="批准结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage27"
               pageDelegator="com.sg.business.commons.ui.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="com.tmt.gs.basicpage16"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>

</plugin>
