<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="gsDecumentApprove.audit"
            name="审核"
            persistentFields="choice,accessory,comment"
            processDefinitionId="gs.gsDecumentApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="gsDecumentApprove.approve"
            name="批准"
            persistentFields="choice,accessory,comment"
            processDefinitionId="gs.gsDecumentApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsDecumentApprove.audit"
            name="审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写审批意见">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="意见"
                        labelVisible="true"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="true"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="true"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="gsDecumentApprove.approve"
            name="批准">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写批准意见">
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="true"
                        name="choice"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               title="流程记录">
         </basicpage>
         <basicpage
               id="page3"
               title="附件">
            <pagecolumn>
               <section
                     label="请上传附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="附件"
                        labelVisible="true"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>

</plugin>
