<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mobnut.admin.adminFunction">
      <adminFunction
            image="image/calendar_48.png"
            label="日历"
            run="com.sg.business.commons.admin.CalendarSetting">
      </adminFunction>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.sg.widgets.part.view.TableNavigator"
            id="commons.admin.calendar"
            name="日历设置"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="commons.admin.calendar"
            table="commons.admin.calendar">
         <filterAction>
            <column
                  column="desc"
                  name="名称"
                  type="String">
            </column>
            <column
                  column="startdate"
                  name="开始日期"
                  type="Date">
            </column>
            <column
                  column="enddate"
                  name="结束日期"
                  type="Date">
            </column>
            <column
                  column="workingday"
                  name="工作日"
                  type="Boolean">
            </column>
            <column
                  column="condition"
                  name="条件"
                  type="String">
            </column>
            <column
                  column="operator"
                  name="计算"
                  type="String">
            </column>
            <column
                  column="value"
                  name="值"
                  type="String">
            </column>
            <column
                  column="seq"
                  name="优先级"
                  type="Integer">
            </column>
            <column
                  column="worktime"
                  name="每天工时（小时）"
                  type="Double">
            </column>
         </filterAction>
         <searchAction>
            <column
                  column="desc"
                  name="名称"
                  type="String">
            </column>
            <column
                  column="startdate"
                  name="开始日期"
                  type="Date">
            </column>
            <column
                  column="enddate"
                  name="结束日期"
                  type="Date">
            </column>
            <column
                  column="workingday"
                  name="工作日"
                  type="Boolean">
            </column>
            <column
                  column="condition"
                  name="条件"
                  type="String">
            </column>
            <column
                  column="operator"
                  name="计算"
                  type="String">
            </column>
            <column
                  column="value"
                  name="值"
                  type="String">
            </column>
            <column
                  column="seq"
                  name="优先级"
                  type="Integer">
            </column>
            <column
                  column="worktime"
                  name="每天工时（小时）"
                  type="Double">
            </column>
         </searchAction>
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            dataSet="com.sg.business.model.dataset.calendarsetting.SystemCalendar"
            editorId="calendar.setting"
            id="commons.admin.calendar"
            popupMenu="popup:commons.admin.calendar">
         <column
               column="desc"
               name="名称"
               type="String">
         </column>
         <column
               column="startdate"
               name="开始日期"
               type="Date">
         </column>
         <column
               column="enddate"
               name="结束日期"
               type="Date">
         </column>
         <column
               column="workingday"
               name="工作日"
               type="Boolean">
         </column>
         <column
               column="condition"
               name="条件"
               type="String">
         </column>
         <column
               column="operator"
               name="计算"
               type="String"></column>
         <column
               column="value"
               name="值"
               type="String">
         </column>
         <column
               column="seq"
               name="优先级"
               type="Integer">
         </column>
         <column
               column="worktime"
               name="每天工时（小时）"
               type="Double">
         </column>
      </table>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="calendarsetting"
            dbName="pm2"
            id="calendar.setting"
            name="日历条件">
         <basicpage
               description="日历规则"
               id="basicpage1"
               title="日历规则">
            <pagecolumn>
               <section
                     label="规则设置">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <checkbox
                        defaultValue="true"
                        editable="true"
                        id="workingday"
                        label="工作日"
                        labelVisible="true"
                        name="workingday"
                        persistable="true"
                        required="false">
                  </checkbox>
                  <spinner
                        editable="true"
                        id="seq"
                        label="优先级别"
                        labelVisible="true"
                        name="seq"
                        persistable="true"
                        required="false"
                        spinnerSetting="0,1000,1,100">
                  </spinner>
                  <text
                        defaultValue="7.5"
                        editPart="Text(Single Line)"
                        editable="true"
                        id="worktime"
                        label="每天工时"
                        labelVisible="true"
                        name="worktime"
                        persistable="true"
                        required="false"
                        type="Double">
                  </text>
                  <dateTime
                        editPart="DateDialog"
                        editable="true"
                        id="startdate"
                        label="开始日期"
                        labelVisible="true"
                        name="startdate"
                        persistable="true"
                        required="true"
                        type="Date">
                  </dateTime>
                  <dateTime
                        editPart="DateDialog"
                        editable="true"
                        id="enddate"
                        label="结束日期"
                        labelVisible="true"
                        name="enddate"
                        persistable="true"
                        required="true"
                        type="Date">
                  </dateTime>
               </section>
            </pagecolumn>
            <pagecolumn>
               <section
                     label="高级设置">
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="condition"
                        label="条件"
                        labelVisible="true"
                        name="condition"
                        option="calendarrule.option"
                        persistable="true"
                        required="false"
                        type="String">
                  </combo>
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="operator"
                        label="计算"
                        labelVisible="false"
                        name="operator"
                        option="calendarrule.operator"
                        persistable="true"
                        required="false"
                        type="String">
                  </combo>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="value"
                        label="取值（周条件时，1代表周一,7代表周日）"
                        labelVisible="true"
                        name="value"
                        persistable="true"
                        required="false"
                        textMessage="&lt;,分割多个值&gt;"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.widgets.option">
      <option
            id="calendarrule.option">
         <option
               id="周">
         </option>
         <option
               id="日">
         </option>
      </option>
      <option
            id="calendarrule.operator">
         <option
               id="大于">
         </option>
         <option
               id="大于等于">
         </option>
         <option
               id="等于">
         </option>
         <option
               id="小于等于">
         </option>
         <option
               id="小于">
         </option>
      </option>
      <option
            id="com.sg.business.option.organizationType">
         <option
               id="法人">
         </option>
         <option
               id="事业部">
         </option>
         <option
               id="部门">
         </option>
         <option
               id="团队">
         </option>
      </option>
      <option
            id="connectiontype"
            label="顺序关系">
         <option
               id="SF"
               label="开始-完成"
               value="SF">
         </option>
         <option
               id="SS"
               label="开始-开始"
               value="SS">
         </option>
         <option
               id="FF"
               label="完成-完成"
               value="FF">
         </option>
         <option
               id="FS"
               label="完成-开始"
               value="FS">
         </option>
      </option>
      <option
            id="操作符">
         <option
               id="+">
         </option>
         <option
               id="-">
         </option>
      </option>
      <option
            id="日期单位">
         <option
               id="周"
               label="周"
               value="w">
         </option>
         <option
               id="天"
               label="天"
               value="d">
         </option>
         <option
               id="小时"
               label="小时"
               value="h">
         </option>
         <option
               id="分钟"
               label="分钟"
               value="m">
         </option>
         <option
               id="秒"
               label="秒"
               value="s">
         </option>
      </option>
      <option
            id="status">
         <option
               id="准备中">
         </option>
         <option
               id="进行中">
         </option>
         <option
               id="已暂停">
         </option>
         <option
               id="已完成">
         </option>
         <option
               id="已取消">
         </option>
      </option>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:commons.admin.calendar">
         <command
               commandId="carlendartest1"
               label="测试某天是否为工作日"
               style="push">
         </command>
         <command
               commandId="carlendartest2"
               label="测试某时间段有多少工作日"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="organization"
         name="组织"
         point="com.sg.widgets.column">
      <column
            column="organizationnumber"
            id="organization.organizationNumber"
            name="组织编号"
            style="SWT.LEFT"
            type="String"
            width="120">
      </column>
      <column
            column="organizationtype"
            id="organization.organizationType"
            name="组织类型"
            style="SWT.LEFT"
            type="String">
      </column>
      <column
            column="isfunctiondepartment"
            id="organization.isFunctionDepartment"
            name="项目管理\n职能"
            style="SWT.CENTER"
            type="Boolean">
      </column>
      <column
            column="iscontainer"
            id="organization.isContainer"
            name="文档容器"
            style="SWT.CENTER"
            type="Boolean">
      </column>
      <column
            column="costcentercode"
            id="organization.costCenterCode"
            name="成本中心\n代码"
            style="SWT.LEFT"
            type="String">
      </column>
      <column
            column="description"
            id="organization.description"
            name="说明"
            style="SWT.LEFT"
            type="String"
            width="120">
      </column>
      <column
            column="desc"
            id="organization.desc.html"
            labelProvider="com.sg.widgets.commons.labelprovider.HTMLLabelprovider"
            name="组织名称"
            style="SWT.LEFT"
            type="String"
            width="-1">
      </column>
   </extension>
   <extension
         id="role"
         point="com.sg.widgets.column">
      <column
            column="rolenumber"
            id="role.roleNumber"
            labelProvider="com.sg.business.commons.labelprovider.RoleNumberLabelProvider"
            name="编号"
            style="SWT.LEFT"
            type="String"
            width="120">
      </column>
      <column
            column="description"
            id="role.description"
            name="说明"
            type="String"
            width="120">
      </column>
      <column
            column="desc"
            id="role.desc"
            labelProvider="com.sg.business.commons.labelprovider.RoleDescLabelProvider"
            name="名称"
            type="String"
            width="240">
      </column>
      <column
            column="roletype"
            id="role.roleType"
            labelProvider="com.sg.business.commons.labelprovider.RoleTypeLabelProvider"
            name="类型"
            type="String">
      </column>
   </extension>
   <extension
         id="user"
         point="com.sg.widgets.column">
      <column
            column="userid"
            id="account.userid"
            name="用户编号"
            style="SWT.LEFT"
            type="String"
            width="80">
      </column>
      <column
            column="username"
            id="account.username"
            name="姓名"
            style="SWT.LEFT"
            type="String"
            width="80">
      </column>
      <column
            column="email"
            id="account.email"
            name="电子邮箱"
            type="String"
            width="80">
      </column>
      <column
            column="activated"
            id="account.activated"
            name="激活"
            type="Boolean"
            width="80">
      </column>
      <column
            column="organization_id"
            id="account.organizationpath"
            labelProvider="com.sg.business.commons.labelprovider.UserOrganizationPathLabelprovider"
            name="组织"
            type="String"
            width="80">
      </column>
      <column
            column="organization_id"
            id="account.roleassignment"
            labelProvider="com.sg.business.commons.labelprovider.UserRoleAssignmentLabelprovider"
            name="角色"
            type="String"
            width="80">
      </column>
   </extension>
   <extension
         id="folder"
         point="com.sg.widgets.column">
      <column
            column="desc"
            id="folder.desc"
            name="名称"
            type="String"
            width="180">
      </column>
      <column
            column="folderType"
            id="folder.folderType"
            labelProvider="com.sg.business.commons.labelprovider.FolderTypeLabelProvider"
            name="类型说明"
            type="String"
            width="180">
      </column>
      <column
            column="containerPath"
            id="folder.containerPath"
            labelProvider="com.sg.business.commons.labelprovider.ContainerPathLabelProvider"
            name="容器路径"
            type="String"
            width="180">
      </column>
   </extension>
   <extension
         id="document"
         name="文档"
         point="com.sg.widgets.column">
      <column
            column="documentnumber"
            id="document.documentNumber"
            name="编号"
            type="String"
            width="80">
      </column>
      <column
            column="documenttype"
            id="document.documentType"
            name="类型"
            type="String"
            width="80">
      </column>
      <column
            id="f_vid"
            name="版本号"
            type="String"
            width="50">
      </column>
      <column
            column="_caccount"
            id="generic._caccount"
            labelProvider="com.sg.widgets.commons.labelprovider.AccountLabelProvider"
            name="创建者"
            type="String"
            width="80">
      </column>
      <column
            column="_cdate"
            id="generic._cdate"
            name="创建时间"
            type="DateTime"
            width="80">
      </column>
      <column
            column="_maccount"
            id="generic._maccount"
            labelProvider="com.sg.widgets.commons.labelprovider.AccountLabelProvider"
            name="修订者"
            type="String"
            width="80">
      </column>
      <column
            column="_mdate"
            id="generic._mdate"
            name="修订时间"
            type="DateTime"
            width="80">
      </column>
   </extension>
   <extension
         id="projecttemplate"
         name="项目模板"
         point="com.sg.widgets.column">
      <column
            column="desc"
            id="projecttemplate.desc"
            name="项目模板名称"
            type="String"
            width="-1">
      </column>
      <column
            column="activated"
            id="generic.activated"
            labelProvider="com.sg.business.commons.labelprovider.ActivatedLabelProvider"
            name="激活"
            style="SWT.CENTER"
            type="Boolean"
            width="24">
      </column>
      <column
            column="desc"
            id="work.desc"
            name="名称"
            type="String"
            width="240">
      </column>
      <column
            column="desc"
            id="work.desc.1"
            name="名称"
            type="String"
            width="-1">
      </column>
      <column
            column="seq"
            id="work.seq"
            labelProvider="com.sg.business.commons.labelprovider.WBSCodeLabelprovider"
            name="WBS序号"
            type="Integer"
            width="60">
      </column>
      <column
            column="desc"
            id="roledefinition.desc"
            labelProvider="com.sg.business.commons.labelprovider.RoleDefinitionLabelProvider"
            name="角色名称"
            type="String"
            width="-1">
      </column>
      <column
            column="rolenumber"
            id="roledefinition.number"
            labelProvider="com.sg.business.commons.labelprovider.RoleDefinitionLabelProvider"
            name="角色编号"
            type="String"
            width="80">
      </column>
      <column
            column="roletype"
            id="roledefinition.type"
            labelProvider="com.sg.business.commons.labelprovider.RoleDefinitionTypeLabelProvider"
            name="角色类型"
            type="String"
            width="80">
      </column>
      <column
            column="description"
            id="roledefinition.description"
            labelProvider="com.sg.business.commons.labelprovider.RoleDefinitionDescLabelProvider"
            name="说明"
            type="String"
            width="240">
      </column>
      <column
            column="charger_roled_id"
            id="workdefinition.chargerrole"
            labelProvider="com.sg.business.commons.labelprovider.ChargerRoleDefOfWorkDefLabelProvider"
            name="负责人角色"
            type="String"
            width="120">
      </column>
   </extension>
   <extension
         point="com.mobnut.admin.seq">
      <seq
            collectionname="ids"
            dbname="pm2"
            id="project.number"
            name="项目编号"
            seqname="projectnumber">
      </seq>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.sg.business.management"
            name="业务管理">
      </category>
      <command
            categoryId="com.sg.business.management"
            id="work.create"
            name="添加">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="work.edit"
            name="编辑">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="work.remove"
            name="删除">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="work.moveup"
            name="上移">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="work.movedown"
            name="下移">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="work.moveleft"
            name="升级">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="work.moveright"
            name="降级">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="work.showcompass"
            name="显示移动罗盘">
      </command>
      <command
            categoryId="com.sg.business.management"
            id="work.setcharger"
            name="指定负责人角色">
      </command>
      <command
            id="carlendartest1"
            name="测试某天是否为工作日">
      </command>
      <command
            id="carlendartest2"
            name="测试某时间段有多少工作日">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sg.business.commons.handler.CreateWork"
            commandId="work.create">
      </handler>
      <handler
            class="com.sg.business.commons.handler.EditWork"
            commandId="work.edit">
      </handler>
      <handler
            class="com.sg.business.commons.handler.RemoveWork"
            commandId="work.remove">
      </handler>
      <handler
            class="com.sg.business.commons.handler.WorkMoveUp"
            commandId="work.moveup">
      </handler>
      <handler
            class="com.sg.business.commons.handler.WorkMoveDown"
            commandId="work.movedown">
      </handler>
      <handler
            class="com.sg.business.commons.handler.WorkMoveLeft"
            commandId="work.moveleft">
      </handler>
      <handler
            class="com.sg.business.commons.handler.WorkMoveRight"
            commandId="work.moveright">
      </handler>
      <handler
            class="com.sg.business.commons.handler.ShowWorkCompase"
            commandId="work.showcompass">
      </handler>
      <handler
            class="com.sg.business.commons.handler.ChargerAssignment"
            commandId="work.setcharger">
      </handler>
      <handler
            class="com.sg.business.commons.handler.CarlendarTest1"
            commandId="carlendartest1">
      </handler>
      <handler
            class="com.sg.business.commons.handler.CarlendarTest2"
            commandId="carlendartest2">
      </handler>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="management.roledefinition"
            table="management.roledefinition">
         <filterAction>
            <column
                  columnDefinitionId="roledefinition.number">
            </column>
            <column
                  columnDefinitionId="roledefinition.desc">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="roledefinition.number">
            </column>
            <column
                  columnDefinitionId="roledefinition.desc">
            </column>
         </searchAction>
      </navigator>
      <navigator
            id="project.role"
            table="project.role">
         <filterAction>
            <column
                  columnDefinitionId="roledefinition.number">
            </column>
            <column
                  columnDefinitionId="roledefinition.desc">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="roledefinition.number">
            </column>
            <column
                  columnDefinitionId="roledefinition.desc">
            </column>
         </searchAction>
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            dataSet="com.sg.business.model.dataset.projecttemplate.RoleDefOfProjectTemplate"
            headerVisiable="true"
            id="management.roledefinition"
            multiSelection="true"
            popupMenu="popup:management.roledefinition">
         <column
               columnDefinitionId="roledefinition.number">
         </column>
         <column
               columnDefinitionId="roledefinition.desc">
         </column>
         <column
               columnDefinitionId="roledefinition.description">
         </column>
      </table>
      <table
            dataSet="com.sg.business.model.dataset.project.RoleOfProject"
            headerVisiable="true"
            id="project.role"
            multiSelection="true">
         <column
               columnDefinitionId="roledefinition.number">
         </column>
         <column
               columnDefinitionId="roledefinition.desc">
         </column>
         <column
               columnDefinitionId="roledefinition.description">
         </column>
      </table>
   </extension>
   <extension
         point="com.sg.widgets.column">
      <column
            column="projectnumber"
            id="project.projectnumber"
            name="项目编号"
            type="String"
            width="80">
      </column>
      <column
            column="desc"
            id="project.desc"
            name="名称"
            type="String"
            width="180">
      </column>
      <column
            column="status"
            id="project.status"
            name="状态"
            type="String"
            width="50">
      </column>
      <column
            column="planstart"
            id="planstart"
            name="计划开始"
            type="Date"
            width="72">
      </column>
      <column
            column="planfinish"
            id="planfinish"
            name="计划完成"
            type="Date"
            width="72">
      </column>
      <column
            column="planduration"
            id="planduration"
            name="计划工期"
            type="Integer"
            width="72">
      </column>
      <column
            column="planworks"
            id="planworks"
            name="计划工时"
            type="Integer"
            width="72">
      </column>
      <column
            column="actualstart"
            id="actualstart"
            name="实际开始"
            type="Date"
            width="72">
      </column>
      <column
            column="actualfinish"
            id="actualfinish"
            name="实际完成"
            type="Date"
            width="72">
      </column>
      <column
            column="actualduration"
            id="actualduration"
            name="实际工期"
            type="Integer"
            width="72">
      </column>
      <column
            column="actualworks"
            id="actualworks"
            name="实际工时"
            type="Integer"
            width="72">
      </column>
      <column
            column="chargerid"
            id="chargerid"
            labelProvider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
            name="负责人"
            type="String"
            width="120">
      </column>
      <column
            column="org_id"
            id="project.org_id"
            labelProvider="com.sg.business.commons.labelprovider.OrgLabelProvidder"
            name="职能组织"
            type="String"
            width="160">
      </column>
      <column
            column="launchorg_id"
            id="project.launchorg_id"
            labelProvider="com.sg.business.commons.labelprovider.OrgLabelProvidder"
            name="发起组织"
            type="String"
            width="160">
      </column>
      <column
            column="workorder"
            id="project.workorder"
            name="工作令号"
            type="String"
            width="60">
      </column>
      <column
            column="participate"
            id="participate"
            labelProvider="com.sg.business.commons.labelprovider.UserIdListLabelProvider"
            name="参与者"
            type="String"
            width="120">
      </column>
   </extension>
   <extension
         point="com.sg.widgets.column">
      <column
            column="planstart"
            editingSupport="com.sg.business.commons.editingsupport.PlanStartEditing"
            id="planstart_e"
            labelProvider="com.sg.business.commons.labelprovider.WorkPlanStart"
            name="计划开始"
            type="Date"
            width="72">
      </column>
      <column
            column="planfinish"
            editingSupport="com.sg.business.commons.editingsupport.PlanFinishEditing"
            id="planfinish_e"
            labelProvider="com.sg.business.commons.labelprovider.WorkPlanFinish"
            name="计划完成"
            type="Date"
            width="72">
      </column>
      <column
            column="planduration"
            id="planduration_e"
            labelProvider="com.sg.business.commons.labelprovider.WorkPlanDuration"
            name="计划工期"
            style="SWT.RIGHT"
            type="Integer"
            width="72">
      </column>
      <column
            column="planworks"
            id="planworks_e"
            labelProvider="com.sg.business.commons.labelprovider.WorkPlanWorks"
            name="计划工时"
            style="SWT.RIGHT"
            type="Double"
            width="72">
      </column>
      <column
            column="actualstart"
            id="actualstart_e"
            labelProvider="com.sg.business.commons.labelprovider.WorkActualStart"
            name="实际开始"
            type="Date"
            width="72">
      </column>
      <column
            column="actualfinish"
            id="actualfinish_e"
            labelProvider="com.sg.business.commons.labelprovider.WorkActualFinish"
            name="实际完成"
            type="Date"
            width="72">
      </column>
      <column
            column="actualduration"
            id="actualduration_e"
            labelProvider="com.sg.business.commons.labelprovider.WorkActualDuration"
            name="实际工期"
            style="SWT.RIGHT"
            type="Integer"
            width="72">
      </column>
      <column
            column="actualworks"
            id="actualworks_e"
            labelProvider="com.sg.business.commons.labelprovider.WorkActualWorks"
            name="实际工时"
            style="SWT.RIGHT"
            type="Double"
            width="72">
      </column>
      <column
            column="charger_roled_id"
            id="work.chargerrole"
            labelProvider="com.sg.business.commons.labelprovider.ChargerRoleDefOfWorkLabelProvider"
            name="负责人角色"
            type="String"
            width="120">
      </column>
      <column
            column="milestone"
            id="milestone"
            name="里程碑"
            type="Boolean"
            width="60">
      </column>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="document"
            dbName="pm2"
            id="editor.document.generic"
            image="image/document_24.png"
            name="文档"
            titleToolTips="文档">
         <basicpage
               description="文档基本信息"
               id="basicpage1"
               image="image/document_24.png"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本属性">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="documentnumber"
                        label="文档编号"
                        labelVisible="true"
                        name="documentnumber"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="文档名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="documenttype"
                        label="文档类型"
                        labelVisible="true"
                        name="documenttype"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="300"
                        id="_summary"
                        label="摘要"
                        labelVisible="true"
                        name="_summary"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <versionControl>
            <fieldname
                  fieldname="vault">
            </fieldname>
         </versionControl>
      </editor>
      <pageExtendsions
            id="editor.document.generic"
            location="after=basicpage1"
            targetId="systempage">
      </pageExtendsions>
      <pageExtendsions
            id="editor.document.generic"
            location="after=basicpage1"
            targetId="filepage">
      </pageExtendsions>
   </extension>

</plugin>
