<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mobnut.admin.adminFunction">
      <adminFunction
            image="image/calendar_48.png"
            label="日历"
            run="com.sg.business.commons.admin.CalendarSetting">
      </adminFunction>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.sg.widgets.part.view.TableNavigator"
            id="commons.admin.calendar"
            name="日历设置"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="commons.admin.calendar"
            table="commons.admin.calendar">
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            dataSet="com.sg.business.model.dataset.calendarsetting.SystemCalendar"
            editorId="calendar.setting"
            id="commons.admin.calendar"
            popupMenu="popup:commons.admin.calendar">
         <column
               column="desc"
               name="名称">
         </column>
         <column
               column="startdate"
               name="开始日期"
               type="Date">
         </column>
         <column
               column="enddate"
               name="结束日期"
               type="Date">
         </column>
         <column
               column="workingday"
               name="工作日"
               type="Boolean">
         </column>
         <column
               column="condition"
               name="条件"
               type="String">
         </column>
         <column
               column="operator"
               name="计算"
               type="String"></column>
         <column
               column="value"
               name="值"
               type="String">
         </column>
         <column
               column="seq"
               name="优先级"
               type="Integer">
         </column>
         <column
               column="worktime"
               name="每天工时（小时）"
               type="Double">
         </column>
      </table>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="calendarsetting"
            dbName="pm2"
            id="calendar.setting"
            name="日历条件">
         <basicpage
               description="日历规则"
               id="basicpage1"
               title="日历规则">
            <pagecolumn>
               <section
                     label="规则设置">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <checkbox
                        defaultValue="true"
                        editable="true"
                        id="workingday"
                        label="工作日"
                        labelVisible="true"
                        name="workingday"
                        persistable="true"
                        required="false">
                  </checkbox>
                  <spinner
                        editable="true"
                        id="seq"
                        label="优先级别"
                        labelVisible="true"
                        name="seq"
                        persistable="true"
                        required="false"
                        spinnerSetting="0,1000,1,100">
                  </spinner>
                  <text
                        defaultValue="7.5"
                        editPart="Text(Single Line)"
                        editable="true"
                        id="worktime"
                        label="每天工时"
                        labelVisible="true"
                        name="worktime"
                        persistable="true"
                        required="false"
                        type="Double">
                  </text>
                  <dateTime
                        editPart="DateDialog"
                        editable="true"
                        id="startdate"
                        label="开始日期"
                        labelVisible="true"
                        name="startdate"
                        persistable="true"
                        required="true"
                        type="Date">
                  </dateTime>
                  <dateTime
                        editPart="DateDialog"
                        editable="true"
                        id="enddate"
                        label="结束日期"
                        labelVisible="true"
                        name="enddate"
                        persistable="true"
                        required="true"
                        type="Date">
                  </dateTime>
               </section>
            </pagecolumn>
            <pagecolumn>
               <section
                     label="高级设置">
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="condition"
                        label="条件"
                        labelVisible="true"
                        name="condition"
                        option="calendarrule.option"
                        persistable="true"
                        required="false"
                        type="String">
                  </combo>
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="operator"
                        label="计算"
                        labelVisible="false"
                        name="operator"
                        option="calendarrule.operator"
                        persistable="true"
                        required="false"
                        type="String">
                  </combo>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="value"
                        label="取值（周条件时，1代表周一,7代表周日）"
                        labelVisible="true"
                        name="value"
                        persistable="true"
                        required="false"
                        textMessage="&lt;,分割多个值&gt;"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.widgets.option">
      <option
            id="calendarrule.option">
         <option
               id="周">
         </option>
         <option
               id="日">
         </option>
      </option>
      <option
            id="calendarrule.operator">
         <option
               id="大于">
         </option>
         <option
               id="大于等于">
         </option>
         <option
               id="等于">
         </option>
         <option
               id="小于等于">
         </option>
         <option
               id="小于">
         </option>
      </option>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:commons.admin.calendar">
         <command
               commandId="carlendartest1"
               label="测试某天是否为工作日"
               style="push">
         </command>
         <command
               commandId="carlendartest2"
               label="测试某时间段有多少工作日"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
