<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.home"
            name="首页">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.project"
            name="项目">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.vault"
            name="文档库">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.visualization"
            name="绩效视图">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.organization"
            name="组织管理">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.management"
            name="业务管理">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.system"
            name="系统">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="perspective.home">
         <view
               closeable="false"
               id="com.sg.business.home.mywork"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.sg.business.home.summary"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="right"
               relative="com.sg.business.home.mywork"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.sg.business.home.mycalendar"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="stack"
               relative="com.sg.business.home.summary"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.project">
         <view
               closeable="false"
               id="project.navigator"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.vault">
         <view
               closeable="false"
               id="vault.folder.org"
               minimized="false"
               moveable="false"
               ratio="0.6"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vault.documents"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="right"
               relative="vault.folder.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vault.folder.granted"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vault.folder.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vault.folder.admin"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vault.folder.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vault.documents.contextsearch"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vault.documents"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.organization">
         <view
               closeable="false"
               id="organization.navigator"
               minimized="false"
               moveable="false"
               ratio="0.6"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="organization.role"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="right"
               relative="organization.navigator"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="organization.member"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="bottom"
               relative="organization.role"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="organization.user"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="organization.navigator"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.management">
         <view
               closeable="false"
               id="management.organization.navigaor"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="management.genericwork.definitions"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="right"
               relative="management.organization.navigaor"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="management.projecttemplates"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="bottom"
               relative="management.organization.navigaor"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="management.standlonework.definitions"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="bottom"
               relative="management.genericwork.definitions"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.system">
         <view
               closeable="false"
               id="com.mobnut.admin.navigator"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.visualization">
         <view
               closeable="false"
               id="visualization.demomodel1"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="visualization.demomodel2"
               minimized="false"
               moveable="false"
               ratio="0.6"
               relationship="right"
               relative="visualization.demomodel1"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="com.mobnut.portal.scenario">
      <scenario
            id="developer"
            name="开发者">
         <perspective
               default="true"
               id="perspective.home"></perspective>
         <perspective
               id="perspective.organization">
         </perspective>
         <perspective
               id="perspective.project">
         </perspective>
         <perspective
               id="perspective.management">
         </perspective>
         <perspective
               id="perspective.vault">
         </perspective>
         <perspective
               id="perspective.visualization">
         </perspective>
         <perspective
               id="perspective.system">
         </perspective>
      </scenario>
   </extension>
   <extension
         point="com.mobnut.design.headAreaPart">
      <headAreaPart
            getHeadAreaPart="com.sg.business.pm2.HeadArea">
      </headAreaPart>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="account"
            dbName="pm2"
            id="editor.user"
            isDefault="true"
            labelFieldName="username"
            name="用户"
            titleToolTips="用户">
         <basicpage
               description="用户的基本信息"
               id="basicpage.1"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="userid"
                        label="用户编号"
                        labelVisible="true"
                        name="userid"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="username"
                        label="姓名"
                        labelVisible="true"
                        name="username"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="email"
                        label="EMail"
                        labelVisible="true"
                        name="email"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="password"
                        isPassword="true"
                        label="密码"
                        labelVisible="true"
                        name="password"
                        persistable="true"
                        required="false"
                        tooltips="请在HR系统中设定"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
            <pagecolumn>
               <section
                     label="照片">
                  <file
                        editPart="ImageUploader(Multi)"
                        editable="true"
                        id="headpic"
                        label="头像"
                        labelVisible="false"
                        name="headpic"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>

</plugin>
