<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.home"
            name="首页">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.workflow"
            name="流程">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.project"
            name="项目">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.vault"
            name="文档库">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.resource"
            name="资源">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorShowPerspective"
            id="perspective.visualization"
            name="项目看板">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.finance"
            name="财务">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.worksreg"
            name="工时">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.organization"
            name="组织">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.management"
            name="业务管理">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.message"
            name="消息">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.system"
            name="系统">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.vis.home"
            name="绩效总览">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="perspective.home">
         <view
               closeable="false"
               id="work.processing"
               minimized="false"
               moveable="false"
               ratio="0.8"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="home.mycalender"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="work.processing"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="work.paused"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="home.mycalender"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="work.finished"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="work.paused"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="message.recieved"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="right"
               relative="work.processing"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               id="work.performence.record"
               minimized="false"
               closeable="false"
               relationship="stack"
               relative="message.recieved">
         </view>
         <view
               closeable="false"
               id="home.bulletinboard"
               minimized="false"
               moveable="false"
               ratio="0.55"
               relationship="bottom"
               relative="message.recieved"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="home.lastopen"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="stack"
               relative="home.bulletinboard"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.message">
         <view
               closeable="false"
               id="message.recieved"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="message.send"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="message.recieved"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="message.waste"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="message.recieved"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.project">
         <view
               closeable="false"
               id="project.navigator.myproject"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="project.navigator.management"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="project.navigator.myproject"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="project.navigator.delaywork"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="project.navigator.myproject"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="project.navigator.delayprocess"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="project.navigator.myproject"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.vault">
         <view
               closeable="false"
               id="vault.folder.org"
               minimized="false"
               moveable="false"
               ratio="0.6"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vault.documents"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="right"
               relative="vault.folder.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vault.folder.granted"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vault.folder.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vault.folder.admin"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vault.folder.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vault.documents.contextsearch"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vault.documents"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.organization">
         <view
               closeable="false"
               id="organization.navigator"
               minimized="false"
               moveable="false"
               ratio="0.6"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="organization.role"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="right"
               relative="organization.navigator"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="organization.member"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="bottom"
               relative="organization.role"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="organization.user"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="organization.navigator"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.management">
         <view
               closeable="false"
               id="management.organization.navigaor"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="management.documentdefinition"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="right"
               relative="management.organization.navigaor"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="management.projecttemplates"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="bottom"
               relative="management.organization.navigaor"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="management.genericwork.definitions"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="management.projecttemplates"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="management.standlonework.definitions"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="management.genericwork.definitions"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.system">
         <view
               closeable="false"
               id="com.mobnut.admin.navigator"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.visualization">
         <view
               closeable="false"
               id="vis.project.org"
               minimized="false"
               moveable="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <!--view
               closeable="false"
               id="vis.project.projecttype"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vis.project.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view-->
         <view
               closeable="false"
               id="vis.project.producttype"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vis.project.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vis.project.myprojectset"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vis.project.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.resource">
         <view
               closeable="false"
               id="performence.works.org"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="performence.works.project"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="performence.works.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="performence.works.project.org"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="performence.works.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.finance">
         <view
               closeable="false"
               id="finance.rndcost"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.worksreg">
         <view
               closeable="false"
               id="works.register"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.workflow">
         <view
               closeable="false"
               id="workflow.taskreserved"
               minimized="false"
               moveable="false"
               ratio="0.6"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="workflow.workdelivery"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="right"
               relative="workflow.taskreserved"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="workflow.taskhistory"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="bottom"
               relative="workflow.taskreserved"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.vis.home">
         <view
               closeable="false"
               id="vis.dept.main"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="right"
               relative="vis.main.indicators"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vis.main.indicators"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vis.eco.main"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="bottom"
               relative="vis.main.indicators"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vis.risk.main"
               minimized="false"
               moveable="false"
               ratio="0.6"
               relationship="bottom"
               relative="vis.dept.main"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="com.mobnut.portal.scenario">
      <scenario
            id="visualization"
            isDefault="true"
            name="可视化">
         <perspective
               default="false"
               id="perspective.vis.home"></perspective>
         <perspective
               default="true"
               id="perspective.visualization">
         </perspective>
      </scenario>
      <scenario
            id="project"
            isDefault="true"
            name="项目管理">
         <perspective
               default="true"
               id="perspective.home">
         </perspective>
         <perspective
               id="perspective.workflow">
         </perspective>
         <perspective
               id="perspective.project">
         </perspective>
         <perspective
               id="perspective.worksreg">
         </perspective>
         <perspective
               id="perspective.resource">
         </perspective>
         <perspective
               id="perspective.vault">
         </perspective>
         <perspective
               id="perspective.message">
         </perspective>
      </scenario>
      <scenario
            id="document"
            name="文档管理">
         <perspective
               default="true"
               id="perspective.home">
         </perspective>
         <perspective
               id="perspective.workflow">
         </perspective>
         <perspective
               id="perspective.vault">
         </perspective>
         <perspective
               id="perspective.message">
         </perspective>
      </scenario>
      <scenario
            id="manager"
            name="业务管理">
         <perspective
               default="true"
               id="perspective.home">
         </perspective>
         <perspective
               id="perspective.workflow">
         </perspective>
         <perspective
               id="perspective.management">
         </perspective>
         <perspective
               id="perspective.message">
         </perspective>
      </scenario>
      <scenario
            id="system"
            name="系统管理">
         <perspective
               default="true"
               id="perspective.home">
         </perspective>
         <perspective
               id="perspective.workflow">
         </perspective>
         <perspective
               default="true"
               id="perspective.organization">
         </perspective>
         <perspective
               id="perspective.management">
         </perspective>
         <perspective
               id="perspective.message">
         </perspective>
         <perspective
               id="perspective.system">
         </perspective>
      </scenario>
      <scenario
            id="workflowAndMessage"
            name="流程和消息">
         <perspective
               id="perspective.workflow">
         </perspective>
         <perspective
               id="perspective.message">
         </perspective>
      </scenario>
   </extension>
   <extension
         point="com.mobnut.design.headAreaPart">
      <headAreaPart
            getHeadAreaPart="com.sg.business.pm2.HeadArea">
      </headAreaPart>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="account"
            dbName="pm2"
            id="editor.user"
            isDefault="true"
            labelFieldName="username"
            name="用户"
            titleToolTips="用户">
         <basicpage
               description="用户的基本信息"
               id="basicpage.1"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="userid"
                        label="用户编号"
                        labelVisible="true"
                        name="userid"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="username"
                        label="姓名"
                        labelVisible="true"
                        name="username"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="email"
                        label="EMail"
                        labelVisible="true"
                        name="email"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="password"
                        isPassword="true"
                        label="密码"
                        labelVisible="true"
                        name="password"
                        persistable="true"
                        required="false"
                        tooltips="请在HR系统中设定"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
            <pagecolumn>
               <section
                     label="照片">
                  <file
                        editPart="ImageUploader(Multi)"
                        editable="true"
                        id="headpic"
                        label="头像"
                        labelVisible="false"
                        name="headpic"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="setting"
            dbName="pm2"
            id="admin.editor.globalsetting"
            name="全局设置">
         <basicpage
               id="basicpage"
               title="全局设置">
            <pagecolumn
                  id="1">
               <section
                     label="全局设置">
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="varid"
                        label="ID"
                        labelVisible="true"
                        name="varid"
                        option="setting.id"
                        persistable="true"
                        required="false"
                        type="String">
                  </combo>
                  <fieldgroup
                        columnCount="2">
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="desc"
                           label="名称"
                           labelVisible="true"
                           name="desc"
                           persistable="true"
                           required="true"
                           type="String">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="value"
                           label="值"
                           labelVisible="true"
                           name="value"
                           persistable="true"
                           required="true"
                           type="String">
                     </text>
                  </fieldgroup>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="description"
                        label="说明"
                        labelVisible="true"
                        name="description"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="setting"
            dbName="pm2"
            id="admin.editor.personalsetting"
            name="个人设置">
         <basicpage
               id="basicpage"
               title="个人设置">
            <pagecolumn
                  id="1">
               <section
                     label="个人设置">
                  <text
                        defaultValueProvider="com.sg.widgets.part.editor.fields.value.CurrentUser"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="userid"
                        label="用户ID"
                        labelVisible="true"
                        name="userid"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="varid"
                        label="ID"
                        labelVisible="true"
                        name="varid"
                        option="setting.id"
                        persistable="true"
                        required="false"
                        type="String">
                  </combo>
                  <fieldgroup
                        columnCount="2">
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="desc"
                           label="名称"
                           labelVisible="true"
                           name="desc"
                           persistable="true"
                           required="true"
                           type="String">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="value"
                           label="值"
                           labelVisible="true"
                           name="value"
                           persistable="true"
                           required="true"
                           type="String">
                     </text>
                  </fieldgroup>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="description"
                        label="说明"
                        labelVisible="true"
                        name="description"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.widgets.option">
      <option
            id="setting.id"
            label="setting.id"
            value="setting.id">
         <option
               id="PROJECT.COMMIT.DURATION"
               label="PROJECT.COMMIT.DURATION"
               value="PROJECT.COMMIT.DURATION">
         </option>
         <option
               id="WORK.RESERVED.REFRESH.INTERVAL"
               label="WORK.RESERVED.REFRESH.INTERVAL"
               value="WORK.RESERVED.REFRESH.INTERVAL">
         </option>
		 <option
               id="WORK.RESERVED.REFRESH.SYSTEM"
               label="WORK.RESERVED.REFRESH.SYSTEM"
               value="WORK.RESERVED.REFRESH.SYSTEM">
         </option>
         <option
               id="MESSAGEINBOX.REFRESH.INTERVAL"
               label="MESSAGEINBOX.REFRESH.INTERVAL"
               value="MESSAGEINBOX.REFRESH.INTERVAL">
         </option>
         <option
               id="TASK.DELAYMARK"
               label="TASK.DELAYMARK"
               value="TASK.DELAYMARK">
         </option>
         <option
               id="SYSTEM.PROCESS_BASE_URL"
               label="SYSTEM.PROCESS_BASE_URL"
               value="SYSTEM.PROCESS_BASE_URL">
         </option>
         <option
               id="EAI.SAP.MAXCONN"
               label="EAI.SAP.MAXCONN"
               value="EAI.SAP.MAXCONN">
         </option>
         <option
               id="EAI.SAP.CLIENT"
               label="EAI.SAP.CLIENT"
               value="EAI.SAP.CLIENT">
         </option>
         <option
               id="EAI.SAP.USERID"
               label="EAI.SAP.USERID"
               value="EAI.SAP.USERID">
         </option>
         <option
               id="EAI.SAP.PASSWORD"
               label="EAI.SAP.PASSWORD"
               value="EAI.SAP.PASSWORD">
         </option>
         <option
               id="EAI.SAP.LANG"
               label="EAI.SAP.LANG"
               value="EAI.SAP.LANG">
         </option>
         <option
               id="EAI.SAP.HOST"
               label="EAI.SAP.HOST"
               value="EAI.SAP.HOST">
         </option>
         <option
               id="EAI.SAP.INSTANCENUMBER"
               label="EAI.SAP.INSTANCENUMBER"
               value="EAI.SAP.INSTANCENUMBER">
         </option>
         <option
               id="MAJOR_VID_SEQ"
               label="MAJOR_VID_SEQ"
               value="MAJOR_VID_SEQ">
         </option>
         <option
               id="BI.OVER.COST.ESTIMATE"
               label="BI.OVER.COST.ESTIMATE"
               value="BI.OVER.COST.ESTIMATE">
         </option>
      </option>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.mobnut.portal.main"
            name="vis">
         <property
               name="appName"
               value="vis">
         </property>
      </product>
   </extension>
   <extension
         point="com.mobnut.admin.schedualJob">
      <!--schedualJob
            day="999999"
            id="pm2.dbreset"
            name="数据库重置"
            rule="month"
            run="com.sg.business.pm2.setup.DBClear"
            time="0:0:0">
      </schedualJob-->
      <schedualJob
            day="999999"
            id="pm2.dbinit"
            name="数据库初始化"
            rule="month"
            run="com.sg.business.pm2.setup.DBInit"
            time="0:0:0">
      </schedualJob>
      <!--schedualJob
            day="999999"
            id="pm2.mntpack"
            name="维护角色数据"
            rule="month"
            run="com.sg.business.pm2.set.MntRole"
            time="0:0:0">
      </schedualJob-->
   </extension>
   <extension
         point="com.mobnut.portal.portalNotice">
      <notice
            noticeCreator="com.mobnut.portal.notice.ImageNoticeCreator">
      </notice>
   </extension>

</plugin>
