<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.vis2.home"
            name="%perspective.vis2">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.work"
            name="%perspective.name">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.simplework"
            name="%perspective.name.0">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.workflow"
            name="%perspective.name.1">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.vis.home"
            name="%perspective.name.2">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorShowPerspective"
            id="perspective.visualization"
            name="%perspective.name.3">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.resource"
            name="%perspective.name.4">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.delay"
            name="%perspective.name.5">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.project"
            name="%perspective.name.6">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.management"
            name="%perspective.name.7">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.organization"
            name="%perspective.name.8">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.vault"
            name="%perspective.name.9">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.bulletinboard"
            name="%perspective.name.10">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.system"
            name="%perspective.name.11">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.message"
            name="%perspective.name.12">
      </perspective>
      <perspective
            class="com.sg.widgets.perspective.EditorHidePerspective"
            id="perspective.finance"
            name="%perspective.name.13">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="perspective.work">
         <view
               closeable="false"
               id="work.processing"
               minimized="false"
               moveable="false"
               ratio="0.6"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="home.mycalender"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="work.processing"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="work.paused"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="home.mycalender"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="work.finished"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="work.paused"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="project.navigator.myproject"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="right"
               relative="work.processing"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="project.navigator.delaywork"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="project.navigator.myproject"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="project.navigator.delayprocess"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="project.navigator.delaywork"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="work.performence.record"
               minimized="false"
               ratio="0.5"
               relationship="bottom"
               relative="project.navigator.myproject">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.simplework">
         <view
               closeable="false"
               id="work.processing"
               minimized="false"
               moveable="false"
               ratio="0.6"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="home.mycalender"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="right"
               relative="work.processing"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.workflow">
         <view
               closeable="false"
               id="workflow.taskreserved"
               minimized="false"
               moveable="false"
               ratio="0.6"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="workflow.workdelivery"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="right"
               relative="workflow.taskreserved"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="workflow.taskhistory"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="bottom"
               relative="workflow.taskreserved"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.vis.home">
         <view
               closeable="false"
               id="vis.main.indicators"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vis.risk.schedual"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vis.main.indicators"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vis.risk.cost"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vis.main.indicators"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vis.dept.main"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="right"
               relative="vis.main.indicators"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vis.eco.budgetandcost"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="bottom"
               relative="vis.main.indicators"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vis.eco.revenue"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vis.eco.budgetandcost"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.visualization">
         <view
               closeable="false"
               id="vis.projectset.navigator"
               minimized="false"
               moveable="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <!--view
               closeable="false"
               id="vis.project.projecttype"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vis.projectset.navigator"
               showTitle="true"
               standalone="false"
               visible="true">
         </view-->
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.resource">
         <view
               closeable="false"
               id="performence.works.org"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="performence.works.project"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="performence.works.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="performence.works.project.org"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="performence.works.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.bulletinboard">
         <view
               id="home.bulletinboard"
               minimized="false"
               ratio="0.8"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.delay">
         <view
               closeable="false"
               id="project.navigator.delaywork"
               minimized="false"
               moveable="false"
               ratio="0.8"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="project.navigator.delayprocess"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="project.navigator.delaywork"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.vault">
         <view
               closeable="false"
               id="vault.folder.org"
               minimized="false"
               moveable="false"
               ratio="0.6"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vault.documents"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="right"
               relative="vault.folder.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vault.folder.granted"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vault.folder.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vault.folder.open"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vault.folder.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vault.folder.admin"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vault.folder.org"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="vault.documents.contextsearch"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="vault.documents"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.project">
         <view
               closeable="false"
               id="project.navigator.management"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="works.register"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="project.navigator.management"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.management">
         <view
               closeable="false"
               id="management.organization.navigaor"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="management.documentdefinition"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="right"
               relative="management.organization.navigaor"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="management.projecttemplates"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="bottom"
               relative="management.organization.navigaor"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="management.genericwork.definitions"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="management.projecttemplates"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="management.standlonework.definitions"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="management.genericwork.definitions"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.organization">
         <view
               closeable="false"
               id="organization.navigator"
               minimized="false"
               moveable="false"
               ratio="0.6"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="organization.role"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="right"
               relative="organization.navigator"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="organization.member"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="bottom"
               relative="organization.role"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="organization.user"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="organization.navigator"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.system">
         <view
               closeable="false"
               id="com.mobnut.admin.navigator"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.message">
         <view
               closeable="false"
               id="message.recieved"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="message.send"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="message.recieved"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="message.waste"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="message.recieved"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.finance">
         <view
               closeable="false"
               id="finance.rndcost"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="perspective.vis2.home">
         <view
               closeable="false"
               id="vis2.profitlist"
               minimized="false"
               moveable="false"
               ratio=".5"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true">
         </view>
         <view
               closeable="false"
               id="vis2.combinnatiedrate"
               minimized="false"
               moveable="false"
               ratio=".33"
               relationship="right"
               relative="vis2.profitlist"
               showTitle="false"
               standalone="true">
         </view>
         <view
               closeable="false"
               id="vis2.profitrate"
               minimized="false"
               moveable="false"
               ratio=".5"
               relationship="right"
               relative="vis2.combinnatiedrate"
               showTitle="false"
               standalone="true">
         </view>
         <view
               closeable="false"
               id="vis2.indicators"
               minimized="false"
               moveable="false"
               ratio=".33"
               relationship="bottom"
               relative="vis2.combinnatiedrate"
               showTitle="false"
               standalone="true">
         </view>
         <view
               closeable="false"
               id="vis2.budgetandinvestmentvolumn"
               minimized="false"
               moveable="false"
               ratio=".33"
               relationship="bottom"
               relative="vis2.profitrate"
               showTitle="false"
               standalone="true">
         </view>
         <view
               closeable="false"
               id="vis2.profitvolumn"
               minimized="false"
               moveable="false"
               ratio=".5"
               relationship="bottom"
               relative="vis2.indicators"
               showTitle="false"
               standalone="true">
         </view>
         <view
               closeable="false"
               id="vis2.overschedualvolumn"
               minimized="false"
               moveable="false"
               ratio=".5"
               relationship="bottom"
               relative="vis2.budgetandinvestmentvolumn"
               showTitle="false"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="com.mobnut.portal.scenario">
      <scenario
            id="visualization"
            isDefault="true"
            name="%scenario.name">
         <perspective
               id="perspective.vis.home">
         </perspective>
         <perspective
               default="true"
               id="perspective.visualization">
         </perspective>
      </scenario>
      <scenario
            id="work"
            isDefault="true"
            name="%scenario.name.0">
         <perspective
               default="true"
               id="perspective.work">
         </perspective>
         <perspective
               id="perspective.workflow">
         </perspective>
      </scenario>
      <scenario
            id="work.simple"
            name="%scenario.name.1">
         <perspective
               id="perspective.simplework"></perspective>
      </scenario>
      <scenario
            id="projectmanagement"
            isDefault="true"
            name="%scenario.name.2">
         <perspective
               id="perspective.project">
         </perspective>
      </scenario>
      <scenario
            id="resourcemanagement"
            isDefault="true"
            name="%scenario.name.3">
         <perspective
               id="perspective.resource">
         </perspective>
      </scenario>
      <scenario
            id="vault"
            name="%scenario.name.4">
         <perspective
               id="perspective.vault">
         </perspective>
      </scenario>
      <scenario
            id="businessmanager"
            name="%scenario.name.5">
         <perspective
               id="perspective.management">
         </perspective>
      </scenario>
      <scenario
            id="systemmanager"
            name="%scenario.name.6">
         <perspective
               default="false"
               id="perspective.organization">
         </perspective>
         <perspective
               id="perspective.system">
         </perspective>
      </scenario>
      <scenario
            id="message"
            name="%scenario.name.7">
         <perspective
               id="perspective.message"></perspective>
      </scenario>
      <scenario
            id="bulletinboard"
            name="%scenario.name.8">
         <perspective
               id="perspective.bulletinboard">
         </perspective>
      </scenario>
   </extension>
   <extension
         point="com.mobnut.design.headAreaPart">
      <headAreaPart
            getHeadAreaPart="com.sg.business.pm2.HeadArea">
      </headAreaPart>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="account"
            dbName="pm2"
            id="editor.user"
            isDefault="true"
            labelFieldName="username"
            name="%editor.name"
            titleToolTips="%editor.titleToolTips">
         <basicpage
               description="%basicpage.description"
               id="basicpage.1"
               title="%basicpage.title">
            <pagecolumn
                  id="1">
               <section
                     label="%section.label">
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="userid"
                        label="%text.label"
                        labelVisible="true"
                        name="userid"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="username"
                        label="%text.label.0"
                        labelVisible="true"
                        name="username"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="email"
                        label="EMail"
                        labelVisible="true"
                        name="email"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="password"
                        isPassword="true"
                        label="%text.label.2"
                        labelVisible="true"
                        name="password"
                        persistable="true"
                        required="false"
                        tooltips="%text.tooltips"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
            <pagecolumn>
               <section
                     label="%section.label.0">
                  <file
                        editPart="ImageUploader(Multi)"
                        editable="true"
                        id="headpic"
                        label="%file.label"
                        labelVisible="false"
                        name="headpic"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="setting"
            dbName="pm2"
            id="admin.editor.globalsetting"
            name="%editor.name.0">
         <basicpage
               id="basicpage"
               title="%basicpage.title.0">
            <pagecolumn
                  id="1">
               <section
                     label="%section.label.1">
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="varid"
                        label="ID"
                        labelVisible="true"
                        name="varid"
                        option="setting.id"
                        persistable="true"
                        required="false"
                        type="String">
                  </combo>
                  <fieldgroup
                        columnCount="2">
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="desc"
                           label="%text.label.3"
                           labelVisible="true"
                           name="desc"
                           persistable="true"
                           required="true"
                           type="String">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="value"
                           label="%text.label.4"
                           labelVisible="true"
                           name="value"
                           persistable="true"
                           required="true"
                           type="String">
                     </text>
                  </fieldgroup>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="description"
                        label="%text.label.5"
                        labelVisible="true"
                        name="description"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="setting"
            dbName="pm2"
            id="admin.editor.personalsetting"
            name="%editor.name.1">
         <basicpage
               id="basicpage"
               title="%basicpage.title.1">
            <pagecolumn
                  id="1">
               <section
                     label="%section.label.2">
                  <text
                        defaultValueProvider="com.sg.widgets.part.editor.fields.value.CurrentUser"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="userid"
                        label="%text.label.6"
                        labelVisible="true"
                        name="userid"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="varid"
                        label="%combo.label.0"
                        labelVisible="true"
                        name="varid"
                        option="setting.id"
                        persistable="true"
                        required="false"
                        type="String">
                  </combo>
                  <fieldgroup
                        columnCount="2">
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="desc"
                           label="%text.label.7"
                           labelVisible="true"
                           name="desc"
                           persistable="true"
                           required="true"
                           type="String">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="true"
                           id="value"
                           label="%text.label.8"
                           labelVisible="true"
                           name="value"
                           persistable="true"
                           required="true"
                           type="String">
                     </text>
                  </fieldgroup>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="description"
                        label="%text.label.9"
                        labelVisible="true"
                        name="description"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.widgets.option">
      <option
            id="setting.id"
            label="%option.label"
            value="setting.id">
         <option
               id="PROJECT.COMMIT.DURATION"
               label="%option.label.0"
               value="PROJECT.COMMIT.DURATION">
         </option>
         <option
               id="WORK.RESERVED.REFRESH.INTERVAL"
               label="%option.label.1"
               value="WORK.RESERVED.REFRESH.INTERVAL">
         </option>
		 <option
               id="WORK.RESERVED.REFRESH.SYSTEM"
               label="%option.label.2"
               value="WORK.RESERVED.REFRESH.SYSTEM">
         </option>
         <option
               id="MESSAGEINBOX.REFRESH.INTERVAL"
               label="%option.label.3"
               value="MESSAGEINBOX.REFRESH.INTERVAL">
         </option>
         <option
               id="TASK.DELAYMARK"
               label="%option.label.4"
               value="TASK.DELAYMARK">
         </option>
         <option
               id="SYSTEM.PROCESS_BASE_URL"
               label="%option.label.5"
               value="SYSTEM.PROCESS_BASE_URL">
         </option>
         <option
               id="EAI.SAP.MAXCONN"
               label="%option.label.6"
               value="EAI.SAP.MAXCONN">
         </option>
         <option
               id="EAI.SAP.CLIENT"
               label="%option.label.7"
               value="EAI.SAP.CLIENT">
         </option>
         <option
               id="EAI.SAP.USERID"
               label="%option.label.8"
               value="EAI.SAP.USERID">
         </option>
         <option
               id="EAI.SAP.PASSWORD"
               label="%option.label.9"
               value="EAI.SAP.PASSWORD">
         </option>
         <option
               id="EAI.SAP.LANG"
               label="%option.label.10"
               value="EAI.SAP.LANG">
         </option>
         <option
               id="EAI.SAP.HOST"
               label="%option.label.11"
               value="EAI.SAP.HOST">
         </option>
         <option
               id="EAI.SAP.INSTANCENUMBER"
               label="%option.label.12"
               value="EAI.SAP.INSTANCENUMBER">
         </option>
         <option
               id="MAJOR_VID_SEQ"
               label="%option.label.13"
               value="MAJOR_VID_SEQ">
         </option>
         <option
               id="BI.OVER.COST.ESTIMATE"
               label="%option.label.14"
               value="BI.OVER.COST.ESTIMATE">
         </option>
         <option
               id="TASKRESERVED.REFRESH.INTERVAL"
               label="%option.label.15"
               value="TASKRESERVED.REFRESH.INTERVAL">
         </option>
      </option>
      <option
            id="bugtype"
            label="%option.label.16"
            value="bugtype">
         <option
               id="系统出错"
               label="%option.label.17">
         </option>
         <option
               id="操作不便"
               value="操作不便"
               label="%option.label.18">
         </option>
         <option
               id="建议"
               label="%option.label.19"
               value="建议">
         </option>
         <option
               id="其他"
               label="%option.label.20"
               value="其他">
         </option>
         
      </option>
      <option
            id="bugstatus"
            label="%option.label.21"
            value="bugstatus">
         <option
               id="开放状态"
               label="%option.label.22"
               value="开放状态">
         </option>
         <option
               id="已关闭"
               label="%option.label.23"
               value="已关闭">
         </option>
      </option>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.mobnut.portal.main"
            name="%product.name">
         <property
               name="appName"
               value="vis">
         </property>
      </product>
   </extension>
   <!--extension
         point="com.mobnut.admin.schedualJob">
      <schedualJob
            day="999999"
            id="pm2.dbreset"
            name="数据库重置"
            rule="month"
            run="com.sg.business.pm2.setup.DBClear"
            time="0:0:0">
      </schedualJob>
      <schedualJob
            day="999999"
            id="pm2.dbinit"
            name="数据库初始化"
            rule="month"
            run="com.sg.business.pm2.setup.DBInit"
            time="0:0:0">
      </schedualJob>
      <schedualJob
            day="999999"
            id="pm2.mntpack"
            name="维护角色数据"
            rule="month"
            run="com.sg.business.pm2.set.MntRole"
            time="0:0:0">
      </schedualJob>
   </extension-->
   <extension
         point="com.mobnut.portal.portalNotice">
      <notice
            noticeCreator="com.mobnut.portal.notice.ImageNoticeCreator">
      </notice>
   </extension>

</plugin>
