<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="organization"
            name="组织">
      </category>
      <view
            category="organization"
            class="com.sg.widgets.part.view.TreeNavigator"
            id="organization.navigator"
            name="组织"
            restorable="true">
      </view>
      <view
            category="organization"
            class="com.sg.widgets.part.view.TableNavigator"
            id="organization.member"
            name="成员"
            restorable="true">
      </view>
      <view
            category="organization"
            class="com.sg.widgets.part.view.TreeNavigator"
            id="organization.role"
            name="角色"
            restorable="true">
      </view>
      <view
            category="organization"
            class="com.sg.widgets.part.view.TableNavigator"
            id="organization.user"
            name="用户"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="organization.navigator"
            provideSelection="true"
            tree="organization.navigator">
         <filterAction>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="organization.organizationType">
            </column>
            <column
                  columnDefinitionId="organization.isFunctionDepartment">
            </column>
            <column
                  columnDefinitionId="organization.isContainer">
            </column>
            <column
                  columnDefinitionId="organization.description">
            </column>
            <column
                  columnDefinitionId="organization.costCenterCode">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="organization.organizationType">
            </column>
            <column
                  columnDefinitionId="organization.isFunctionDepartment">
            </column>
            <column
                  columnDefinitionId="organization.isContainer">
            </column>
            <column
                  columnDefinitionId="organization.description">
            </column>
            <column
                  columnDefinitionId="organization.costCenterCode">
            </column>
         </searchAction>
         <createEditor
               editorId="editor.organization.team">
         </createEditor>
         <createEditor
               createHandler="com.sg.business.organization.editor.SubTeamCreater"
               editorId="editor.organization.subteam">
         </createEditor>
         <createEditor
               createHandler="com.sg.business.organization.editor.RoleCreater"
               editorId="editor.organization.role">
         </createEditor>
      </navigator>
      <navigator
            id="organization.role"
            provideSelection="true"
            tree="organization.role">
         <filterAction>
            <column
                  columnDefinitionId="role.roleNumber">
            </column>
            <column
                  columnDefinitionId="role.desc">
            </column>
            <column
                  columnDefinitionId="role.description">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="role.roleNumber">
            </column>
            <column
                  columnDefinitionId="role.desc">
            </column>
            <column
                  columnDefinitionId="role.description">
            </column>
         </searchAction>
         <masterProvider
               id="organization.navigator">
         </masterProvider>
      </navigator>
      <navigator
            id="organization.member"
            provideSelection="true"
            table="organization.member">
         <filterAction>
            <column
                  columnDefinitionId="account.userid">
            </column>
            <column
                  columnDefinitionId="account.username">
            </column>
            <column
                  columnDefinitionId="account.email">
            </column>
            <column
                  columnDefinitionId="account.activated">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="account.userid">
            </column>
            <column
                  columnDefinitionId="account.username">
            </column>
            <column
                  columnDefinitionId="account.email">
            </column>
            <column
                  columnDefinitionId="account.activated">
            </column>
         </searchAction>
         <masterProvider
               id="organization.navigator">
         </masterProvider>
      </navigator>
      <navigator
            id="organization.user"
            provideSelection="true"
            table="organization.user">
         <filterAction>
            <column
                  columnDefinitionId="account.userid">
            </column>
            <column
                  columnDefinitionId="account.username">
            </column>
            <column
                  columnDefinitionId="account.email">
            </column>
            <column
                  columnDefinitionId="account.activated">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="account.userid">
            </column>
            <column
                  columnDefinitionId="account.username">
            </column>
            <column
                  columnDefinitionId="account.email">
            </column>
            <column
                  columnDefinitionId="account.activated">
            </column>
         </searchAction>
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.tree">
      <tree
            autoExpandLevel="3"
            canCreate="true"
            canDelete="true"
            canEdit="true"
            collectionName="organization"
            dataSet="com.sg.business.model.dataset.organization.OrgRoot"
            dbName="pm2"
            editorId="editor.organization.team"
            id="organization.navigator"
            idfield="_id"
            multiSelection="false"
            popupMenu="popup:com.sg.widget.navigator">
         <column
               columnDefinitionId="com.sg.widgets.column.desc">
         </column>
         <column
               columnDefinitionId="organization.organizationType">
         </column>
         <column
               columnDefinitionId="organization.isFunctionDepartment">
         </column>
         <column
               columnDefinitionId="organization.isContainer">
         </column>
         <column
               columnDefinitionId="organization.description">
         </column>
         <column
               columnDefinitionId="organization.costCenterCode">
         </column>
         <structure
               modelRelation="organization_organization">
         </structure>
      </tree>
      <tree
            canCreate="false"
            canDelete="true"
            canEdit="true"
            collectionName="role"
            dataSet="com.sg.business.model.dataset.organization.RoleOfOrg"
            dbName="pm2"
            dropTargetListener="com.sg.business.organization.view.DropUserRole"
            editorId="editor.organization.role"
            id="organization.role"
            idfield="_id"
            multiSelection="true"
            popupMenu="popup:com.sg.widget.navigator">
         <column
               columnDefinitionId="role.roleNumber">
         </column>
         <column
               columnDefinitionId="role.desc">
         </column>
         <column
               columnDefinitionId="role.description">
         </column>
         <column
               columnDefinitionId="role.roleType">
         </column>
         <structure
               modelRelation="role_roleassignment">
         </structure>
      </tree>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            canCreate="true"
            canDelete="true"
            canEdit="true"
            collectionName="account"
            dataSet="com.sg.business.model.dataset.organization.UserDataSetFactory"
            dbName="pm2"
            dragSourceListener="com.sg.widgets.commons.dnd.DragPrimaryObjectSource"
            editorId="editor.organization.user"
            id="organization.user"
            multiSelection="true"
            popupMenu="popup:organization.user"
            queryMode="false">
         <column
               columnDefinitionId="account.userid">
         </column>
         <column
               columnDefinitionId="account.username">
         </column>
         <column
               columnDefinitionId="account.email">
         </column>
         <column
               columnDefinitionId="account.activated">
         </column>
         <column
               columnDefinitionId="account.organizationpath">
         </column>
         <column
               columnDefinitionId="account.roleassignment">
         </column>
      </table>
      <table
            canCreate="false"
            canDelete="true"
            canEdit="true"
            collectionName="account"
            dataSet="com.sg.business.model.dataset.organization.MemberofOrg"
            dbName="pm2"
            dragSourceListener="com.sg.widgets.commons.dnd.DragPrimaryObjectSource"
            dropTargetListener="com.sg.business.organization.view.DropMember"
            id="organization.member"
            multiSelection="true"
            popupMenu="popup:com.sg.widget.navigator">
         <column
               columnDefinitionId="account.userid">
         </column>
         <column
               columnDefinitionId="account.username">
         </column>
         <column
               columnDefinitionId="account.email">
         </column>
         <column
               columnDefinitionId="account.activated">
         </column>
      </table>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="organization"
            dbName="pm2"
            id="editor.organization.team"
            isDefault="true"
            labelFieldName="desc"
            name="顶级组织"
            saveHandler="com.sg.business.organization.editor.OrganizationSaveHandler"
            titleToolTips="顶级组织">
         <basicpage
               description="组织的基本信息"
               id="basicpage.1"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="组织名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="fulldesc"
                        label="组织全称"
                        labelVisible="true"
                        name="fulldesc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        type="String"
                        id="organizationtype"
                        label="类型"
                        labelVisible="true"
                        name="organizationtype"
                        option="com.sg.business.option.organizationType"
                        persistable="true"
                        required="false">
                  </combo>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="costcentercode"
                        label="成本中心代码"
                        labelVisible="true"
                        name="costcentercode"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <checkbox
                        editable="true"
                        id="isfunctiondepartment"
                        label="具有项目管理职能"
                        labelVisible="true"
                        name="isfunctiondepartment"
                        persistable="true"
                        required="false">
                  </checkbox>
                  <checkbox
                        editable="true"
                        id="iscontainer"
                        label="文档容器"
                        labelVisible="true"
                        name="iscontainer"
                        persistable="true"
                        required="false">
                  </checkbox>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="description"
                        label="说明"
                        labelVisible="true"
                        name="description"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="organization"
            dbName="pm2"
            id="editor.organization.subteam"
            isDefault="true"
            labelFieldName="desc"
            name="部门和团队"
            saveHandler="com.sg.business.organization.editor.OrganizationSaveHandler"
            titleToolTips="部门和团队">
         <basicpage
               description="组织的基本信息"
               id="basicpage.1"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本信息">
                  <selectionDialog
                        dataSetFactory="com.sg.business.model.dataset.organization.OrgFinder"
                        editable="false"
                        id="parent_id"
                        label="上级组织"
                        labelVisible="true"
                        name="parent_id"
                        persistable="true"
                        required="false"
                        type="ObjectId">
                  </selectionDialog>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="组织名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="fulldesc"
                        label="组织全称"
                        labelVisible="true"
                        name="fulldesc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        type="String"
                        id="organizationtype"
                        label="类型"
                        labelVisible="true"
                        name="organizationtype"
                        option="com.sg.business.option.organizationType"
                        persistable="true"
                        required="false">
                  </combo>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="costcentercode"
                        label="成本中心代码"
                        labelVisible="true"
                        name="costcentercode"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <checkbox
                        editable="true"
                        id="isfunctiondepartment"
                        label="具有项目管理职能"
                        labelVisible="true"
                        name="isfunctiondepartment"
                        persistable="true"
                        required="false">
                  </checkbox>
                  <checkbox
                        editable="true"
                        id="iscontainer"
                        label="文档容器"
                        labelVisible="true"
                        name="iscontainer"
                        persistable="true"
                        required="false">
                  </checkbox>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="description"
                        label="说明"
                        labelVisible="true"
                        name="description"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="role"
            dbName="pm2"
            id="editor.organization.role"
            isDefault="true"
            labelFieldName="desc"
            name="角色"
            titleToolTips="角色">
         <basicpage
               description="组织的基本信息"
               id="basicpage.1"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本信息">
                  <selectionDialog
                        dataSetFactory="com.sg.business.model.dataset.organization.OrgFinder"
                        editable="false"
                        id="organization_id"
                        label="所属组织"
                        labelVisible="true"
                        name="organization_id"
                        persistable="true"
                        required="false"
                        type="ObjectId">
                  </selectionDialog>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="rolenumber"
                        inputValidator="com.sg.business.organization.editor.RoleNumberInputValidator"
                        label="角色编号"
                        labelVisible="true"
                        name="rolenumber"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="角色名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="description"
                        label="说明"
                        labelVisible="true"
                        name="description"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="account"
            dbName="pm2"
            id="editor.organization.user"
            isDefault="true"
            labelFieldName="username"
            name="用户"
            titleToolTips="用户">
         <basicpage
               description="用户的基本信息"
               id="basicpage.1"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本信息">
                  <selectionDialog
                        dataSetFactory="com.sg.business.model.dataset.organization.OrgFinder"
                        editable="false"
                        id="organization_id"
                        label="所属组织"
                        labelVisible="true"
                        name="organization_id"
                        persistable="true"
                        required="false"
                        type="ObjectId">
                  </selectionDialog>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="userid"
                        label="用户编号"
                        labelVisible="true"
                        name="userid"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="username"
                        label="姓名"
                        labelVisible="true"
                        name="username"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="email"
                        label="EMail"
                        labelVisible="true"
                        name="email"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <checkbox
                        editable="true"
                        id="activated"
                        label="激活"
                        labelVisible="true"
                        name="activated"
                        persistable="true">
                  </checkbox>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="password"
                        isPassword="true"
                        label="密码"
                        labelVisible="true"
                        name="password"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
               <section
                     label="照片">
                  <file
                        editPart="ImageUploader(Multi)"
                        editable="true"
                        id="headpic"
                        label="头像"
                        labelVisible="false"
                        name="headpic"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <!--以下是自定义创建handler的例程
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:main?after=application.separator">
         <command
               commandId="command.organization.createroot"
               label="创建根组织"
               style="push"
               tooltip="创建根组织">
            <visibleWhen
                  checkEnabled="false">
				  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="perspective.organization">
                     </equals>
                  </with>
            </visibleWhen>
         </command>
         <command
               commandId="command.organization.createsubteam"
               label="创建组织"
               style="push"
               tooltip="创建组织">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="perspective.organization">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="command.organization.removeteam"
               label="删除组织"
               style="push"
               tooltip="删除组织">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="perspective.organization">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="organization.category"
            name="组织管理">
      </category>
      <command
            categoryId="organization.category"
            id="command.organization.createroot"
            name="创建根组织">
      </command>
      <command
            categoryId="organization.category"
            id="command.organization.removeteam"
            name="删除组织">
      </command>
      <command
            categoryId="organization.category"
            id="command.organization.createsubteam"
            name="创建选中组织的下级组织">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sg.business.organization.command.CreateRootOrganization"
            commandId="command.organization.createroot">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="organization.navigator">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.business.organization.command.CreateSubTeam"
            commandId="command.organization.createsubteam">
         <enabledWhen>
            <and>
               <with
                     variable="activePartId">
                  <equals
                        value="organization.navigator">
                  </equals>
               </with>
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.business.organization.command.RemoveTeam"
            commandId="command.organization.removeteam">
         <enabledWhen>
            <and>
               <with
                     variable="activePartId">
                  <equals
                        value="organization.navigator">
                  </equals>
               </with>
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </and>
         </enabledWhen>
      </handler>
   </extension>
-->

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:main?after=application.separator">
         <command
               commandId="command.organization.syncHR"
               icon="image/import_24.png"
               label="HR同步"
               style="push"
               tooltip="将HR的组织数据同步到系统">
                           <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="perspective.organization">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:organization.user">
         <command
               commandId="com.sg.widgets.command.create"
               icon="image/create2_24.png"
               id="create"
               label="创建"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.sg.widgets.command.edit"
               icon="image/edit_24.png"
               label="编辑"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.sg.widgets.command.refresh"
               icon="image/refresh_24.png"
               label="更新"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.sg.widgets.command.delete"
               icon="image/trash_24.png"
               label="删除"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="system.separator"
               visible="true">
         </separator>
         <command
               commandId="com.sg.widgets.command.addtocompare"
               icon="image/compare_24.png"
               label="加入对比"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="organization.consignUser"
               icon="image/consign_24.png"
               label="由其他用户托管"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="organization.category"
            name="组织管理">
      </category>
      <command
            categoryId="organization.category"
            id="command.organization.syncHR"
            name="将HR的组织数据同步到系统">
      </command>
      <command
            categoryId="organization.category"
            id="organization.consignUser"
            name="用户托管">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sg.business.organization.command.SyncHRHandler"
            commandId="command.organization.syncHR">
      </handler>
      <handler
            class="com.sg.business.organization.command.Consign"
            commandId="organization.consignUser">
      </handler>
   </extension>
</plugin>
