<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="message"
            name="消息">
      </category>
      <view
            category="message"
            class="com.sg.widgets.part.view.TableNavigator"
            id="message.recieved"
            name="收件箱"
            restorable="true">
      </view>
      <view
            category="message"
            class="com.sg.business.message.view.MessageView"
            id="message.send"
            name="发件箱"
            restorable="true">
      </view>
      <view
            category="message"
            class="com.sg.business.message.view.MessageView"
            id="message.waste"
            name="废件箱"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="message.recieved"
            table="message.recieved">
         <filterAction>
            <column
                  column="markread"
                  name="已读"
                  type="Boolean">
            </column>
            <column
                  column="importance"
                  name="重要度"
                  type="String">
            </column>
            <column
                  column="sender"
                  name="发件人"
                  type="String">
            </column>
            <column
                  column="desc"
                  name="标题"
                  type="String">
            </column>
            <column
                  column="senddate"
                  name="发送日期"
                  type="DateTime">
            </column>
         </filterAction>
         <searchAction>
            <column
                  column="markread"
                  name="已读"
                  type="Boolean">
            </column>
            <column
                  column="importance"
                  name="重要度"
                  type="String">
            </column>
            <column
                  column="sender"
                  name="发件人"
                  type="String">
            </column>
            <column
                  column="desc"
                  name="标题"
                  type="String"
                  >
            </column>
            <column
                  column="senddate"
                  name="发送日期"
                  type="DateTime">
            </column>
         </searchAction>
         <sortAction>
            <column
                  column="markread"
                  name="已读"
                  type="Boolean">
            </column>
            <column
                  column="importance"
                  name="重要度"
                  type="String">
            </column>
            <column
                  column="sender"
                  name="发件人"
                  type="String">
            </column>
            <column
                  column="desc"
                  name="标题"
                  type="String">
            </column>
            <column
                  column="senddate"
                  name="发送日期"
                  type="DateTime">
            </column>
         </sortAction>
      </navigator>
      <navigator
            id="message.send"
            tree="message.send">
         <createEditor
               editorId="message.editor.create">
         </createEditor>
         <filterAction>
            <column
                  column="markread"
                  name="已读"
                  type="Boolean">
            </column>
            <column
                  column="importance"
                  name="重要度"
                  type="String">
            </column>
            <column
                  column="sender"
                  name="发件人"
                  type="String">
            </column>
            <column
                  column="desc"
                  name="标题"
                  type="String">
            </column>
            <column
                  column="senddate"
                  name="发送日期"
                  type="DateTime">
            </column>
         </filterAction>
         <searchAction>
            <column
                  column="markread"
                  name="已读"
                  type="Boolean">
            </column>
            <column
                  column="importance"
                  name="重要度"
                  type="String">
            </column>
            <column
                  column="sender"
                  name="发件人"
                  type="String">
            </column>
            <column
                  column="desc"
                  name="标题"
                  type="String">
            </column>
            <column
                  column="senddate"
                  name="发送日期"
                  type="DateTime">
            </column>
         </searchAction>
         <sortAction>
            <column
                  column="markread"
                  name="已读"
                  type="Boolean">
            </column>
            <column
                  column="importance"
                  name="重要度"
                  type="String">
            </column>
            <column
                  column="sender"
                  name="发件人"
                  type="String">
            </column>
            <column
                  column="desc"
                  name="标题"
                  type="String">
            </column>
            <column
                  column="senddate"
                  name="发送日期"
                  type="DateTime">
            </column>
         </sortAction>
      </navigator>
      <navigator
            id="message.waste"
            tree="message.waste">
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.tree">
      <tree
            autoExpandLevel="-1"
            canCreate="false"
            canDelete="false"
            canEdit="false"
            canRead="false"
            customItemHeight="40"
            dataSet="com.sg.business.model.dataset.message.MyRecievedMessage"
            editorId="message.editor.create"
            headerVisiable="false"
            id="message.recieved"
            markupEnabled="true"
            popupMenu="popup:message.recieved">
         <column
               column="desc"
               labelProvider="com.sg.widgets.commons.labelprovider.HTMLLabelprovider"
               name="标题"
               type="String"
               width="-1">
         </column>
      </tree>
      <tree
            autoExpandLevel="-1"
            canCreate="false"
            canDelete="false"
            canEdit="false"
            canRead="false"
            customItemHeight="40"
            dataSet="com.sg.business.model.dataset.message.MySendMessage"
            editorId="message.editor.create"
            headerVisiable="false"
            id="message.send"
            markupEnabled="true">
         <structure
               modelRelation="message_message">
         </structure>
         <column
               column="desc"
               labelProvider="com.sg.widgets.commons.labelprovider.HTMLLabelprovider"
               name="标题"
               type="String"
               width="-1">
         </column>
      </tree>
      <tree
            autoExpandLevel="-1"
            canCreate="false"
            canDelete="true"
            canEdit="false"
            canRead="false"
            customItemHeight="40"
            dataSet="com.sg.business.model.dataset.message.MyWasteMessage"
            headerVisiable="false"
            id="message.waste"
            markupEnabled="true">
         <structure
               modelRelation="message_message">
         </structure>
         <column
               column="desc"
               labelProvider="com.sg.widgets.commons.labelprovider.HTMLLabelprovider"
               name="标题"
               type="String"
               width="-1">
         </column>
      </tree>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            customItemHeight="40"
            dataSet="com.sg.business.model.dataset.message.MyRecievedMessage"
            id="message.recieved"
            markupEnabled="true"
            popupMenu="popup:message.recieved">
         <column
               column="desc"
               labelProvider="com.sg.widgets.commons.labelprovider.HTMLLabelprovider"
               name="标题"
               type="String"
               width="-1">
         </column>
      </table>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="message"
            dbName="pm2"
            id="message.editor.create"
            name="消息"
            titleToolTips="消息">
         <basicpage
               description="消息"
               id="basicpage"
               image="image/message_add_24.png"
               title="消息">
            <pagecolumn>
               <section
                     label="收件人">
                  <list
                        addTableItemHandler="com.sg.business.message.editor.field.AddReciever"
                        editable="true"
                        heightHint="120"
                        id="reciever"
                        label="收件人"
                        labelVisible="false"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProviderInField"
                        name="reciever"
                        persistable="true"
                        required="true">
                  </list>
               </section>
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="标题"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="importance"
                        label="重要度"
                        labelVisible="true"
                        name="importance"
                        option="com.sg.crm.action.ip.option"
                        persistable="true"
                        required="false"
                        type="String">
                  </combo>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="160"
                        id="content"
                        label="内容"
                        labelVisible="false"
                        name="content"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
               <section
                     label="附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        heightHint="240"
                        id="attachment"
                        label="附件"
                        labelVisible="false"
                        name="attachment"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="basicpage2"
               image="image/message_24.png"
               title="附件">
            <pagecolumn>
               <section
                     label="附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        heightHint="240"
                        id="attachment"
                        label="附件"
                        labelVisible="false"
                        name="attachment"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="message"
            dbName="pm2"
            id="message.editor.reply"
            name="回复消息"
            titleToolTips="回复消息">
         <basicpage
               description="回复消息"
               id="basicpage"
               image="image/message_reply_24.png"
               title="消息">
            <pagecolumn>
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="标题"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <fieldgroup
                        columnCount="2">
                     <text
                           editPart="Text(Single Line)"
                           editable="false"
                           id="reciever"
                           label="收件人"
                           labelVisible="true"
                           name="reciever"
                           persistable="true"
                           presentation="com.sg.business.commons.field.UserIdListFieldPres"
                           required="true"
                           type="String">
                     </text>
                     <combo
                           editPart="Combo(Read Only)"
                           editable="true"
                           id="importance"
                           label="重要度"
                           labelVisible="true"
                           name="importance"
                           option="com.sg.crm.action.ip.option"
                           persistable="true"
                           required="false"
                           type="String">
                     </combo>
                  </fieldgroup>
               </section>
               <section
                     label="内容">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="160"
                        id="content"
                        label="内容"
                        labelVisible="false"
                        name="content"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="basicpage2"
               image="image/message_24.png"
               title="附件">
            <pagecolumn>
               <section
                     label="附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        heightHint="240"
                        id="attachment"
                        label="附件"
                        labelVisible="false"
                        name="attachment"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="message"
            dbName="pm2"
            id="message.editor.view"
            name="查看消息"
            titleToolTips="查看消息">
         <basicpage
               description="消息"
               id="basicpage"
               image="image/message_24.png"
               title="消息">
            <pagecolumn>
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="desc"
                        label="标题"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String"
                        userlabelForReadonly="true">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="importance"
                        label="重要度"
                        labelVisible="true"
                        name="importance"
                        persistable="true"
                        required="false"
                        type="String"
                        userlabelForReadonly="true">
                  </text>
                  <fieldgroup
                        columnCount="2">
                     <text
                           editPart="Text(Single Line)"
                           editable="false"
                           id="sender"
                           label="发件人"
                           labelVisible="true"
                           name="sender"
                           persistable="true"
                           presentation="com.sg.business.commons.field.UserIdFieldPres"
                           required="true"
                           type="String"
                           userlabelForReadonly="true">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="false"
                           id="reciever"
                           label="收件人"
                           labelVisible="true"
                           name="reciever"
                           persistable="true"
                           presentation="com.sg.business.commons.field.UserIdListFieldPres"
                           required="true"
                           type="String"
                           userlabelForReadonly="true">
                     </text>
                  </fieldgroup>
                  <fieldgroup
                        columnCount="2">
                     <text
                           editPart="Text(Single Line)"
                           editable="false"
                           id="senddate"
                           label="发送日期"
                           labelVisible="true"
                           name="senddate"
                           persistable="true"
                           presentation="com.sg.widgets.commons.valuepresentation.DateTimeTextPresentation"
                           presentationFormat="yyyy-MM-dd E HH:mm:ss"
                           required="false"
                           type="Date"
                           userlabelForReadonly="true">
                     </text>
                     <text
                           editPart="Text(Single Line)"
                           editable="false"
                           id="recievedate"
                           label="收件日期"
                           labelVisible="true"
                           name="recievedate"
                           persistable="true"
                           presentation="com.sg.widgets.commons.valuepresentation.DateTimeTextPresentation"
                           presentationFormat="yyyy-MM-dd E HH:mm:ss"
                           required="false"
                           type="Date"
                           userlabelForReadonly="true">
                     </text>
                  </fieldgroup>
               </section>
               <section
                     label="内容">
                  <text
                        editPart="Text(Multi Line)"
                        editable="false"
                        heightHint="160"
                        id="content"
                        isHTML="true"
                        label="内容"
                        labelVisible="false"
                        name="content"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="附件"
               id="basicpage2"
               image="image/message_24.png"
               title="附件">
            <pagecolumn>
               <section
                     label="附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="false"
                        heightHint="240"
                        id="attachment"
                        label="附件"
                        labelVisible="false"
                        name="attachment"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="导航"
               id="basicpage3"
               image="image/message_24.png"
               pageDelegator="com.sg.business.message.editor.page.TargetListPage"
               title="导航">
         </basicpage>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:message.recieved">
         <command
               commandId="message.reply"
               icon="image/message_reply_24.png"
               label="回复消息"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="message.open"
               icon="image/message_open_24.png"
               label="查看消息"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="message.separator1"
               visible="true">
         </separator>
         <command
               commandId="message.markread"
               icon="image/markread_24.png"
               label="标记已读"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="message.unmarkread"
               icon="image/unmarkread_24.png"
               label="标记未读"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="message.markstar"
               icon="image/markstar_24.png"
               label="加上星标"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="message.unmarkstar"
               icon="image/unmarkstar_24.png"
               label="取消星标"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="message.separator2"
               visible="true">
         </separator>
         <command
               commandId="com.sg.widgets.command.refresh"
               icon="image/refresh_24.png"
               label="更新"
               style="push">
         </command>
         <command
               commandId="com.sg.widgets.command.delete"
               icon="image/trash_24.png"
               label="删除"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="message.remove"
               label="移除至废件箱"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:organization.user?after=organization.consignUser">
         <command
               commandId="message.sendtoselecteduser"
               icon="image/message_add_24.png"
               label="发送消息"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:message.send?after=additions">
         <command
               commandId="message.add"
               icon="image/message_add_24.png"
               label="新消息"
               style="push">
         </command>
         <command
               commandId="message.open"
               icon="image/message_open_24.png"
               label="查看消息"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="message.add"
            name="新消息">
      </command>
      <command
            id="message.reply"
            name="回复消息">
      </command>
      <command
            id="message.open"
            name="查看消息">
      </command>
      <command
            id="message.markread"
            name="标记已读">
      </command>
      <command
            id="message.unmarkread"
            name="标记未读">
      </command>
      <command
            id="message.markstar"
            name="加上星标">
      </command>
      <command
            id="message.unmarkstar"
            name="取消星标">
      </command>
      <command
            id="message.sendtoselecteduser"
            name="发送消息">
      </command>
      <command
            id="message.remove"
            name="移除至废件箱">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sg.bussiness.message.handler.AddMessage"
            commandId="message.add">
      </handler>
      <handler
            commandId="message.reply"
            class="com.sg.bussiness.message.handler.ReplyMessage">
      </handler>
      <handler
            commandId="message.open"
            class="com.sg.bussiness.message.handler.OpenMessage">
      </handler>
      <handler
            commandId="message.markread"
            class="com.sg.bussiness.message.handler.MarkRead">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <test
                        args="markRead"
                        property="message.action">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
            
      </handler>
      <handler
            class="com.sg.bussiness.message.handler.UnmarkRead"
            commandId="message.unmarkread">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <test
                        args="unmarkread"
                        property="message.action">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.bussiness.message.handler.MarkStar"
            commandId="message.markstar">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <test
                        args="markstar"
                        property="message.action">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.bussiness.message.handler.UnmarkStar"
            commandId="message.unmarkstar">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <test
                        args="unmarkstar"
                        property="message.action">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.bussiness.message.handler.SendToSelectedUser"
            commandId="message.sendtoselecteduser">
      </handler>
      <handler
            class="com.sg.bussiness.message.handler.RemoveToWaste"
            commandId="message.remove">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.sg.business.message.test.MessageActionTest"
            id="message.action.test"
            namespace="message"
            properties="action"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
