<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="message"
            name="消息">
      </category>
      <view
            category="message"
            class="com.sg.widgets.part.view.AccountSensitiveTreeView"
            id="message.recieved"
            name="收件箱"
            restorable="true">
      </view>
      <view
            category="message"
            class="com.sg.widgets.part.view.AccountSensitiveTreeView"
            id="message.send"
            name="发件箱"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="message.recieved"
            tree="message.recieved">
         <filterAction>
            <column
                  column="markread"
                  labelProvider="com.sg.bussiness.message.labelprovider.ReadMark"
                  name="已读"
                  type="Boolean">
            </column>
            <column
                  column="importance"
                  name="重要度"
                  type="String">
            </column>
            <column
                  column="sender"
                  labelProvider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                  name="发件人"
                  type="String">
            </column>
            <column
                  column="desc"
                  name="标题"
                  type="String"
                  width="260">
            </column>
            <column
                  column="senddate"
                  name="发送日期"
                  type="DateTime">
            </column>
         </filterAction>
         <searchAction>
            <column
                  column="markread"
                  labelProvider="com.sg.bussiness.message.labelprovider.ReadMark"
                  name="已读"
                  type="Boolean">
            </column>
            <column
                  column="importance"
                  name="重要度"
                  type="String">
            </column>
            <column
                  column="sender"
                  labelProvider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                  name="发件人"
                  type="String">
            </column>
            <column
                  column="desc"
                  name="标题"
                  type="String"
                  width="260">
            </column>
            <column
                  column="senddate"
                  name="发送日期"
                  type="DateTime">
            </column>
         </searchAction>
         <sortAction>
            <column
                  column="markread"
                  labelProvider="com.sg.bussiness.message.labelprovider.ReadMark"
                  name="已读"
                  type="Boolean">
            </column>
            <column
                  column="importance"
                  name="重要度"
                  type="String">
            </column>
            <column
                  column="sender"
                  labelProvider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                  name="发件人"
                  type="String">
            </column>
            <column
                  column="desc"
                  name="标题"
                  type="String"
                  width="260">
            </column>
            <column
                  column="senddate"
                  name="发送日期"
                  type="DateTime">
            </column>
         </sortAction>
      </navigator>
      <navigator
            id="message.send"
            tree="message.send">
         <createEditor
               editorId="message.editor.create">
         </createEditor>
         <filterAction>
            <column
                  column="markread"
                  labelProvider="com.sg.bussiness.message.labelprovider.ReadMark"
                  name="已读"
                  type="Boolean">
            </column>
            <column
                  column="importance"
                  name="重要度"
                  type="String">
            </column>
            <column
                  column="sender"
                  labelProvider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                  name="发件人"
                  type="String">
            </column>
            <column
                  column="desc"
                  name="标题"
                  type="String"
                  width="260">
            </column>
            <column
                  column="senddate"
                  name="发送日期"
                  type="DateTime">
            </column>
         </filterAction>
         <searchAction>
            <column
                  column="markread"
                  labelProvider="com.sg.bussiness.message.labelprovider.ReadMark"
                  name="已读"
                  type="Boolean">
            </column>
            <column
                  column="importance"
                  name="重要度"
                  type="String">
            </column>
            <column
                  column="sender"
                  labelProvider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                  name="发件人"
                  type="String">
            </column>
            <column
                  column="desc"
                  name="标题"
                  type="String"
                  width="260">
            </column>
            <column
                  column="senddate"
                  name="发送日期"
                  type="DateTime">
            </column>
         </searchAction>
         <sortAction>
            <column
                  column="markread"
                  labelProvider="com.sg.bussiness.message.labelprovider.ReadMark"
                  name="已读"
                  type="Boolean">
            </column>
            <column
                  column="importance"
                  name="重要度"
                  type="String">
            </column>
            <column
                  column="sender"
                  labelProvider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                  name="发件人"
                  type="String">
            </column>
            <column
                  column="desc"
                  name="标题"
                  type="String"
                  width="260">
            </column>
            <column
                  column="senddate"
                  name="发送日期"
                  type="DateTime">
            </column>
         </sortAction>
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.tree">
      <tree
            autoExpandLevel="-1"
            customItemHeight="40"
            dataSet="com.sg.business.model.dataset.message.MyRecievedMessage"
            editorId="message.editor.create"
            headerVisiable="false"
            id="message.recieved"
            markupEnabled="true"
            popupMenu="popup:message.recieved">
         <column
               column="desc"
               labelProvider="com.sg.widgets.commons.labelprovider.HTMLLabelprovider"
               name="标题"
               type="String"
               width="-1">
         </column>
         <structure
               modelRelation="message_message">
         </structure>
      </tree>
      <tree
            autoExpandLevel="-1"
            canDelete="false"
            canEdit="false"
            customItemHeight="40"
            dataSet="com.sg.business.model.dataset.message.MySendMessage"
            editorId="message.editor.create"
            headerVisiable="false"
            id="message.send"
            markupEnabled="true">
         <structure
               modelRelation="message_message">
         </structure>
         <column
               column="desc"
               labelProvider="com.sg.widgets.commons.labelprovider.HTMLLabelprovider"
               name="标题"
               type="String"
               width="-1">
         </column>
      </tree>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="message"
            dbName="pm2"
            id="message.editor.create"
            name="消息"
            titleToolTips="新消息">
         <basicpage
               description="消息"
               id="basicpage"
               title="消息">
            <pagecolumn>
               <section
                     label="基本信息">
                  <navigatorSelector
                        editable="true"
                        id="reciever"
                        label="收件人"
                        labelVisible="true"
                        modelClass="com.sg.business.model.User"
                        name="reciever"
                        navigatorId="organization.user"
                        navigatorReturnField="userid"
                        persistable="true"
                        required="true">
                  </navigatorSelector>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="标题"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        defaultValueProvider="com.sg.business.commons.value.CurrentUser"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="sender"
                        label="发件人"
                        labelVisible="true"
                        name="sender"
                        persistable="true"
                        presentation="com.sg.business.commons.field.UserIdFieldPres"
                        required="false"
                        type="String">
                  </text>
                  <text
                        defaultValueProvider="com.sg.business.commons.value.TodayDefault"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="senddate"
                        label="发件日期"
                        labelVisible="true"
                        name="senddate"
                        persistable="true"
                        presentation="com.sg.widgets.commons.valuepresentation.DateTimeTextPresentation"
                        required="false"
                        type="Date">
                  </text>
                  <radio
                        defaultValue="一般"
                        editable="true"
                        id="importance"
                        label="重要度"
                        labelVisible="false"
                        name="importance"
                        option="com.sg.crm.action.ip.option"
                        persistable="true"
                        required="false"
                        type="String"
                        wrapRadio="false">
                  </radio>
               </section>
               <section
                     label="内容">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="160"
                        id="content"
                        label="内容"
                        labelVisible="false"
                        name="content"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
            <pagecolumn>
               <section
                     label="附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        heightHint="240"
                        id="attachment"
                        label="附件"
                        labelVisible="false"
                        name="attachment"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="message"
            dbName="pm2"
            id="message.editor.reply"
            name="回复"
            titleToolTips="回复消息">
         <basicpage
               description="消息"
               id="basicpage"
               title="消息">
            <pagecolumn>
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="标题"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="reciever"
                        label="收件人"
                        labelVisible="true"
                        name="reciever"
                        persistable="true"
                        presentation="com.sg.business.commons.field.UserIdFieldPres"
                        required="true"
                        type="String">
                  </text>
                  <text
                        defaultValueProvider="com.sg.business.commons.value.CurrentUser"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="sender"
                        label="发件人"
                        labelVisible="true"
                        name="sender"
                        persistable="true"
                        presentation="com.sg.business.commons.field.UserIdFieldPres"
                        required="false"
                        type="String">
                  </text>
                  <text
                        defaultValueProvider="com.sg.business.commons.value.TodayDefault"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="senddate"
                        label="发件日期"
                        labelVisible="true"
                        name="senddate"
                        persistable="true"
                        presentation="com.sg.widgets.commons.valuepresentation.DateTimeTextPresentation"
                        required="false"
                        type="Date">
                  </text>
                  <radio
                        defaultValue="一般"
                        editable="true"
                        id="importance"
                        label="重要度"
                        labelVisible="false"
                        name="importance"
                        option="com.sg.crm.action.ip.option"
                        persistable="true"
                        required="false"
                        type="String"
                        wrapRadio="false">
                  </radio>
               </section>
               <section
                     label="内容">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="160"
                        id="content"
                        label="内容"
                        labelVisible="false"
                        name="content"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
            <pagecolumn>
               <section
                     label="附件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        heightHint="240"
                        id="attachment"
                        label="附件"
                        labelVisible="false"
                        name="attachment"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:message.recieved">
         <command
               commandId="message.reply"
               icon="image/message_reply_24.png"
               label="回复"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="message.open"
               icon="image/message_open_24.png"
               label="打开"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="message.markread"
               icon="image/24_blank.png"
               label="标记已读"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="message.reply"
            name="回复">
      </command>
      <command
            id="message.open"
            name="打开">
      </command>
      <command
            id="message.markread"
            name="标记已读">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="message.reply"
            class="com.sg.bussiness.message.handler.Reply">
      </handler>
      <handler
            commandId="message.open"
            class="com.sg.bussiness.message.handler.OpenMessage">
      </handler>
      <handler
            commandId="message.markread"
            class="com.sg.bussiness.message.handler.MarkRead">
            
      </handler>
   </extension>

</plugin>
