<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kh.khDocumentApprove.audit"
            name="审核"
            persistentFields="comment,choice,accessory"
            processDefinitionId="kh.khDocumentApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kh.khDocumentApprove.approval"
            name="批准"
            persistentFields="comment,choice,accessory"
            processDefinitionId="kh.khDocumentApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="kh.khDocumentApprove1"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kh.khDocumentApprove.audit"
            name="校核"
            persistentFields="comment,choice,accessory"
            processDefinitionId="kh.khDocumentApprove2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kh.khDocumentApprove.approval"
            name="批准"
            persistentFields="comment,choice,accessory"
            processDefinitionId="kh.khDocumentApprove2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="kh.khDocumentApprove2"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kh.khDocumentApprove.audit"
            name="审核"
            persistentFields="comment,choice,accessory"
            processDefinitionId="kh.khDocumentApprove3">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kh.khDocumentApprove.check"
            name="校核"
            persistentFields="comment,choice,accessory"
            processDefinitionId="kh.khDocumentApprove3">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kh.khDocumentApprove.approval"
            name="批准"
            persistentFields="comment,choice,accessory"
            processDefinitionId="kh.khDocumentApprove3">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="kh.khDocumentApprove3"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kh.khDocumentApprove.check"
            name="校核"
            persistentFields="comment,choice,accessory"
            processDefinitionId="kh.khDrawingApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kh.khDocumentApprove.audit"
            name="审核"
            persistentFields="comment,choice,accessory"
            processDefinitionId="kh.khDrawingApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kh.khDocumentApprove.craft"
            name="工艺"
            persistentFields="comment,choice,accessory"
            processDefinitionId="kh.khDrawingApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kh.khDocumentApprove.audit"
            name="标准化"
            persistentFields="comment,choice,accessory"
            processDefinitionId="kh.khDrawingApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kh.khDocumentApprove.standardize"
            name="批准"
            persistentFields=",accessorycomment,choice"
            processDefinitionId="kh.khDrawingApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            name="编制"
            processDefinitionId="kh.khDrawingApprove"
            validation="com.sg.business.taskforms.validation.DocumentMondartory">
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kh.khDocumentApprove.audit"
            name="%editor.name">
         <basicpage
               id="page1"
               title="%basicpage.title">
            <pagecolumn>
               <section
                     label="%section.label">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="%text.label"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="%radio.label"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="true"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="%basicpage.title.0">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.1">
            <pagecolumn>
               <section
                     label="%section.label.0">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kh.khDocumentApprove.approval"
            name="%editor.name.0">
         <basicpage
               id="page1"
               title="%basicpage.title.2">
            <pagecolumn>
               <section
                     label="%section.label.1">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="%text.label.0"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="%radio.label.0"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="true"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="%basicpage.title.3">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.4">
            <pagecolumn>
               <section
                     label="%section.label.2">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label.0"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kh.khDocumentApprove.check"
            name="%editor.name.1">
         <basicpage
               id="page1"
               title="%basicpage.title.5">
            <pagecolumn>
               <section
                     label="%section.label.3">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="%text.label.1"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="%radio.label.1"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="true"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="%basicpage.title.6">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.7">
            <pagecolumn>
               <section
                     label="%section.label.4">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label.1"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kh.khDocumentApprove.craft"
            name="%editor.name.2">
         <basicpage
               id="page1"
               title="%basicpage.title.8">
            <pagecolumn>
               <section
                     label="%section.label.5">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="%text.label.2"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="%radio.label.2"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="true"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="%basicpage.title.9">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.10">
            <pagecolumn>
               <section
                     label="%section.label.6">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label.2"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kh.khDocumentApprove.standardize"
            name="%editor.name.3">
         <basicpage
               id="page1"
               title="%basicpage.title.11">
            <pagecolumn>
               <section
                     label="%section.label.7">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="%text.label.3"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        inputValidator="com.sg.business.taskforms.field.CheckByDenied"
                        label="%radio.label.3"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="true"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="%basicpage.title.12">
         </basicpage>
         <basicpage
               id="page3"
               title="%basicpage.title.13">
            <pagecolumn>
               <section
                     label="%section.label.8">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="accessory"
                        label="%file.label.3"
                        labelVisible="false"
                        name="accessory"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.service.serviceTask">
      <service
            interface="khmessage.service.action"
            name="文档审批消息1"
            operation="documentapprove1"
            serviceProvider="com.tmt.kh.bpmservice.ApproveMessageOfKH">
      </service>
      <service
            interface="khmessage.service.action"
            name="文档审批消息2"
            operation="documentapprove2"
            serviceProvider="com.tmt.kh.bpmservice.ApproveMessageOfKH">
      </service>
      <service
            interface="khmessage.service.action"
            name="文档审批消息3"
            operation="documentapprove3"
            serviceProvider="com.tmt.kh.bpmservice.ApproveMessageOfKH">
      </service>
      <service
            interface="khmessage.service.action"
            name="图纸审批消息"
            operation="documentApprove"
            serviceProvider="com.tmt.kh.bpmservice.ApproveMessageOfKH">
      </service>
   </extension>

</plugin>
