<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kh.khDocumentApprove.audit"
            name="审核"
            persistentFields="comment,choice"
            processDefinitionId="kh.khDocumentApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kh.khDocumentApprove.audit"
            name="批准"
            persistentFields="comment,choice"
            processDefinitionId="kh.khDocumentApprove1">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kh.khDocumentApprove.audit"
            name="校核"
            persistentFields="comment,choice"
            processDefinitionId="kh.khDocumentApprove2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kh.khDocumentApprove.approval"
            name="批准"
            persistentFields="comment,choice"
            processDefinitionId="kh.khDocumentApprove2">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kh.khDocumentApprove.audit"
            name="审核"
            persistentFields="comment,choice"
            processDefinitionId="kh.khDocumentApprove3">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kh.khDocumentApprove.audit"
            name="校核"
            persistentFields="comment,choice"
            processDefinitionId="kh.khDocumentApprove3">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kh.khDocumentApprove.approval"
            name="批准"
            persistentFields="comment,choice"
            processDefinitionId="kh.khDocumentApprove3">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.bpm.workflow.taskForm">
      <taskForm
            editorId="kh.khDocumentApprove.audit"
            name="校核"
            persistentFields="comment,choice"
            processDefinitionId="kh.khDrawingApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kh.khDocumentApprove.audit"
            name="审核"
            persistentFields="comment,choice"
            processDefinitionId="kh.khDrawingApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kh.khDocumentApprove.audit"
            name="工艺"
            persistentFields="comment,choice"
            processDefinitionId="kh.khDrawingApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kh.khDocumentApprove.audit"
            name="标准化"
            persistentFields="comment,choice"
            processDefinitionId="kh.khDrawingApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="kh.khDocumentApprove.approval"
            name="批准"
            persistentFields="comment,choice"
            processDefinitionId="kh.khDrawingApprove">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kh.khDocumentApprove.audit"
            name="审核">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="taskform"
            dbName="pm2"
            id="kh.khDocumentApprove.approval"
            name="批准">
         <basicpage
               id="page1"
               title="审核">
            <pagecolumn>
               <section
                     label="请填写意见和结论">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="320">
                  </text>
                  <radio
                        editable="true"
                        id="choice"
                        label="结论"
                        labelVisible="false"
                        name="choice"
                        option="是否通过"
                        persistable="true"
                        required="false"
                        type="String">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="page2"
               pageDelegator="com.sg.business.commons.editor.page.WorkFlowRecord"
               title="流程记录">
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.service.serviceTask">
      <service
            interface="khmessage.service.action"
            name="文档审批消息1"
            operation="documentapprove1"
            serviceProvider="com.tmt.kh.bpmservice.ApproveMessageOfKH">
      </service>
      <service
            interface="khmessage.service.action"
            name="文档审批消息2"
            operation="documentapprove2"
            serviceProvider="com.tmt.kh.bpmservice.ApproveMessageOfKH">
      </service>
      <service
            interface="khmessage.service.action"
            name="文档审批消息3"
            operation="documentapprove3"
            serviceProvider="com.tmt.kh.bpmservice.ApproveMessageOfKH">
      </service>
   </extension>

</plugin>
