<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="workevent" name="WorkEvent" schema="schema/workevent.exsd"/>
   <extension-point id="fileserver" name="FileServer" schema="schema/fileserver.exsd"/>
   <extension
         point="com.mobnut.db.documentModelAdapter">
      <doc
            class="com.sg.business.model.Organization"
            collection="organization"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.User"
            collection="account"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.Role"
            collection="role"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.RoleAssignment"
            collection="roleassignment"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.Folder"
            collection="folder"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.Document"
            collection="document"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.ProjectTemplate"
            collection="projecttemplate"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.WorkDefinition"
            collection="workd"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.BudgetItem"
            collection="budget"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.RoleDefinition"
            collection="roled"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.ParticipateDefinition"
            collection="participated"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.DeliverableDefinition"
            collection="deliverabled"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.DocumentDefinition"
            collection="documentd"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.WorkDefinitionConnection"
            collection="workdconnection"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.Project"
            collection="project"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.ProjectRole"
            collection="projectrole"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.Deliverable"
            collection="deliverable"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.Work"
            collection="work"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.WorkConnection"
            collection="workconnection"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.ProjectBudget"
            collection="projectbudget"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.ProjectRoleAssignment"
            collection="projectroleassignment"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.CalendarSetting"
            collection="calendarsetting"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.Message"
            collection="message"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.BulletinBoard"
            collection="bulletinboard"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.TaskForm"
            collection="taskform"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.WorkRecord"
            collection="record"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.WorksPerformence"
            collection="worksperformence"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.WorksAllocate"
            collection="worksallocate"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.CostAccount"
            collection="costaccount"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.RNDPeriodCost"
            collection="rndcost"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.WorkOrderPeriodCost"
            collection="workordercost"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.CompanyWorkOrder"
            collection="companyworkorders"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.UserTask"
            collection="usertask"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.OrganizationProjectProvider"
            collection="projectprovider"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.ProjectTypeProvider"
            collection="projecttype"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.ProductTypeProvider"
            collection="producttype"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.ProductItem"
            collection="productitem"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.UserProjectPerf"
            collection="userprojectperf"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.ProjectManagerProvider"
            collection="projectmanager"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.SalesData"
            collection="salesdata"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.RNDPeriodCostAllocated"
            collection="rndcostallocation"
            db="pm2">
      </doc>
   </extension>
   <extension
         point="com.mobnut.db.modelRelation">
      <relation
            end1Class="com.sg.business.model.Organization"
            end1Key="_id"
            end2Class="com.sg.business.model.Organization"
            end2Key="parent_id"
            id="organization_organization"
            name="组织下的组织">
      </relation>
      <relation
            end1Class="com.sg.business.model.Organization"
            end1Key="_id"
            end2Class="com.sg.business.model.User"
            end2Condition="com.sg.business.model.condition.OrgofUserCondition"
            end2Key="organization_id"
            id="organization_user"
            name="组织下的用户">
      </relation>
      <relation
            end1Class="com.sg.business.model.Organization"
            end1Key="_id"
            end2Class="com.sg.business.model.Role"
            end2Key="organization_id"
            id="organization_role"
            name="组织下的角色">
      </relation>
      <relation
            end1Class="com.sg.business.model.Role"
            end1Key="_id"
            end2Class="com.sg.business.model.RoleAssignment"
            end2Key="role_id"
            id="role_roleassignment"
            name="角色的用户指派">
      </relation>
      <relation
            end1Class="com.sg.business.model.User"
            end1Key="_id"
            end2Class="com.sg.business.model.RoleAssignment"
            end2Key="user_id"
            id="user_roleassignment"
            name="用户的角色指派">
      </relation>
      <relation
            end1Class="com.sg.business.model.Organization"
            end1Key="_id"
            end2Class="com.sg.business.model.ProjectTemplate"
            end2Key="organization_id"
            id="organization_projecttemplates"
            name="组织下的项目模版">
      </relation>
      <relation
            end1Class="com.sg.business.model.Organization"
            end1Key="_id"
            end2Class="com.sg.business.model.WorkDefinition"
            end2Condition="com.sg.business.model.condition.StandloneWork"
            end2Key="organization_id"
            id="organization_standlonework"
            name="组织下的独立工作">
      </relation>
      <relation
            end1Class="com.sg.business.model.Organization"
            end1Key="_id"
            end2Class="com.sg.business.model.WorkDefinition"
            end2Condition="com.sg.business.model.condition.InternalByStandloneWork"
            end2Key="organization_id"
            id="organization_internalbystandlonework"
            name="组织下的内部使用独立工作">
      </relation>
      <relation
            end1Class="com.sg.business.model.Organization"
            end1Key="_id"
            end2Class="com.sg.business.model.Organization"
            end2Condition="com.sg.business.model.condition.FunctionDeptByOrg"
            end2Key="parent_id"
            id="organization_functionorganization"
            name="组织下的项目管理部门">
      </relation>
      <relation
            end1Class="com.sg.business.model.Organization"
            end1Key="_id"
            end2Class="com.sg.business.model.User"
            end2Condition="com.sg.business.model.condition.OrgOfProjectManagerCondition"
            end2Key="organization_id"
            id="organization_projectmanager"
            name="组织下的项目负责人">
      </relation>
   </extension>
   <extension
         point="com.mobnut.db.modelRelation">
      <relation
            end1Class="com.sg.business.model.Container"
            end1Key="_id"
            end2Class="com.sg.business.model.Folder"
            end2Condition="com.sg.business.model.condition.ContainerFolder"
            end2Key="root_id"
            id="organization_folder"
            name="组织容器下的目录">
      </relation>
      <relation
            end1Class="com.sg.business.model.Container"
            end1Key="_id"
            end2Class="com.sg.business.model.Folder"
            end2Condition="com.sg.business.model.condition.ContainerOpenedFolder"
            end2Key="root_id"
            id="organization_openedfolder"
            name="组织容器下的开放目录">
      </relation>
      <relation
            end1Class="com.sg.business.model.Folder"
            end1Key="_id"
            end2Class="com.sg.business.model.Folder"
            end2Key="parent_id"
            id="folder_folder"
            name="目录下的目录"
            sort="com.sg.business.model.bson.DescSorter">
      </relation>
      <relation
            end1Class="com.sg.business.model.Folder"
            end1Key="_id"
            end2Class="com.sg.business.model.Document"
            end2Key="folder_id"
            id="folder_document"
            name="目录下的文档">
      </relation>
   </extension>
   <extension
         point="com.mobnut.db.modelRelation">
      <relation
            end1Class="com.sg.business.model.WorkDefinition"
            end1Key="_id"
            end2Class="com.sg.business.model.WorkDefinition"
            end2Key="parent_id"
            id="workd_workd"
            name="WBS模板分解结构"
            sort="com.sg.business.model.bson.SEQSorter">
      </relation>
      <relation
            end1Class="com.sg.business.model.ProjectTemplate"
            end1Key="workd_id"
            end2Class="com.sg.business.model.WorkDefinition"
            end2Key="_id"
            id="projecttemplate_workd"
            name="项目模板的顶层工作定义">
      </relation>
      <relation
            end1Class="com.sg.business.model.WorkDefinition"
            end1Key="_id"
            end2Class="com.sg.business.model.DeliverableDefinition"
            end2Key="workd_id"
            id="workd_deliverable"
            name="工作定义的交付物定义">
      </relation>
      <relation
            end1Class="com.sg.business.model.DeliverableDefinition"
            end1Key="documentd_id"
            end2Class="com.sg.business.model.DocumentDefinition"
            end2Key="_id"
            id="deliverabled_documentd"
            name="交付物定义的文档定义">
      </relation>
   </extension>
   <extension
         point="com.mobnut.db.modelRelation">
      <relation
            end1Class="com.sg.business.model.ProjectRole"
            end1Key="_id"
            end2Class="com.sg.business.model.ProjectRoleAssignment"
            end2Key="role_id"
            id="ProjectRole_Assignment"
            name="项目角色的指派">
      </relation>
      <relation
            end1Class="com.sg.business.model.Work"
            end1Key="_id"
            end2Class="com.sg.business.model.Work"
            end2Key="parent_id"
            id="work_work"
            name="WBS分解结构"
            sort="com.sg.business.model.bson.SEQSorter">
      </relation>
      <relation
            end1Class="com.sg.business.model.ProjectRole"
            end1Key="role_id"
            end2Class="com.sg.business.model.RoleAssignment"
            end2Key="role_id"
            id="ProjectRole_RoleAssignment"
            name="项目的组织角色指派">
      </relation>
      <relation
            end1Class="com.sg.business.model.Project"
            end1Key="_id"
            end2Class="com.sg.business.model.CalendarSetting"
            end2Key="project_id"
            id="project_calendar"
            name="项目日历"
            sort="com.sg.business.model.bson.SEQSorter">
      </relation>
      <relation
            end1Class="com.sg.business.model.Work"
            end1Key="_id"
            end2Class="com.sg.business.model.Deliverable"
            end2Key="work_id"
            id="work_deliverable"
            name="工作的交付物">
      </relation>
      <relation
            end1Class="com.sg.business.model.Folder"
            end1Key="_id"
            end2Class="com.sg.business.model.Document"
            end2Key="folder_id"
            id="folder_document"
            name="文件夹下的文件"
            sort="com.sg.business.model.bson.DescSorter">
      </relation>
      <relation
            end1Class="com.sg.business.model.Folder"
            end1Key="_id"
            end2Class="com.sg.business.model.Folder"
            end2Key="parent_id"
            id="folder_folder"
            name="文件夹下的子文件夹"
            sort="com.sg.business.model.bson.DescSorter">
      </relation>
      <relation
            end1Class="com.sg.business.model.Folder"
            end1Key="_id"
            end2Class="com.sg.business.model.Document"
            end2Condition="com.sg.business.model.condition.ReleasedDoc"
            end2Key="folder_id"
            id="folder_document_released"
            name="文件夹下已发布的文件"
            sort="com.sg.business.model.bson.DescSorter">
      </relation>
      <relation
            end1Class="com.sg.business.model.Project"
            end1Key="launchorg_id"
            end2Class="com.sg.business.model.Organization"
            end2Condition="com.sg.business.model.condition.LaunchOrgOfProject"
            end2Key="_id"
            id="project_org_launch"
            name="项目的发起组织">
      </relation>
   </extension>
   <extension
         point="com.mobnut.db.modelRelation">
      <relation
            end1Class="com.sg.business.model.Message"
            end1Key="_id"
            end2Class="com.sg.business.model.Message"
            end2Key="parent_id"
            id="message_message"
            name="消息与回复"
            sort="com.sg.business.model.bson.SendDateSorter">
      </relation>
   </extension>
   <extension
         point="com.mobnut.db.modelRelation">
      <relation
            end1Class="com.sg.business.model.BulletinBoard"
            end1Key="_id"
            end2Class="com.sg.business.model.BulletinBoard"
            end2Key="parent_id"
            id="bulletinboard_bulletinboard"
            name="公告板与回复"
            sort="com.sg.business.model.bson.BulletinBoardDateSorter">
      </relation>
   </extension>
   <extension
         point="com.mobnut.db.modelRelation">
      <relation
            end1Class="com.sg.business.model.User"
            end1Key="userid"
            end2Class="com.sg.business.model.WorksPerformence"
            end2Key="userid"
            id="user_worksperformence"
            name="用户的工时记录"
            sort="com.sg.business.model.bson.WorksPerformenceSorter">
      </relation>
      <relation
            end1Class="com.sg.business.model.Work"
            end1Key="_id"
            end2Class="com.sg.business.model.Work"
            end2Condition="com.sg.business.model.bson.WipWorkCondition"
            end2Key="parent_id"
            id="work_workwip"
            name="WBS分解结构 进行中"
            sort="com.sg.business.model.bson.SEQSorter">
      </relation>
   </extension>
   <extension
         point="com.sg.bpm.service.serviceTask">
      <service
            interface="defaultmessage.service.action"
            name="默认消息服务"
            operation="message"
            serviceProvider="com.sg.business.model.bpmservice.MessageService">
      </service>
      <service
            interface="lifecycle.service.action"
            name="生命周期操作服务"
            operation="finish"
            serviceProvider="com.sg.business.model.bpmservice.LifecycleService">
      </service>
      <service
            interface="lifecycle.service.action"
            name="生命周期操作服务"
            operation="cancel"
            serviceProvider="com.sg.business.model.bpmservice.LifecycleService">
      </service>
      <service
            interface="project.service.action"
            name="项目状态服务"
            operation="ready"
            serviceProvider="com.sg.business.model.bpmservice.ProjectService">
      </service>
      <service
            interface="project.service.action"
            name="项目状态服务"
            operation="message"
            serviceProvider="com.sg.business.model.bpmservice.ProjectService">
      </service>
      <service
            interface="worktoproject.service.action"
            name="附加工作至项目服务(工作令号)"
            operation="toprojectbyworkorder"
            serviceProvider="com.sg.business.model.bpmservice.WorkToProjectByWorkOrderService">
      </service>
      <service
            interface="worktoproject.service.action"
            name="项目商品转批服务(工作令号)"
            operation="productsubconcessionsbyworkorder"
            serviceProvider="com.sg.business.model.bpmservice.ProductSubconcessionsByWorkOrderService">
      </service>
      <service
            interface="worktoproject.service.action"
            name="附加工作至项目服务(项目ID)"
            operation="toprojectbyprojectid"
            serviceProvider="com.sg.business.model.bpmservice.WorkToProjectByProjectIdService">
      </service>
      <service
            interface="worktoproject.service.action"
            name="项目商品转批服务(项目ID)"
            operation="productsubconcessionsbyprojectid"
            serviceProvider="com.sg.business.model.bpmservice.ProductSubconcessionsByProjectIdService">
      </service>
      <service
            interface="deliverable.service.action"
            name="交付物状态操作服务"
            operation="released"
            serviceProvider="com.sg.business.model.bpmservice.DeliverableService">
      </service>
      <service
            interface="document.service.action"
            name="文档状态操作服务"
            operation="lock"
            serviceProvider="com.sg.business.model.bpmservice.DocumentService">
      </service>
      <service
            interface="document.service.action"
            name="文档状态操作服务"
            operation="unlock"
            serviceProvider="com.sg.business.model.bpmservice.DocumentService">
      </service>
   </extension>
   <extension
         point="com.sg.bpm.service.serviceTask">
      <service
            interface="changeplan.service.action"
            name="设计变更服务"
            operation="ecnitem_design"
            serviceProvider="com.sg.business.model.bpmservice.ChangePlanService">
      </service>
      <service
            interface="changeplan.service.action"
            name="工艺变更服务"
            operation="ecnitem_process"
            serviceProvider="com.sg.business.model.bpmservice.ChangePlanService">
      </service>
      <service
            interface="changeplan.service.action"
            name="采购变更服务"
            operation="ecnitem_purchase"
            serviceProvider="com.sg.business.model.bpmservice.ChangePlanService">
      </service>
      <service
            interface="changeplan.service.action"
            name="在制品处理服务"
            operation="ecnitem_mfg"
            serviceProvider="com.sg.business.model.bpmservice.ChangePlanService">
      </service>
      <service
            interface="changeplan.service.action"
            name="检验变更服务"
            operation="ecnitem_inspect"
            serviceProvider="com.sg.business.model.bpmservice.ChangePlanService">
      </service>
      <service
            interface="changeplan.service.action"
            name="相关部门变更服务"
            operation="ecnitem_relevant"
            serviceProvider="com.sg.business.model.bpmservice.ChangePlanService">
      </service>
      <service
            interface="changeplan.service.action"
            name="包装变更服务"
            operation="ecnitem_package"
            serviceProvider="com.sg.business.model.bpmservice.ChangePlanService">
      </service>
      <service
            interface="changecharger.service.action"
            name="更改工作负责人服务"
            operation="charger"
            serviceProvider="com.sg.business.model.bpmservice.ChangeChargerService">
      </service>
   </extension>
   <extension
         point="com.mobnut.admin.schedualJob">
      <schedualJob
            id="finance.schedual.etl"
            name="ETL"
            rule="day"
            run="com.sg.business.model.etl.ETLJob"
            time="2:05:00">
      </schedualJob>
      <schedualJob
            day="9999999999"
            id="finance.schedual.etlold"
            name="ETL 历史数据导入"
            rule="month"
            run="com.sg.business.model.etl.ETLOldJob"
            time="2:05:00">
      </schedualJob>
   </extension>

</plugin>
