<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.widgets.option">
      <option
            id="com.sg.business.option.organizationType">
         <option
               id="法人">
         </option>
         <option
               id="事业部">
         </option>
         <option
               id="部门">
         </option>
         <option
               id="团队">
         </option>
      </option>
   </extension>
   <extension
         point="com.mobnut.db.documentModelAdapter">
      <doc
            class="com.sg.business.model.Organization"
            collection="organization"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.User"
            collection="account"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.Role"
            collection="role"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.RoleAssignment"
            collection="roleassignment"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.Folder"
            collection="folder"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.Document"
            collection="document"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.ProjectTemplate"
            collection="projecttemplate"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.WorkDefinition"
            collection="workd"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.BudgetItem"
            collection="budget"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.model.RoleDefinition"
            collection="roled"
            db="pm2">
      </doc>
   </extension>
   <extension
         point="com.mobnut.db.modelRelation">
      <relation
            end1Class="com.sg.business.model.Organization"
            end1Key="_id"
            end2Class="com.sg.business.model.Organization"
            end2Key="parent_id"
            id="organization_organization"
            name="组织下的组织">
      </relation>
      <relation
            end1Class="com.sg.business.model.Organization"
            end1Key="_id"
            end2Class="com.sg.business.model.User"
            end2Key="organization_id"
            id="organization_user"
            name="组织下的用户">
      </relation>
      <relation
            end1Class="com.sg.business.model.Organization"
            end1Key="_id"
            end2Class="com.sg.business.model.Role"
            end2Key="organization_id"
            id="organization_role"
            name="组织下的角色">
      </relation>
      <relation
            end1Class="com.sg.business.model.Role"
            end1Key="_id"
            end2Class="com.sg.business.model.RoleAssignment"
            end2Key="role_id"
            id="role_roleassignment"
            name="角色的用户指派">
      </relation>
      <relation
            end1Class="com.sg.business.model.User"
            end1Key="_id"
            end2Class="com.sg.business.model.RoleAssignment"
            end2Key="user_id"
            id="user_roleassignment"
            name="用户的角色指派">
      </relation>
   </extension>
   <extension
         point="com.mobnut.db.modelRelation">
      <relation
            end1Class="com.sg.business.model.Container"
            end1Key="_id"
            end2Class="com.sg.business.model.Folder"
            end2Key="root_id"
            id="organization_folder"
            name="组织容器下的目录">
      </relation>
      <relation
            end1Class="com.sg.business.model.Folder"
            end1Key="_id"
            end2Class="com.sg.business.model.Folder"
            end2Key="parent_id"
            id="folder_folder"
            name="目录下的目录">
      </relation>
      <relation
            end1Class="com.sg.business.model.Folder"
            end1Key="_id"
            end2Class="com.sg.business.model.Document"
            end2Key="folder_id"
            id="folder_document"
            name="目录下的文档">
      </relation>
   </extension>
   <extension
         point="com.mobnut.db.modelRelation">
      <relation
            end1Class="com.sg.business.model.WorkDefinition"
            end1Key="_id"
            end2Class="com.sg.business.model.WorkDefinition"
            end2Key="parent_id"
            id="workd_workd"
            name="WBS模板分解结构"
            sort="com.sg.business.model.bson.SEQSorter">
      </relation>
      <relation
            end1Class="com.sg.business.model.ProjectTemplate"
            end1Key="workd_id"
            end2Class="com.sg.business.model.WorkDefinition"
            end2Key="_id"
            id="projecttemplate_workd"
            name="项目模板的顶层工作定义">
      </relation>
   </extension>
   <extension
         id="organization"
         name="组织"
         point="com.sg.widgets.column">
         <column
               column="organizationnumber"
               id="organization.organizationNumber"
               name="组织编号"
               style="SWT.LEFT"
               type="String"
               width="120">
         </column>
         <column
               column="desc"
               id="organization.desc"
               name="名称"
               style="SWT.LEFT"
               type="String"
               width="-1">
         </column>
         <column
               column="organizationtype"
               id="organization.organizationType"
               name="组织类型"
               style="SWT.LEFT"
               type="String">
         </column>
         <column
               column="isfunctiondepartment"
               id="organization.isFunctionDepartment"
               name="项目管理\n职能"
               style="SWT.CENTER"
               type="Boolean">
         </column>
         <column
               column="iscontainer"
               id="organization.isContainer"
               name="文档容器"
               style="SWT.CENTER"
               type="Boolean">
         </column>
         <column
               column="costcentercode"
               id="organization.costCenterCode"
               name="成本中心\n代码"
               style="SWT.LEFT"
               type="String">
         </column>
         <column
               column="description"
               id="organization.description"
               name="说明"
               style="SWT.LEFT"
               type="String"
               width="120">
         </column>
         <column
               column="desc"
               id="organization.desc.html"
               labelProvider="com.sg.widgets.commons.labelprovider.HTMLLabelprovider"
               name="组织名称"
               style="SWT.LEFT"
               type="String"
               width="-1">
         </column>
   </extension>
   <extension
         id="role"
         point="com.sg.widgets.column">
      <column
            column="rolenumber"
            id="role.roleNumber"
            labelProvider="com.sg.business.model.labelprovider.RoleNumberLabelProvider"
            name="编号"
            style="SWT.LEFT"
            type="String"
            width="120">
      </column>
      <column
            column="description"
            id="role.description"
            name="说明"
            type="String"
            width="120">
      </column>
      <column
            column="desc"
            id="role.desc"
            labelProvider="com.sg.business.model.labelprovider.RoleDescLabelProvider"
            name="名称"
            type="String"
            width="240">
      </column>
      <column
            column="roletype"
            id="role.roleType"
            labelProvider="com.sg.business.model.labelprovider.RoleTypeLabelProvider"
            name="类型"
            type="String">
      </column>
   </extension>
   <extension
         id="user"
         point="com.sg.widgets.column">
      <column
            column="userid"
            id="account.userid"
            name="用户编号"
            style="SWT.LEFT"
            type="String"
            width="80">
      </column>
      <column
            column="username"
            id="account.username"
            name="姓名"
            style="SWT.LEFT"
            type="String"
            width="80">
      </column>
      <column
            column="email"
            id="account.email"
            name="电子邮箱"
            type="String"
            width="80">
      </column>
      <column
            column="activated"
            id="account.activated"
            name="激活"
            type="Boolean"
            width="80">
      </column>
      <column
            column="organization_id"
            id="account.organizationpath"
            labelProvider="com.sg.business.model.labelprovider.UserOrganizationPathLabelprovider"
            name="组织"
            type="String"
            width="80">
      </column>
      <column
            column="organization_id"
            id="account.roleassignment"
            labelProvider="com.sg.business.model.labelprovider.UserRoleAssignmentLabelprovider"
            name="角色"
            type="String"
            width="80">
      </column>
   </extension>
   <extension
         id="folder"
         point="com.sg.widgets.column">
      <column
            column="desc"
            id="folder.desc"
            name="名称"
            type="String"
            width="180">
      </column>
      <column
            column="folderType"
            id="folder.folderType"
            labelProvider="com.sg.business.model.labelprovider.FolderTypeLabelProvider"
            name="类型说明"
            type="String"
            width="180">
      </column>
      <column
            column="containerPath"
            id="folder.containerPath"
            labelProvider="com.sg.business.model.labelprovider.ContainerPathLabelProvider"
            name="容器路径"
            type="String"
            width="180">
      </column>
   </extension>
   <extension
         id="document"
         name="文档"
         point="com.sg.widgets.column">
      <column
            column="documentnumber"
            id="document.documentNumber"
            name="编号"
            type="String"
            width="80">
      </column>
      <column
            column="desc"
            id="document.desc"
            name="名称"
            type="String"
            width="180">
      </column>
      <column
            column="documenttype"
            id="document.documentType"
            name="类型"
            type="String"
            width="80">
      </column>
      <column
            id="f_vid"
            name="版本号"
            type="String"
            width="50">
      </column>
      <column
            column="_caccount"
            id="generic._caccount"
            labelProvider="com.sg.widgets.commons.labelprovider.AccountLabelProvider"
            name="创建者"
            type="String"
            width="80">
      </column>
      <column
            column="_cdate"
            id="generic._cdate"
            name="创建时间"
            type="DateTime"
            width="80">
      </column>
      <column
            column="_maccount"
            id="generic._maccount"
            labelProvider="com.sg.widgets.commons.labelprovider.AccountLabelProvider"
            name="修订者"
            type="String"
            width="80">
      </column>
      <column
            column="_mdate"
            id="generic._mdate"
            name="修订时间"
            type="DateTime"
            width="80">
      </column>
   </extension>
   <extension
         id="projecttemplate"
         name="项目模板"
         point="com.sg.widgets.column">
      <column
            column="desc"
            id="projecttemplate.desc"
            name="项目模板名称"
            type="String"
            width="-1">
      </column>
      <column
            column="activated"
            id="generic.activated"
            labelProvider="com.sg.business.model.labelprovider.ActivatedLabelProvider"
            name="激活"
            style="SWT.CENTER"
            type="Boolean"
            width="24">
      </column>
      <column
            column="desc"
            id="work.desc"
            name="工作名称"
            type="String"
            width="-1">
      </column>
      <column
            column="seq"
            id="work.seq"
            labelProvider="com.sg.business.model.labelprovider.WBSCodeLabelprovider"
            name="序号"
            type="Integer"
            width="160">
      </column>
      <column
            column="desc"
            id="roledefinition.desc"
            name="角色名称"
            type="String"
            width="-1">
      </column>
      <column
            column="rolenumber"
            id="roledefinition.number"
            name="角色编号"
            type="String"
            width="80">
      </column>
      <column
            column="description"
            id="roledefinition.description"
            name="说明"
            type="String"
            width="120">
      </column>
   </extension>

</plugin>
