<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="work"
            class="com.sg.business.performence.resource.OrgResCalender"
            id="performence.works.org"
            name="部门资源工时">
      </view>
      <view
            category="work"
            class="com.sg.business.performence.resource.ProjectResCalender"
            id="performence.works.project"
            name="项目资源工时">
      </view>
      <view
            category="work"
            class="com.sg.business.performence.resource.OrgProjectResCalender"
            id="performence.works.project.org"
            name="部门项目工时">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sg.business.performence.resource.DisplayYear"
            commandId="performence.works.org.displayyear">
      </handler>
      <handler
            class="com.sg.business.performence.resource.Display3Month"
            commandId="performence.works.org.display3month">
      </handler>
      <handler
            class="com.sg.business.performence.resource.DisplayLeft"
            commandId="performence.works.org.displayleft">
      </handler>
      <handler
            class="com.sg.business.performence.resource.DisplayRight"
            commandId="performence.works.org.displayright">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="work"
            id="performence.works.org.displayyear"
            name="显示全年">
      </command>
      <command
            categoryId="work"
            id="performence.works.org.display3month"
            name="显示最近三个月">
      </command>
      <command
            categoryId="work"
            id="performence.works.org.displayleft"
            name="显示更早">
      </command>
      <command
            categoryId="work"
            id="performence.works.org.displayright"
            name="显示更晚">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:performence.works.org?after=additions">
         <command
               commandId="performence.works.org.displayyear"
               icon="image/cal1_24.png"
               label="显示全年"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.works.org.display3month"
               icon="image/cal2_24.png"
               label="显示最近3个月"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.works.org.displayleft"
               icon="image/left_24.png"
               label="显示更早"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.works.org.displayright"
               icon="image/right_24.png"
               label="显示更晚"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:performence.works.project?after=additions">
         <command
               commandId="performence.works.org.displayyear"
               icon="image/cal1_24.png"
               label="显示全年"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.works.org.display3month"
               icon="image/cal2_24.png"
               label="显示最近3个月"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.works.org.displayleft"
               icon="image/left_24.png"
               label="显示更早"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.works.org.displayright"
               icon="image/right_24.png"
               label="显示更晚"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
