<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="work"
            class="com.sg.business.performence.organization.OrgResCalender"
            id="performence.works.org"
            name="%view.name">
      </view>
      <view
            category="work"
            class="com.sg.business.performence.project.ProjectResCalender"
            id="performence.works.project"
            name="%view.name.0">
      </view>
      <view
            category="work"
            class="com.sg.business.performence.orgproject.OrgProjectResCalender"
            id="performence.works.project.org"
            name="%view.name.1">
      </view>
      <view
            category="work"
            class="com.sg.business.performence.works.WorksRegister"
            id="works.register"
            name="%view.name.2">
      </view>
      <view
            category="work"
            class="com.sg.widgets.part.view.TableNavigator"
            id="work.performence.record"
            name="%view.name.3">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sg.business.performence.ui.handler.DisplayYear"
            commandId="performence.works.org.displayyear">
      </handler>
      <handler
            class="com.sg.business.performence.ui.handler.Display3Month"
            commandId="performence.works.org.display3month">
      </handler>
      <handler
            class="com.sg.business.performence.ui.handler.DisplayLeft"
            commandId="performence.works.org.displayleft">
      </handler>
      <handler
            class="com.sg.business.performence.ui.handler.DisplayRight"
            commandId="performence.works.org.displayright">
      </handler>
      <handler
            class="com.sg.business.performence.ui.handler.ExpandAll"
            commandId="performence.expandAll">
      </handler>
      <handler
            class="com.sg.business.performence.ui.handler.Collapse"
            commandId="performence.collapse">
      </handler>
      <handler
            class="com.sg.business.performence.ui.handler.AddWorkRecord"
            commandId="work.addrecord">
      </handler>
      <handler
            class="com.sg.business.performence.ui.handler.OpenWorkRecord"
            commandId="work.editrecord">
      </handler>
      <handler
            class="com.sg.business.performence.ui.handler.EditWorkRecord"
            commandId="runtimework.record">
      </handler>
      <handler
            class="com.sg.business.performence.ui.handler.AppendWorkRecord"
            commandId="work.appendrecord">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="work"
            id="performence.works.org.displayyear"
            name="%command.name">
      </command>
      <command
            categoryId="work"
            id="performence.works.org.display3month"
            name="%command.name.0">
      </command>
      <command
            categoryId="work"
            id="performence.works.org.displayleft"
            name="%command.name.1">
      </command>
      <command
            categoryId="work"
            id="performence.works.org.displayright"
            name="%command.name.2">
      </command>
      <command
            categoryId="work"
            id="performence.expandAll"
            name="%command.name.3">
      </command>
      <command
            categoryId="work"
            id="performence.collapse"
            name="%command.name.4">
      </command>
      <command
            categoryId="work"
            id="work.addrecord"
            name="%command.name.5">
      </command>
      <command
            categoryId="work"
            id="work.editrecord"
            name="%command.name.6">
      </command>
      <command
            categoryId="work"
            id="work.appendrecord"
            name="%command.name.7">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:performence.works.org?after=additions">
         <command
               commandId="performence.works.org.displayyear"
               icon="image/cal1_24.png"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.works.org.display3month"
               icon="image/cal2_24.png"
               label="%command.label.0"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.works.org.displayleft"
               icon="image/left_24.png"
               label="%command.label.1"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.works.org.displayright"
               icon="image/right_24.png"
               label="%command.label.2"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.collapse"
               icon="image/collapse_24.png"
               label="%command.label.3"
               style="push">
         </command>
         <command
               commandId="performence.expandAll"
               icon="image/expand_24.png"
               label="%command.label.4"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:performence.works.project?after=additions">
         <command
               commandId="performence.works.org.displayyear"
               icon="image/cal1_24.png"
               label="%command.label.5"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.works.org.display3month"
               icon="image/cal2_24.png"
               label="%command.label.6"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.works.org.displayleft"
               icon="image/left_24.png"
               label="%command.label.7"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.works.org.displayright"
               icon="image/right_24.png"
               label="%command.label.8"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.collapse"
               icon="image/collapse_24.png"
               label="%command.label.9"
               style="push">
         </command>
         <command
               commandId="performence.expandAll"
               icon="image/expand_24.png"
               label="%command.label.10"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:performence.works.project.org?after=additions">
         <command
               commandId="performence.works.org.displayyear"
               icon="image/cal1_24.png"
               label="%command.label.11"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.works.org.display3month"
               icon="image/cal2_24.png"
               label="%command.label.12"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.works.org.displayleft"
               icon="image/left_24.png"
               label="%command.label.13"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.works.org.displayright"
               icon="image/right_24.png"
               label="%command.label.14"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="performence.collapse"
               icon="image/collapse_24.png"
               label="%command.label.15"
               style="push">
         </command>
         <command
               commandId="performence.expandAll"
               icon="image/expand_24.png"
               label="%command.label.16"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:work.performence.record">
         <command
               commandId="work.addrecord"
               icon="image/log_add_24.png"
               label="%command.label.17"
               style="push">
         </command>
         <command
               commandId="work.editrecord"
               icon="image/log_24.png"
               label="%command.label.18"
               style="push">
         </command>
         <separator
               name="work.performence.record.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.sg.widgets.command.refresh"
               icon="image/refresh_24.png"
               label="%command.label.19"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:work.performence.record?after=additions">
         <command
               commandId="work.addrecord"
               icon="image/log_add_24.png"
               label="%command.label.20"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                  </with>
                  <with
                        variable="activePartId">
                     <equals
                           value="work.performence.record">
                     </equals>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:works.register">
         <command
               commandId="work.appendrecord"
               icon="image/log_add_24.png"
               label="%command.label.21"
               style="push">
         </command>
         <command
               commandId="com.sg.widgets.command.edit"
               icon="image/log_24.png"
               label="%command.label.22"
               style="push">
            <parameter
                  name="com.sg.widgets.edit.editorid"
                  value="editor.create.workrecord">
            </parameter>
            <parameter
                  name="com.sg.widgets.edit.editable"
                  value="true">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.sg.business.model.WorksPerformence">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
            <parameter
                  name="com.sg.widgets.edit.type"
                  value="datadialog">
            </parameter>
         </command>
         <separator
               name="work.performence.record.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.sg.widgets.command.refresh"
               icon="image/refresh_24.png"
               label="%command.label.23"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:works.register?after=additions">
         <command
               commandId="work.appendrecord"
               icon="image/log_add_24.png"
               label="%command.label.24"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="works.register"
            tree="works.register">
         <searchAction>
            <column
                  column="userid"
                  name="%column.name"
                  type="String">
            </column>
            <column
                  column="username"
                  name="%column.name.0"
                  type="String">
            </column>
            <column
                  column="desc"
                  name="%column.name.1"
                  type="String"></column>
            <column
                  column="projectdesc"
                  name="%column.name.2"
                  type="String">
            </column>
            <column
                  column="workdesc"
                  name="%column.name.3"
                  type="String">
            </column></searchAction>
         <filterAction>
            <column
                  column="userid"
                  name="%column.name.4"
                  type="String">
            </column>
            <column
                  column="username"
                  name="%column.name.5"
                  type="String">
            </column>
            <column
                  column="desc"
                  name="%column.name.6"
                  type="String">
            </column>
            <column
                  column="projectdesc"
                  name="%column.name.7"
                  type="String">
            </column>
            <column
                  column="workdesc"
                  name="%column.name.8"
                  type="String">
            </column>
         </filterAction>
      </navigator>
      <navigator
            id="work.performence.record"
            table="work.performence.record">
      </navigator>
      <navigator
            id="works.append.userselector"
            tree="works.append.userselector">
         <searchAction>
            <column
                  column="userid"
                  name="%column.name.9"
                  type="String">
            </column>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
         </searchAction>
         <filterAction>
            <column
                  column="userid"
                  name="%column.name.10"
                  type="String">
            </column>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
         </filterAction>
      </navigator>
      <navigator
            id="works.append.workselector"
            tree="works.append.workselector">
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.tree">
      <tree
            autoExpandLevel="2"
            canEdit="true"
            contentProvider="com.sg.business.performence.works.PerformenceContentProvider"
            dataSet="com.sg.business.model.dataset.organization.ProjManagedOrgOfCurrentUser"
            editorId="editor.append.workrecord"
            id="works.register"
            popupMenu="popup:works.register">
         <column
               labelProvider="com.sg.widgets.commons.labelprovider.PrimaryObjectLabelProvider"
               width="320">
         </column>
         <column
               column="works"
               name="%column.name.11"
               type="Double"
               width="90">
         </column>
         <column
               column="projectdesc"
               name="%column.name.12"
               type="String"
               width="160">
         </column>
         <column
               column="workdesc"
               name="%column.name.13"
               type="String"
               width="120">
         </column>
         <structure
               modelRelation="organization_organization">
         </structure>
         <structure
               modelRelation="organization_user">
         </structure>
         <structure
               modelRelation="user_worksperformence">
         </structure>
      </tree>
      <tree
            autoExpandLevel="2"
            dataSet="com.sg.business.model.dataset.organization.ProjManagedOrgOfCurrentUser"
            headerVisiable="false"
            id="works.append.userselector">
         <column
               labelProvider="com.sg.widgets.commons.labelprovider.PrimaryObjectLabelProvider"
               width="-1">
         </column>
         <structure
               modelRelation="organization_organization">
         </structure>
         <structure
               modelRelation="organization_user">
         </structure>
      </tree>
      <tree
            autoExpandLevel="-1"
            dataSet="com.sg.business.model.dataset.project.ManagementProjectRootWork"
            headerVisiable="false"
            id="works.append.workselector">
         <column
               columnDefinitionId="com.sg.widgets.column.desc">
         </column>
         <structure
               modelRelation="work_workwip">
         </structure>
      </tree>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="worksperformence"
            dbName="pm2"
            id="editor.create.workrecord"
            image="image/log_24.png"
            name="%editor.name">
         <basicpage
               id="workrecord"
               image="image/log_24.png"
               title="%basicpage.title">
            <pagecolumn>
               <section
                     label="%section.label">
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="projectdesc"
                        label="%text.label"
                        labelVisible="true"
                        name="projectdesc"
                        persistable="false"
                        required="false"
                        type="String"
                        userlabelForReadonly="true">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="workdesc"
                        label="%text.label.0"
                        labelVisible="true"
                        name="workdesc"
                        persistable="false"
                        required="false"
                        type="String"
                        userlabelForReadonly="true">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="planworks"
                        label="%text.label.1"
                        labelVisible="true"
                        name="planworks"
                        persistable="false"
                        presentation="com.sg.widgets.commons.valuepresentation.NumberTextPresentation"
                        presentationFormat="#########.00"
                        required="false"
                        type="Double"
                        userlabelForReadonly="true">
                  </text>
               </section>
               <section
                     label="%section.label.0">
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="desc"
                        label="%combo.label"
                        labelVisible="true"
                        name="desc"
                        option="进展状况"
                        persistable="true"
                        required="true"
                        type="String">
                  </combo>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="works"
                        label="%text.label.2"
                        labelVisible="true"
                        name="works"
                        persistable="true"
                        presentation="com.sg.widgets.commons.valuepresentation.NumberTextPresentation"
                        presentationFormat="#########.00"
                        required="true"
                        type="Double">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="worksfinishedpercent"
                        inputValidator="com.sg.business.performence.works.WorksFinishedPercentValidator"
                        label="%text.label.3"
                        labelVisible="true"
                        name="worksfinishedpercent"
                        persistable="true"
                        presentation="com.sg.widgets.commons.valuepresentation.NumberTextPresentation"
                        presentationFormat="#########.00%"
                        required="false"
                        type="Double">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="userid"
                        label="%text.label.4"
                        labelVisible="true"
                        name="userid"
                        persistable="true"
                        presentation="com.sg.business.commons.field.presentation.UserIdFieldPres"
                        type="String"
                        userlabelForReadonly="true">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="commitdate"
                        label="%text.label.5"
                        labelVisible="true"
                        name="commitdate"
                        persistable="true"
                        presentation="com.sg.widgets.commons.valuepresentation.DateTimeTextPresentation"
                        presentationFormat="yy/MM/dd E HH:mm:ss"
                        type="Date"
                        userlabelForReadonly="true">
                  </text>
               </section>
               <section
                     label="%section.label.1">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="content"
                        label="%text.label.6"
                        labelVisible="false"
                        name="content"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="360">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="worksperformence"
            dbName="pm2"
            id="editor.append.workrecord"
            image="image/log_24.png"
            name="%editor.name.0">
         <basicpage
               id="workrecord"
               image="image/log_24.png"
               title="%basicpage.title.0">
            <pagecolumn>
               <section
                     label="%section.label.2">
                  <navigatorSelector
                        editable="true"
                        id="workid"
                        label="%navigatorSelector.label"
                        labelVisible="true"
                        labelprovider="com.sg.business.performence.works.PerformenceWorkLabelProvider"
                        modelClass="com.sg.business.model.Work"
                        name="workid"
                        navigatorId="works.append.workselector"
                        navigatorReturnField="_id"
                        navigatorSelectorControl="com.sg.business.performence.works.WorkSelectControl"
                        persistable="true"
                        required="true">
                  </navigatorSelector>
                  <navigatorSelector
                        editable="true"
                        id="userid"
                        label="%navigatorSelector.label.0"
                        labelVisible="true"
                        labelprovider="com.sg.business.commons.labelprovider.UserIdLabelProvider"
                        modelClass="com.sg.business.model.User"
                        name="userid"
                        navigatorId="works.append.userselector"
                        navigatorReturnField="userid"
                        navigatorSelectorControl="com.sg.business.performence.works.UserSelectControl"
                        persistable="true"
                        required="true">
                  </navigatorSelector>
               </section>
               <section
                     label="%section.label.3">
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="desc"
                        label="%combo.label.0"
                        labelVisible="true"
                        name="desc"
                        option="进展状况"
                        persistable="true"
                        required="true"
                        type="String">
                  </combo>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="works"
                        label="%text.label.7"
                        labelVisible="true"
                        name="works"
                        persistable="true"
                        presentation="com.sg.widgets.commons.valuepresentation.NumberTextPresentation"
                        presentationFormat="#########.00"
                        required="true"
                        type="Double">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="worksfinishedpercent"
                        inputValidator="com.sg.business.performence.works.WorksFinishedPercentValidator"
                        label="%text.label.8"
                        labelVisible="true"
                        name="worksfinishedpercent"
                        persistable="true"
                        presentation="com.sg.widgets.commons.valuepresentation.NumberTextPresentation"
                        presentationFormat="#########.00%"
                        required="false"
                        type="Double">
                  </text>
                  <dateTime
                        editPart="DateDialog"
                        editable="true"
                        id="datecode"
                        label="%dateTime.label"
                        labelVisible="true"
                        name="datecode"
                        persistable="true"
                        required="true"
                        type="Date">
                  </dateTime>
               </section>
               <section
                     label="%section.label.4">
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="content"
                        label="%text.label.9"
                        labelVisible="false"
                        name="content"
                        persistable="true"
                        required="false"
                        type="String"
                        widthHint="360">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            canCreate="false"
            canDelete="false"
            canEdit="false"
            canRead="true"
            customItemHeight="40"
            dataSet="com.sg.business.model.dataset.work.OwnerPerformenceWorkDataSet"
            fullSelection="true"
            headerVisiable="false"
            id="work.performence.record"
            markupEnabled="true"
            popupMenu="popup:work.performence.record">
         <column
               column="desc"
               labelProvider="com.sg.business.performence.works.RuntimeWorkLabelprovider2"
               lazyDisplay="true"
               name="%column.name.14"
               style="SWT.LEFT"
               type="String"
               width="-1">
         </column>
         <column
               labelProvider="com.sg.business.performence.works.TodaysRecordLabelProvider"
               name="%column.name.15"
               width="40">
         </column>
      </table>
   </extension>
   <extension
         point="com.mobnut.db.documentModelAdapter">
      <doc
            class="com.sg.business.performence.works.MonthFolder"
            collection="monthfolder"
            db="pm2"
            id="pm2.monthfolder">
      </doc>
   </extension>

</plugin>
