<?xml version='1.0' encoding='euc-kr'?>

<!--*************************************************

        JDF XML Configuration File V.1.0
        Composed by Sungkwon,Kim (manpower@cyber-i.com)

***************************************************-->

<config>


<!--=================================================
    RDBMS Connection
===================================================-->

<!--db url="jdbc:cache:oracle:thin:@211.58.55.240:1521:home"
    jdbcDriver="oracle.jdbc.driver.OracleDriver"
    user="scott"
    password="tiger"-->

<db
	url='jdbc:oracle:thin:@127.0.0.1:1521:ORCL'
	jdbcDriver='oracle.jdbc.driver.OracleDriver'
	user='scott'
	password='tiger'
/>

<!-- default pool-->
<!--db url="jdbc:weblogic:pool:cjPool"
    jdbcDriver="weblogic.jdbc.pool.Driver"/-->
    
<!--db_sqlserver url="jdbc:weblogic:pool:htsDB"
    jdbcDriver="weblogic.jdbc.pool.Driver"/-->

<!--db_mssqlserver url="jdbc:weblogic:pool:cyber"
    jdbcDriver="weblogic.jdbc.pool.Driver"/-->

<!--chart imgpath="/cj/homepage/docs/img/chart/"/-->
<!-- 
    JDF Connection Pool 
    
    <caution>
    If you use applicaton server connection pool,
    you do not need this configuration.
-->
<connectionPool>
    <!--dbPool initialCapacity="10"
              maxCapacity="100"
              capacityIncrement="5"
              refreshMinTime="1"
              timeout="5000"
              testTableName="dual"
              url="jdbc:oracle:thin:@61.73.82.234:1521:hts"
              driver="oracle.jdbc.driver.OracleDriver"
              props="user=hts;password=hts"/-->
              
</connectionPool>              


                              
                
                
<!--=================================================
    O-R Mapping
===================================================-->

<ORMapping>
    <schema dir="/PROJECT/schema"
            files=""/>
    
                    
    
    <premadeSQL dir="C:\resin3.0.8\doc\WEB-INF\psql" 
                files=""
                reload="false"/>
    
    
    <cache enable="false"
           logic="normal"
           refreshTime="1000"/>


    <StorageManager defaultClass="dyna.jdf.manageobject.dbms.EntityStorageImpl"
                    useEJB="false">
        <RemoteMemory   ip="localhost" port="9000">                    
            <FileDump dir="./log/memory"/>
        </RemoteMemory>    
        
        <FileStorage dir="./log"/>
        
    </StorageManager>                
                    
</ORMapping>




<!--=================================================
    Enterprise Java Bean
===================================================-->
<!--ejb initialContext="weblogic.jndi.WLInitialContextFactory"
     providerURL="t3://localhost:7001"/-->




<!--=================================================
    Log
===================================================-->
<logger dir="./log"
        autoflush="true"
        isAsync="false"
        consoleOutput="true">
        
        <sys trace="true"/>
        <err trace="true"/>
        <warn trace="true"/>
        <info trace="true"/>
        <debug trace="true"/>
        
        <calog trace="true" 
              isAsync="false"
              dir="./log/calog" 
              consoleOutput="true"/>
        
        <user trace="false" 
              isAsync="false"
              dir="./log/user" 
              consoleOutput="false"/>
        
        <sql trace="false" 
             isAsync="false"
             dir="./log/sql" 
             consoleOutput="false"/>

        
        <fepLog trace="false" 
                isAsync="false"
                dir="./log/fep" 
                consoleOutput="false"/>

        
</logger>
    
<message file="/weblogic/log/msg.conf" />


<!--=================================================
    Java Mail
===================================================-->

<!-- CJ smtp Server -->
<mail   host="210.124.205.46"
        admin="newsletter@cjcyber.com"
        adminName="관리자"
        cc="newsletter@cjcyber.com"
        ccFlag="false"
        templatedir="/cj/homepage/docs/mail" 
		formLogFileDir="/opt/weblogic/bea/wlserver6.1/log/newsletter_log/form/"
        htmlLogFileDir="/opt/weblogic/bea/wlserver6.1/log/newsletter_log/html/"
		dailyLogFileDir="/opt/weblogic/bea/wlserver6.1/log/newsletter_log/daily/"
		weeklyLogFileDir="/opt/weblogic/bea/wlserver6.1/log/newsletter_log/weekly/"
		dailyPreViewURL="http://www.cjcyber.com/admin/newsletter/dayPreView.jsp"
		weeklyPreViewURL="http://www.cjcyber.com/admin/newsletter/dayPreView.jsp"
		DRIVER="oracle.jdbc.driver.OracleDriver"
		USER="cj"
		PASS="cj"
		dbURL="jdbc:oracle:thin:@150.1.5.152:1521:cj"/>
        



<!--=================================================
    Network & I/O 
===================================================-->
<network>
    <socket>
        <dump enable="false"/>
        
        <packet dump="true"/>
        
        <buffer readSize="512"
                writeSize="512"/>
    </socket>
    
    <socketPool default="SisePool">
        
        <SisePool ip="210.124.205.31" 
                  port="9000" 
                  initialCapacity="10"
                  maxCapacity="30"
                  timeout="5000"
                  isBlocking="false"/>
        
        
        <FepPool  ip="150.1.5.152" 
                  port="9200" 
                  initialCapacity="10"
                  maxCapacity="20"
                  timeout="100"
                  isBlocking="false"/>
        
    </socketPool>

</network>


<GeneralServlet errorPage="/jsp/include/error.jsp"
                messagePage="/jsp/include/error.jsp"
                emptyPage="/jsp/include/error.jsp"
                maxUploadFileKilloBytes="5000">
    
    
    <RemoteFileServer ip="210.124.205.46"
                      port="9999"/>
                    
                
</GeneralServlet>   




<wts>
    <!--fepGateway ip="localhost"
                port="6001"
                timeout="300000">
    </fepGateway-->
    
    
    
    <fepGateway ip="150.1.5.152"
                port="9200"
                timeout="300000"
                socketPoolName="FepPool"> 
    </fepGateway>
    
    
    
    <siseServer ip="210.124.205.31"
                port="9000"
                timeout="300000"
                socketPoolName="SisePool">
    </siseServer>
    
</wts>

<search>

    <softbot ip="210.124.205.46" port="8688"/>

</search>

<Club>
    <MaxNumSet maxClubNum="10"
               maxBoardNum="6"/>
</Club>
    


<resource>
    <cjcyber ip="210.124.205.68" port="21009"
               maxWaitTime="3000"
               initPoolSize="2"
               maxPoolSize="3"
               timeout="5000"
			   uniqueCode="C002"/>
</resource>

<!--===================================
전자인증 CASE별 설정
1 : [Loing,고객정보 : 적용],[주문,은행이체 : 적용]
2 : [Loing,고객정보 : 적용],[주문,은행이체 : 내부적용]
3 : [Loing,고객정보 : 적용],[주문,은행이체 : 비적용]
4 : [Loing,고객정보 : 비적용],[주문,은행이체 : 비적용]
====================================-->
<certificate>
	<cjcase case="1"/>
</certificate>

<!-- Lra 데몬 서버 설정 -->
<lraServer>
	<lras ip="127.0.0.1" port="4098" />
</lraServer>

<!-- 검증데몬 서버 설정 -->
<!-- loginOpCode = 18 : Binary -->
<!-- orderOpCode = 19 : Hex -->
<verifyServer>
	<verifys ip="127.0.0.1" port="40000" loginOpCode="18" orderOpCode="19" />
</verifyServer>
</config>
