<?xml version='1.0' encoding='euc-kr'?>

<!--
    Main Configuration File

    DynaFramework Server v.3
    (C) Copyright Computer Integrated Engineering System LTD. 1999-2002.
-->

<server>

    <!-- Shared Area ============================================= -->
    <share>
        <!-- Global Thread Pool -->
        <threadpool>
            <number>150</number>
        </threadpool>
    </share>

    <!-- Intelligent Information Pipeline ======================== -->
    <iip>
        <multicast>
            <group>224.0.0.50</group>
            <port>4000</port>
        </multicast>

        <!-- Service Broker Controller -->
<!--
        <sbc>
            <load>false</load>
        </sbc>
-->
        <!-- Service Broker -->
        <sb>
            <id>default</id>

            <standalone>true</standalone>
            <inet>
                <port>5681</port>
            </inet>

            <!-- Broker Pool -->
            <pool>
                <number>128</number>
            </pool>
        </sb>
    </iip>

    <mailserver>mail.inops.co.kr</mailserver>
<log>
     <level>ERROR</level>
 </log>
 <session>
  <timeout>60</timeout> 
  </session>


</server>
