<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="visualization.category"
            name="可视化">
      </category>
      <view
            category="visualization.category"
            class="com.sg.widgets.part.view.TreeNavigator"
            id="visualization.navigator"
            name="项目导航"
            restorable="true">
      </view>

   </extension>

</plugin>
