<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="visualization"
            name="可视化">
      </category>
      <view
            category="visualization"
            class="com.sg.widgets.part.view.TreeNavigator"
            id="vis.project.org"
            name="组织"
            restorable="true">
      </view>
      <view
            category="visualization"
            class="com.sg.business.visualization.table.ProductType"
            id="vis.project.product"
            name="产品类型"
            restorable="true">
      </view>
      <view
            category="visualization"
            class="com.sg.business.visualization.table.ProjectType"
            id="vis.project.type"
            name="项目类型"
            restorable="true">
      </view>
      <view
            category="visualization"
            class="com.sg.widgets.part.view.TableNavigator"
            id="vis.project"
            name="项目"
            restorable="true">
      </view>

   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="vis.project.org"
            tree="vis.project.org">
         <filterAction>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="organization.organizationType">
            </column>
            <column
                  columnDefinitionId="organization.isFunctionDepartment">
            </column>
            <column
                  columnDefinitionId="organization.isContainer">
            </column>
            <column
                  columnDefinitionId="organization.description">
            </column>
            <column
                  columnDefinitionId="organization.costCenterCode">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="organization.organizationType">
            </column>
            <column
                  columnDefinitionId="organization.isFunctionDepartment">
            </column>
            <column
                  columnDefinitionId="organization.isContainer">
            </column>
            <column
                  columnDefinitionId="organization.description">
            </column>
            <column
                  columnDefinitionId="organization.costCenterCode">
            </column>
         </searchAction>
      </navigator>
      <navigator
            id="vis.projectset"
            provideSelection="true"
            table="vis.projectset">
         <filterAction>
            <column
                  columnDefinitionId="project.projectnumber">
            </column>
            <column
                  columnDefinitionId="project.workorder">
            </column>
            <column
                  columnDefinitionId="project.desc">
            </column>
            <column
                  columnDefinitionId="project.status">
            </column>
            <column
                  columnDefinitionId="project.status"
                  name="状态">
            </column>
            <column
                  columnDefinitionId="planstart">
            </column>
            <column
                  columnDefinitionId="planfinish">
            </column>
            <column
                  columnDefinitionId="planduration">
            </column>
            <column
                  columnDefinitionId="planworks">
            </column>
            <column
                  columnDefinitionId="actualstart">
            </column>
            <column
                  columnDefinitionId="actualfinish">
            </column>
            <column
                  columnDefinitionId="actualduration">
            </column>
            <column
                  columnDefinitionId="actualworks">
            </column>
            <column
                  column="participate"
                  name="参与者"
                  type="String">
            </column>
            <column
                  column="producttype"
                  name="产品类型"
                  type="String">
            </column>
            <column
                  column="projecttype"
                  name="项目类型"
                  type="String">
            </column>
            <column
                  column="standardset"
                  name="标准"
                  type="String">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="project.projectnumber">
            </column>
            <column
                  columnDefinitionId="project.workorder">
            </column>
            <column
                  columnDefinitionId="project.desc">
            </column>
            <column
                  columnDefinitionId="project.status"
                  name="状态">
            </column>
            <column
                  columnDefinitionId="planstart">
            </column>
            <column
                  columnDefinitionId="planfinish">
            </column>
            <column
                  columnDefinitionId="planduration">
            </column>
            <column
                  columnDefinitionId="planworks">
            </column>
            <column
                  columnDefinitionId="actualstart">
            </column>
            <column
                  columnDefinitionId="actualfinish">
            </column>
            <column
                  columnDefinitionId="actualduration">
            </column>
            <column
                  columnDefinitionId="actualworks">
            </column>
            <column
                  column="participate"
                  name="参与者"
                  type="String">
            </column>
            <column
                  column="producttype"
                  name="产品类型"
                  type="String">
            </column>
            <column
                  column="projecttype"
                  name="项目类型"
                  type="String">
            </column>
            <column
                  column="standardset"
                  name="标准"
                  type="String">
            </column>
         </searchAction>
         <masterProvider
               id="vis.project.org">
         </masterProvider>
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.tree">
      <tree
            autoExpandLevel="3"
            canCreate="false"
            canDelete="false"
            canEdit="false"
            canRead="false"
            collectionName="organization"
            customItemHeight="40"
            dataSet="com.sg.business.model.dataset.organization.OrgOfOwnerManager"
            dbName="pm2"
            headerVisiable="false"
            id="vis.project.org"
            idfield="_id"
            markupEnabled="true"
            multiSelection="false"
            virtual="true">
         <column
               columnDefinitionId="organization.desc.html">
         </column>
         <column
               labelProvider="com.sg.business.visualization.labelprovide.OrganizationProjectCount"
               name="项目数"
               style="SWT.CENTER"
               type="String"
               width="80">
         </column>
         <structure
               modelRelation="organization_organization">
         </structure>
      </tree>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            canCreate="false"
            canDelete="true"
            canEdit="false"
            canRead="false"
            collectionName="project"
            dataSet="com.sg.business.model.dataset.visualization.VisProjectSet"
            dbName="pm2"
            id="vis.projectset">
         <column
               columnDefinitionId="project.status">
         </column>
         <column
               columnDefinitionId="project.projectnumber">
         </column>
         <column
               columnDefinitionId="project.desc">
         </column>
         <column
               columnDefinitionId="chargerid">
         </column>
         <column
               columnDefinitionId="planstart">
         </column>
         <column
               columnDefinitionId="planfinish">
         </column>
         <column
               columnDefinitionId="actualstart">
         </column>
         <column
               columnDefinitionId="actualfinish">
         </column>
         <columnGroup
               defaultGroup="false"
               id="com.sg.business.project.columnGroup1"
               name="计划进度">
            <column
                  columnDefinitionId="planduration">
            </column>
            <column
                  columnDefinitionId="planworks">
            </column>
         </columnGroup>
         <columnGroup
               defaultGroup="false"
               id="com.sg.business.project.columnGroup1"
               name="实际进度">
            <column
                  columnDefinitionId="actualduration">
            </column>
            <column
                  columnDefinitionId="actualworks">
            </column>
         </columnGroup>
         <columnGroup
               defaultGroup="false"
               name="组织和参与者">
            <column
                  columnDefinitionId="participate">
            </column>
            <column
                  columnDefinitionId="project.org_id">
            </column>
            <column
                  columnDefinitionId="project.launchorg_id">
            </column>
         </columnGroup>
         <columnGroup
               defaultGroup="false"
               name="选项属性">
            <column
                  column="producttype"
                  name="产品类型">
            </column>
            <column
                  column="projecttype"
                  name="项目类型">
            </column>
            <column
                  column="standardset"
                  name="标准">
            </column>
         </columnGroup>
      </table>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="project"
            dbName="pm2"
            id="editor.visualization.projectset"
            name="项目集">
         <navigatorpage
               id="projectset.schedule"
               navigatorId="vis.projectset"
               title="进度">
         </navigatorpage>
      </editor>
   </extension>

</plugin>
