<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="visualization"
            name="可视化">
      </category>
      <view
            category="visualization"
            class="com.sg.business.visualization.view.ProjectSetNavigator"
            id="vis.projectset.navigator"
            name="项目组合导航"
            restorable="true">
      </view>

   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="visualization"
            class="com.sg.business.visualization.view.DetailMain"
            id="vis.main"
            name="主要绩效指标"
            restorable="true">
      </view>
      <view
            category="visualization"
            class="com.sg.business.visualization.view.DashMainIndicators"
            id="vis.main.indicators"
            name="指示器"
            restorable="true">
      </view>
      <view
            category="visualization"
            class="com.sg.business.visualization.view.DashBudgetAndCost"
            id="vis.eco.budgetandcost"
            name="预算执行"
            restorable="true">
      </view>
      <view
            category="visualization"
            class="com.sg.business.visualization.view.DashEcoRevenue"
            id="vis.eco.revenue"
            name="销售利润"
            restorable="true">
      </view>
      <view
            category="visualization"
            class="com.sg.business.visualization.view.DashSchedualRisk"
            id="vis.risk.schedual"
            name="超期风险"
            restorable="true">
      </view>
      <view
            category="visualization"
            class="com.sg.business.visualization.view.DashCostRisk"
            id="vis.risk.cost"
            name="超支风险"
            restorable="true">
      </view>
      <view
            category="visualization"
            class="com.sg.business.visualization.view.DashDepartment"
            id="vis.dept.main"
            name="部门项目综合运营状况"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.widgets.navigator">
      <navigator
            id="vis.projectset.navigator"
            tree="vis.projectset.navigator">
         <filterAction>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="account.userid">
            </column>
            <column
                  columnDefinitionId="account.username">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="account.userid">
            </column>
            <column
                  columnDefinitionId="account.username">
            </column>
         </searchAction>
      </navigator>
      <navigator
            id="vis.projectset"
            provideSelection="true"
            table="vis.projectset">
         <!--filterAction>
            <column
                  columnDefinitionId="project.desc">
            </column>
            <column
                  columnDefinitionId="project.workorder">
            </column>
            <column
                  columnDefinitionId="planfinish">
            </column>
            <column
                  columnDefinitionId="project.launchorg_id">
            </column>
            <column
                  columnDefinitionId="chargerid">
            </column>
            <column
                  column="status"
                  name=" 状态"
                  type="String">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="project.desc">
            </column>
            <column
                  columnDefinitionId="project.workorder">
            </column>
            <column
                  columnDefinitionId="project.launchorg_id">
            </column>
            <column
                  columnDefinitionId="chargerid">
            </column>
         </searchAction-->
      </navigator>
      <navigator
            id="vis.projectset.schedual"
            provideSelection="true"
            table="vis.projectset.schedual">
      </navigator>
      <navigator
            id="vis.projectset.budgetandinvestment"
            provideSelection="true"
            table="vis.projectset.budgetandinvestment">
      </navigator>
      <navigator
            id="vis.projectset.revenue"
            provideSelection="true"
            table="vis.projectset.revenue">
      </navigator>
      <navigator
            id="vis.org.selector.managerrole"
            provideSelection="false"
            tree="vis.org.selector.managerrole">
         <filterAction>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="organization.organizationType">
            </column>
            <column
                  columnDefinitionId="organization.isFunctionDepartment">
            </column>
            <column
                  columnDefinitionId="organization.isContainer">
            </column>
            <column
                  columnDefinitionId="organization.description">
            </column>
            <column
                  columnDefinitionId="organization.costCenterCode">
            </column>
         </filterAction>
         <searchAction>
            <column
                  columnDefinitionId="com.sg.widgets.column.desc">
            </column>
            <column
                  columnDefinitionId="organization.organizationType">
            </column>
            <column
                  columnDefinitionId="organization.isFunctionDepartment">
            </column>
            <column
                  columnDefinitionId="organization.isContainer">
            </column>
            <column
                  columnDefinitionId="organization.description">
            </column>
            <column
                  columnDefinitionId="organization.costCenterCode">
            </column>
         </searchAction>
      </navigator>
   </extension>
   <extension
         point="com.sg.widgets.tree">
      <tree
            autoExpandLevel="2"
            canCreate="false"
            canDelete="false"
            canEdit="false"
            canRead="false"
            collectionName="organization"
            contentProvider="com.sg.business.visualization.data.ProjectSetContentProvider"
            customItemHeight="40"
            dataSet="com.sg.business.visualization.data.VisNavigatorDataSet"
            dbName="pm2"
            dropTargetListener="com.sg.business.visualization.view.DropProjectToOwnerSet"
            headerVisiable="false"
            id="vis.projectset.navigator"
            idfield="_id"
            lineVisiable="false"
            markupEnabled="true"
            multiSelection="false"
            virtual="true">
         <column
               column="desc"
               labelProvider="com.sg.business.visualization.labelprovide.ProjectSetNavigatorLabelProvider"
               name="组织名称"
               style="SWT.LEFT"
               type="String"
               width="-1">
         </column>
         <structure
               modelRelation="organization_organization">
         </structure>
         <structure
               modelRelation="organization_projectmanager">
         </structure>
      </tree>
      <tree
            autoExpandLevel="2"
            dataSet="com.sg.business.model.dataset.organization.OrgRootOfManagerRole"
            hasCheck="true"
            headerVisiable="false"
            id="vis.org.selector.managerrole"
            lineVisiable="false">
         <column
               columnDefinitionId="com.sg.widgets.column.desc">
         </column>
         <structure
               modelRelation="organization_organization">
         </structure>
      </tree>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            canCreate="false"
            canDelete="true"
            canEdit="false"
            canRead="false"
            collectionName="project"
            customItemHeight="60"
            dataSet="com.sg.business.model.dataset.visualization.VisProjectSet"
            dbName="pm2"
            dragSourceListener="com.sg.widgets.commons.dnd.DragPrimaryObjectSource"
            fix="1"
            headerVisiable="true"
            id="vis.projectset"
            lineVisiable="false"
            markupEnabled="true"
            multiSelection="true"
            preload="20"
            useHashlookup="true"
            virtual="true">
         <column
               column="desc"
               labelProvider="com.sg.business.visualization.labelprovide.DescLabelProvider"
               lazyDisplay="true"
               name="项目名称描述"
               type="String"
               width="320">
         </column>
         <column
               column="planfinish"
               labelProvider="com.sg.business.visualization.labelprovide.SchedualLabelProvider"
               lazyDisplay="true"
               name="进度概况"
               type="Date"
               width="200">
         </column>
         <column
               column="rndcost"
               labelProvider="com.sg.business.visualization.labelprovide.BudgetAndInvestmentLabelProvider"
               lazyDisplay="true"
               name="预算和投入"
               type="String"
               width="200">
         </column>
         <column
               column="revenue"
               labelProvider="com.sg.business.visualization.labelprovide.RevenueLabelProvider"
               lazyDisplay="true"
               name="销售收入和利润"
               type="String"
               width="200">
         </column>
      </table>
      <table
            canCreate="false"
            canDelete="true"
            canEdit="false"
            canRead="false"
            collectionName="project"
            customItemHeight="60"
            dataSet="com.sg.business.model.dataset.visualization.VisProjectSet"
            dbName="pm2"
            dragSourceListener="com.sg.widgets.commons.dnd.DragPrimaryObjectSource"
            fix="1"
            headerVisiable="true"
            id="vis.projectset.schedual"
            lineVisiable="false"
            markupEnabled="true"
            multiSelection="true"
            preload="20"
            useHashlookup="true"
            virtual="true">
         <column
               column="desc"
               labelProvider="com.sg.business.visualization.labelprovide.DescLabelProvider"
               lazyDisplay="true"
               name="项目名称描述"
               type="String"
               width="320">
         </column>
         <column
               column="planfinish"
               labelProvider="com.sg.business.visualization.labelprovide.SchedualLabelProvider"
               lazyDisplay="true"
               name="进度概况"
               type="Date"
               width="200">
         </column>
         <column
               column="status"
               labelProvider="com.sg.business.visualization.labelprovide.SchedualDetailLabelProvider"
               lazyDisplay="true"
               name="里程碑"
               type="String"
               width="160">
         </column>
      </table>
      <table
            canCreate="false"
            canDelete="true"
            canEdit="false"
            canRead="false"
            collectionName="project"
            customItemHeight="60"
            dataSet="com.sg.business.model.dataset.visualization.VisProjectSet"
            dbName="pm2"
            dragSourceListener="com.sg.widgets.commons.dnd.DragPrimaryObjectSource"
            fix="1"
            headerVisiable="true"
            id="vis.projectset.budgetandinvestment"
            lineVisiable="false"
            markupEnabled="true"
            multiSelection="true"
            preload="20"
            useHashlookup="true"
            virtual="true">
         <column
               column="desc"
               labelProvider="com.sg.business.visualization.labelprovide.DescLabelProvider"
               lazyDisplay="true"
               name="项目名称描述"
               type="String"
               width="320">
         </column>
         <column
               column="rndcost"
               labelProvider="com.sg.business.visualization.labelprovide.BudgetAndInvestmentLabelProvider"
               lazyDisplay="true"
               name="预算和投入"
               type="String"
               width="200">
         </column>
         <column
               column="budget"
               labelProvider="com.sg.business.visualization.labelprovide.BudgetLabelProvider"
               lazyDisplay="true"
               name="预算"
               type="String"
               width="60">
         </column>
         <column
               column="budget"
               labelProvider="com.sg.business.visualization.labelprovide.ActualCostLabelProvider"
               lazyDisplay="true"
               name="实际"
               type="String"
               width="60">
         </column>
         <column
               column="overcost"
               labelProvider="com.sg.business.visualization.labelprovide.OvercostCostLabelProvider"
               lazyDisplay="true"
               name="超支"
               type="String"
               width="60">
         </column>
      </table>
      <table
            canCreate="false"
            canDelete="true"
            canEdit="false"
            canRead="false"
            collectionName="project"
            customItemHeight="60"
            dataSet="com.sg.business.model.dataset.visualization.VisProjectSet"
            dbName="pm2"
            dragSourceListener="com.sg.widgets.commons.dnd.DragPrimaryObjectSource"
            fix="1"
            headerVisiable="true"
            id="vis.projectset.revenue"
            lineVisiable="false"
            markupEnabled="true"
            multiSelection="true"
            preload="20"
            useHashlookup="true"
            virtual="true">
         <column
               column="desc"
               labelProvider="com.sg.business.visualization.labelprovide.DescLabelProvider"
               lazyDisplay="true"
               name="项目名称描述"
               type="String"
               width="320">
         </column>
         <column
               column="revenue"
               labelProvider="com.sg.business.visualization.labelprovide.RevenueLabelProvider"
               lazyDisplay="true"
               name="销售收入和利润"
               type="String"
               width="200">
         </column>
         <column
               column="roi"
               labelProvider="com.sg.business.visualization.labelprovide.ROILabelProvider"
               lazyDisplay="true"
               name="指标"
               type="String"
               width="120">
         </column>
      </table>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="projectprovider"
            dbName="pm2"
            id="editor.visualization.projectset"
            name="项目组合">
         <navigatorpage
               id="projectset.info"
               navigatorId="vis.projectset"
               pageBodyPartCreater="com.sg.business.visualization.editor.ProjectSetContent"
               title="综合">
         </navigatorpage>
         <navigatorpage
               id="projectset.schedual"
               navigatorId="vis.projectset.schedual"
               pageBodyPartCreater="com.sg.business.visualization.editor.ProjectSetDashboardSchedual"
               title="进度">
         </navigatorpage>
         <navigatorpage
               id="projectset.budgetandinvestment"
               navigatorId="vis.projectset.budgetandinvestment"
               pageBodyPartCreater="com.sg.business.visualization.editor.ProjectSetDashboardBudInv"
               title="预算和投入">
         </navigatorpage>
         <navigatorpage
               id="projectset.revenue"
               navigatorId="vis.projectset.revenue"
               pageBodyPartCreater="com.sg.business.visualization.editor.ProjectSetDashboardRevenue"
               title="销售收入和利润">
         </navigatorpage>
      </editor>
      <editor
            collectionName="userprojectperf"
            dbName="pm2"
            id="editor.visualization.addprojectset"
            name="添加至项目组合">
         <basicpage
               id="项目组合"
               title="项目组合">
            <pagecolumn>
               <section
                     label="设定项目组合">
                  <combo
                        editPart="Combo"
                        editable="true"
                        id="desc"
                        inputValidator="com.sg.business.visualization.validator.ProjectSetValidator"
                        label="项目组合"
                        labelVisible="true"
                        name="desc"
                        optionProvider="com.sg.business.visualization.option.ProjectSetOption"
                        persistable="true"
                        required="false"
                        type="String">
                  </combo>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:main?before=create">
         <command
               commandId="visualization.command.demo1"
               icon="image/preview_24.png"
               label="检查客户端Flash"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="perspective.system">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:main?after=common.separator">
         <command
               commandId="visualization.command.projectset"
               icon="image/folderproject_24.png"
               label="添加至项目组合"
               style="push"
               tooltip="添加至项目组合">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="perspective.visualization">
                  </equals>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <test
                              args="add"
                              property="vis.projectaction.add">
                        </test>
                     </iterate>
                  </with>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="visualization.command.demo1"
            name="demo">
      </command>
      <command
            id="visualization.command.projectset"
            name="添加至项目组合">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sg.business.visualization.CheckFlash"
            commandId="visualization.command.demo1">
      </handler>
      <handler
            class="com.sg.business.visualization.view.handler.ProjectSetAdd"
            commandId="visualization.command.projectset">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.sg.business.visualization.view.propertytest.VisProjectActionTest"
            id="vis.projectaction"
            namespace="vis.projectaction"
            properties="add"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="com.mobnut.db.documentModelAdapter">
      <doc
            class="com.sg.business.visualization.data.OrganizationProjectSetFolder"
            collection="dummy"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.visualization.data.TypeProjectSetFolder"
            collection="dummy"
            db="pm2">
      </doc>
      <doc
            class="com.sg.business.visualization.data.OwnerProjectSetFolder"
            collection="dummy"
            db="pm2">
      </doc>
   </extension>

</plugin>
