<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.widgets.option">
      <option
            id="文档编辑器"
            label="文档编辑器"
            value="文档编辑器">
         <option
               id="editor.document.generic"
               label="通用文档"
               value="editor.document.generic">
         </option>
         <option
               id="document.projectproposal"
               label="立项简表"
               value="document.projectproposal">
         </option>
      </option>
      <option
            id="文档类型"
            label="文档类型"
            optionContribution="com.sg.business.document.DocTypeOption"
            value="文档类型">
         <option
               id="generic"
               label="通用文档"
               value="generic">
         </option>
         <option
               id="drawing"
               label="图纸"
               value="drawing">
         </option>
         <option
               id="design"
               label="设计文档"
               value="design">
         </option>
         <option
               id="program"
               label="方案"
               value="program">
         </option>
         <option
               id="report"
               label="报告"
               value="report">
         </option>
         <option
               id="data"
               label="表单"
               value="data">
         </option>
         <option
               id="book"
               label="手册"
               value="book">
         </option>
         <option
               id="news"
               label="文献"
               value="news">
         </option>
         <option
               id="note"
               label="笔记"
               value="note">
         </option>
         <option
               id="memo"
               label="备忘录"
               value="memo">
         </option>
         <option
               id="mail"
               label="邮件"
               value="mail">
         </option>
         <option
               id="sticky"
               label="便签"
               value="sticky">
         </option>
      </option>
      <option
            id="pdm集成版本策略">
         <option
               id="强制更新发布版本"
               label="强制更新发布版本"
               value="FORCEUPDATE">
         </option>
         <option
               id="升级发布版本"
               label="升级发布版本"
               value="VERSIONUPDATE">
         </option>
         <option
               id="忽略已发布文件，创建新文件"
               label="忽略已发布文件，创建新文件">
         </option>
      </option>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="documentd"
            dbName="pm2"
            id="editor.documentdefinition"
            image="image/documentd_24.png"
            name="文档模板"
            titleToolTips="文档模板">
         <basicpage
               description="文档模板"
               id="basicpage"
               image="image/documentd_24.png"
               title="文档模板">
            <pagecolumn
                  id="1">
               <section
                     label="基本信息">
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="documentnumber"
                        label="编号"
                        labelVisible="true"
                        name="documentnumber"
                        persistable="true"
                        required="false"
                        textMessage="&lt;自动编号&gt;"
                        type="String">
                     <extendValueDefinition
                           type="com.sg.business.commons.numbering.DocumentTemplateNumber">
                     </extendValueDefinition>
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="文档名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String"
                        widthHint="240">
                  </text>
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="documenttype"
                        label="文档类型"
                        labelVisible="true"
                        name="documenttype"
                        option="文档类型"
                        persistable="true"
                        required="false"
                        type="String">
                  </combo>
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="document_editorid"
                        label="编辑器"
                        labelVisible="true"
                        name="document_editorid"
                        option="文档编辑器"
                        persistable="true"
                        required="false"
                        type="String">
                  </combo>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="description"
                        label="说明"
                        labelVisible="true"
                        name="description"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               id="basicpage2"
               image="image/documentd_24.png"
               title="模板文件">
            <pagecolumn>
               <section
                     label="模板文件">
                  <file
                        editPart="OfficeFileUploader"
                        editable="true"
                        id="templatefile"
                        label="模板文件"
                        labelVisible="false"
                        name="templatefile"
                        persistable="true"
                        required="false">
                  </file>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="PDM集成设置"
               id="adapter"
               image="image/plugins_24.png"
               title="PDM适配器">
            <pagecolumn>
               <section
                     label="DCPDM文档">
                  <checkbox
                        editable="true"
                        id="adaptdcpdm"
                        label="同步到DCPDM"
                        labelVisible="true"
                        name="adaptdcpdm"
                        persistable="true"
                        required="false">
                  </checkbox>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="dcpdm_classouid"
                        label="类OUID"
                        labelVisible="true"
                        name="dcpdm_classouid"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <table
                        ctableId="pdmadapter.fieldmaptable"
                        editable="true"
                        id="dcpdm_fieldmap"
                        label="字段映射表"
                        labelVisible="true"
                        name="dcpdm_fieldmap"
                        persistable="true"
                        required="false">
                  </table>
               </section>
               <section
                     label="Windchill文档">
                  <checkbox
                        editable="true"
                        id="adaptwindchill"
                        label="同步到Windchill"
                        labelVisible="true"
                        name="adaptwindchill"
                        persistable="true"
                        required="false">
                  </checkbox>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="windchill_class"
                        label="类名称"
                        labelVisible="true"
                        name="windchill_class"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
                  <table
                        ctableId="pdmadapter.fieldmaptable"
                        editable="true"
                        id="dcpdm_fieldmap"
                        label="字段映射表"
                        labelVisible="true"
                        name="dcpdm_fieldmap"
                        persistable="true"
                        required="false">
                  </table>
               </section>
            </pagecolumn>
            <pagecolumn>
               <section
                     label="发布版本设置">
                  <radio
                        defaultValue="FORCEUPDATE"
                        editable="true"
                        id="adapt_update"
                        label="发布版本更新策略"
                        labelVisible="false"
                        name="adapt_update"
                        option="pdm集成版本策略"
                        persistable="true"
                        required="false"
                        type="String"
                        wrapRadio="true">
                  </radio>
               </section>
            </pagecolumn>
         </basicpage>
         <versionControl>
            <fieldname
                  fieldname="$all">
            </fieldname>
         </versionControl>
      </editor>
      <pageExtendsions
            id="editor.documentdefinition"
            location="after=basicpage"
            targetId="systempage">
      </pageExtendsions>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="document"
            dbName="pm2"
            id="editor.document.generic"
            image="image/document_24.png"
            name="文档"
            titleToolTips="文档">
         <basicpage
               description="文档基本信息"
               id="basicpage1"
               image="image/document_24.png"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本属性">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="documentnumber"
                        label="文档编号"
                        labelVisible="true"
                        name="documentnumber"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="文档名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="documenttype"
                        label="文档类型"
                        labelVisible="true"
                        name="documenttype"
                        option="文档类型"
                        persistable="true"
                        required="false"
                        type="String">
                  </combo>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="300"
                        id="_summary"
                        label="摘要"
                        labelVisible="true"
                        name="_summary"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <versionControl>
            <fieldname
                  fieldname="$all">
            </fieldname>
         </versionControl>
      </editor>
      <pageExtendsions
            id="editor.document.generic"
            location="after=basicpage1"
            targetId="document.systempage">
      </pageExtendsions>
      <pageExtendsions
            id="editor.document.generic"
            location="after=basicpage1"
            targetId="filepage">
      </pageExtendsions>
      <basicpage
            createAfterSave="true"
            description="文档的系统信息"
            id="document.systempage"
            image="image/system_24.png"
            title="系统">
         <pagecolumn>
            <section
                  expand="true"
                  label="文档信息">
               <fieldgroup
                     columnCount="2">
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="version"
                        label="版本"
                        labelVisible="true"
                        name="version"
                        persistable="true"
                        presentation="com.sg.business.commons.field.presentation.VersionPres"
                        required="false"
                        type="String"
                        userlabelForReadonly="true">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="status"
                        label="状态"
                        labelVisible="true"
                        name="status"
                        persistable="true"
                        presentation="com.sg.business.commons.field.presentation.DocumentStatusPres"
                        required="false"
                        type="String"
                        userlabelForReadonly="true">
                  </text>
               </fieldgroup>
               <fieldgroup
                     columnCount="2">
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="_caccount"
                        label="创建者"
                        labelVisible="true"
                        name="_caccount"
                        persistable="true"
                        presentation="com.sg.widgets.commons.valuepresentation.AccountTextPresentation"
                        required="false"
                        type="String"
                        userlabelForReadonly="true">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="_cdate"
                        label="创建时间"
                        labelVisible="true"
                        name="_cdate"
                        persistable="true"
                        presentation="com.sg.widgets.commons.valuepresentation.DateTimeTextPresentation"
                        required="false"
                        type="String"
                        userlabelForReadonly="true">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="_maccount"
                        label="修改者"
                        labelVisible="true"
                        name="_maccount"
                        persistable="true"
                        presentation="com.sg.widgets.commons.valuepresentation.AccountTextPresentation"
                        required="false"
                        type="String"
                        userlabelForReadonly="true">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="_mdate"
                        label="最后修改"
                        labelVisible="true"
                        name="_mdate"
                        persistable="true"
                        presentation="com.sg.widgets.commons.valuepresentation.DateTimeTextPresentation"
                        required="false"
                        type="String"
                        userlabelForReadonly="true">
                  </text>
               </fieldgroup>
            </section>
            <section
                  label="锁定">
               <fieldgroup
                     columnCount="3">
                  <checkbox
                        editable="false"
                        id="islocked"
                        label="锁定"
                        labelVisible="true"
                        name="islocked"
                        persistable="true"
                        required="false">
                  </checkbox>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="lockedby"
                        label="锁定者"
                        labelVisible="true"
                        name="lockedby"
                        persistable="true"
                        presentation="com.sg.widgets.commons.valuepresentation.AccountTextPresentation"
                        required="false"
                        type="String"
                        userlabelForReadonly="true">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="false"
                        id="lockon"
                        label="锁定时间"
                        labelVisible="true"
                        name="lockon"
                        persistable="true"
                        presentation="com.sg.widgets.commons.valuepresentation.DateTimeTextPresentation"
                        required="false"
                        type="String"
                        userlabelForReadonly="true">
                  </text>
               </fieldgroup>
            </section>
            <section
                  label="修订记录">
               <table
                     ctableId="com.sg.widgets.table.versionhistory"
                     editable="false"
                     heightHint="280"
                     id="_history"
                     isComputeField="true"
                     label="修订"
                     labelVisible="false"
                     name="_history"
                     persistable="true"
                     popupmenu="com.sg.widgets.part.editor.VersionPopupMenu"
                     required="false">
               </table>
            </section>
         </pagecolumn>
      </basicpage>
   </extension>
   <extension
         point="com.sg.widgets.dataEditor">
      <editor
            collectionName="document"
            dbName="pm2"
            id="document.projectproposal"
            image="image/doc_data_24.png"
            name="立项简表"
            titleToolTips="立项简表">
         <basicpage
               description="文档基本信息"
               id="basicpage1"
               image="image/doc_data_24.png"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     label="基本属性">
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="documentnumber"
                        label="文档编号"
                        labelVisible="true"
                        name="documentnumber"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <text
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="文档名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String">
                  </text>
                  <combo
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="documenttype"
                        label="文档类型"
                        labelVisible="true"
                        name="documenttype"
                        option="文档类型"
                        persistable="true"
                        required="false"
                        type="String">
                  </combo>
                  <text
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="300"
                        id="_summary"
                        label="摘要"
                        labelVisible="true"
                        name="_summary"
                        persistable="true"
                        required="false"
                        type="String">
                  </text>
               </section>
            </pagecolumn>
         </basicpage>
         <versionControl>
            <fieldname
                  fieldname="vault">
            </fieldname>
         </versionControl>
      </editor>
      <pageExtendsions
            id="document.projectproposal"
            location="after=basicpage1"
            targetId="filepage">
      </pageExtendsions>
      <pageExtendsions
            id="document.projectproposal"
            location="after=basicpage1"
            targetId="document.systempage">
      </pageExtendsions>
   </extension>
   <extension
         point="com.sg.widgets.table">
      <table
            hasBorder="true"
            id="pdmadapter.fieldmaptable">
         <column
               column="from"
               name="FROM"
               type="String">
         </column>
         <column
               column="to"
               name="TO"
               type="String">
         </column>
      </table>
   </extension>

</plugin>
